{{- /* dot == render.Server */}}

{{define "code/proto/tcp/server/impl/net/connectFunction"}}
func Connect{{ . | goID }}Bidi(
    ctx {{goPkgExt "context"}}Context,
    url *{{goPkgExt "net/url"}}URL,
    {{with $.SecuritySchemes}}security {{$ | goID}}Security,{{end}}
) (*{{ . | goID }}Closable, error) {
    producer, err := {{goPkgImpl .Protocol}}NewProducer(url.Host, url.Scheme, "", {{if $.SecuritySchemes}}security{{else}}nil{{end}})
    if err != nil {
        return nil, err
    }
    consumer, err := {{goPkgImpl .Protocol}}NewConsumer(url.Host, url.Scheme, {{if $.SecuritySchemes}}security{{else}}nil{{end}})
    if err != nil {
        return nil, err
    }
    return &{{ . | goID }}Closable{
        {{. | goID}}{producer: producer, consumer: consumer},
    }, nil
}
{{- end}}

{{define "code/proto/tcp/server/impl/net/connectProducerFunction"}}
func Connect{{ . | goID }}Producer(
    ctx {{goPkgExt "context"}}Context,
    url *{{goPkgExt "net/url"}}URL,
    {{with $.SecuritySchemes}}security {{$ | goID}}Security,{{end}}
) (*{{ . | goID }}Closable, error) {
    producer, err := {{goPkgImpl .Protocol}}NewProducer(url.Host, url.Scheme, "", {{if $.SecuritySchemes}}security{{else}}nil{{end}})
    if err != nil {
        return nil, err
    }
    return &{{ . | goID }}Closable{
        {{. | goID}}{producer: producer},
    }, nil
}
{{- end}}

{{define "code/proto/tcp/server/impl/net/connectConsumerFunction"}}
func Connect{{ . | goID }}Consumer(
    ctx {{goPkgExt "context"}}Context,
    url *{{goPkgExt "net/url"}}URL,
    {{with $.SecuritySchemes}}security {{$ | goID}}Security,{{end}}
) (*{{ . | goID }}Closable, error) {
    consumer, err := {{goPkgImpl .Protocol}}NewConsumer(url.Host, url.Scheme, {{if $.SecuritySchemes}}security{{else}}nil{{end}})
    if err != nil {
        return nil, err
    }
    return &{{ . | goID }}Closable{
        {{. | goID}}{consumer: consumer},
    }, nil
}
{{- end}}