{{- /* dot == render.ProtoServer */}}

{{define "server/kafka/impl/github.com/twmb/franz-go/newClient"}}
    producer := {{with impl .Protocol}}{{gopkg .}}{{end}}NewProducer([]string{url.Host}, bindings, nil)
    consumer := {{with impl .Protocol}}{{gopkg .}}{{end}}NewConsumer([]string{url.Host}, bindings, nil)
{{- end}}

{{define "server/kafka/impl/github.com/twmb/franz-go/newProducer"}}
    producer := {{with impl .Protocol}}{{gopkg .}}{{end}}NewProducer([]string{url.Host}, bindings, nil)
{{- end}}

{{define "server/kafka/impl/github.com/twmb/franz-go/newConsumer"}}
    consumer := {{with impl .Protocol}}{{gopkg .}}{{end}}NewConsumer([]string{url.Host}, bindings, nil)
{{- end}}