{{- /* dot == render.Server */}}
{{template "code/proto/server/newFunction" .}}
{{- if .SecuritySchemes}}
    {{ template "code/proto/server/securityInterface" . }}
{{- end}}
{{- if impl .Protocol}}
    {{template "code/proto/server/connectFunctions" .}}
{{- end}}

{{- /* TODO: consider IsPublisher and IsSubscriber}} */}}
type {{. | goID}} struct {
    producer {{goPkgUtil .Protocol}}Producer
    consumer {{goPkgUtil .Protocol}}Consumer
}

{{template "code/proto/server/commonMethods" .}}

{{- range .BoundChannels}}
    {{- if .ActiveProtocols | has $.Protocol }}
        func (s {{$ | goID}}) Open{{ . | goID }}{{$.Protocol | goID}}(
            ctx {{goPkgExt "context"}}Context,
            {{if .Parameters.Len}}params {{goPkg .}}{{goID .}}Parameters,{{end}}
            {{if .BoundOperations}}security {{goPkgRun}}AnySecurityScheme,{{end}}
        ) (*{{goPkg .}}{{ . | goID }}{{$.Protocol | goID}}, error) {
            return {{goPkg .}}Open{{ . | goID }}{{$.Protocol | goID}}(
                ctx, s, {{if .Parameters.Len}}params,{{end}}{{if .BoundOperations}}security,{{end}}
            )
        }
    {{- end}}
{{- end}}

{{template "code/proto/server/operationOpenMethods" .}}

