{{- /* dot == render.Server */}}
{{template "code/proto/server/newFunction" .}}
{{- if .SecuritySchemes}}
    {{ template "code/proto/server/securityInterface" . }}
{{- end}}
{{- if impl .Protocol}}
    {{template "code/proto/server/connectFunctions" .}}
{{- end}}

{{- /* TODO: consider IsPublisher and IsSubscriber}} */}}
type {{. | goIDUpper}} struct {
    producer {{goQualU .Protocol "Producer"}}
    consumer {{goQualU .Protocol "Consumer"}}
}

{{template "code/proto/server/commonMethods" .}}

{{- range .BoundChannels}}
    {{- if .ActiveProtocols | has $.Protocol }}
        func (s {{$ | goIDUpper}}) Open{{ . | goIDUpper }}{{$.Protocol | goIDUpper}}(
            ctx {{goQual "context.Context"}},
            {{if .Parameters.Len}}params {{goPkg .}}{{goIDUpper .}}Parameters,{{end}}
            {{if .BoundOperations}}security {{goQualR "AnySecurityScheme"}},{{end}}
        ) (*{{goPkg .}}{{ . | goIDUpper }}{{$.Protocol | goIDUpper}}, error) {
            return {{goPkg .}}Open{{ . | goIDUpper }}{{$.Protocol | goIDUpper}}(
                ctx, s, {{if .Parameters.Len}}params,{{end}}{{if .BoundOperations}}security,{{end}}
            )
        }
    {{- end}}
{{- end}}

{{template "code/proto/server/operationOpenMethods" .}}

