{{- /* dot == render.ProtoChannel */}}
{{template "code/proto/channel/newFunction" .}}

type {{ .Channel | goID }}Server{{.Protocol | goID}} interface {
    Open{{.Channel | goID}}{{.Protocol | goID}}({{goPkgExt "context"}}Context{{if .Parameters.Len}},{{ goID .Channel}}Parameters{{end}}{{if .BoundOperations}},{{goPkgRun}}AnySecurityScheme{{end}}) (*{{. | goID}}{{.Protocol | goID}}, error)
    {{if .IsPublisher}}Producer() {{goPkgUtil .Protocol}}Producer{{end}}
    {{if .IsSubscriber}}Consumer() {{goPkgUtil .Protocol}}Consumer{{end}}
}

func Open{{ .Channel | goID }}{{.Protocol | goID}}(
    ctx {{goPkgExt "context"}}Context,
    server {{.Channel | goID }}Server{{.Protocol | goID}},
    {{if .Parameters.Len}}params {{goID $}}Parameters,{{end}}
    {{if .BoundOperations}}security {{goPkgRun}}AnySecurityScheme,{{end}}
) (*{{. | goID}}{{.Protocol | goID}}, error) {
    var err error

    {{- if or .IsPublisher .IsSubscriber}}
        address, err := {{.Channel | goID}}Address({{if .Parameters.Len}}params{{end}}).Expand()
        if err != nil {
            return nil, err
        }
    {{- end}}
    {{- if .IsPublisher}}
        var publisher {{goPkgUtil .Protocol}}Publisher
        producer := server.Producer()
        if producer != nil {
            publisher, err = producer.Publisher(
                ctx,
                address,
                {{if .BoundOperations}}security{{else}}nil{{end}},
            )
            if err != nil {
                return nil, err
            }
        }
    {{- end}}
    {{- if .IsSubscriber}}
        var subscriber {{goPkgUtil .Protocol}}Subscriber
        consumer := server.Consumer()
        if consumer != nil {
            subscriber, err = consumer.Subscriber(
                ctx,
                address,
                {{if .BoundOperations}}security{{else}}nil{{end}},
            )
            if err != nil {
                return nil, err
            }
        }
    {{- end}}

    return New{{ .Channel | goID }}{{.Protocol | goID}}(
        {{ if .Parameters.Len}}params,{{end}}
        {{ if .IsPublisher}}publisher,{{end}}
        {{ if .IsSubscriber}}subscriber,{{end}}
    ), nil
}

type {{. | goID}}{{.Protocol | goID}} struct {
    address    {{goPkgRun}}ParamString
    {{if .IsPublisher}}publisher  {{goPkgUtil .Protocol}}Publisher{{end}}
    {{if .IsSubscriber}}subscriber {{goPkgUtil .Protocol}}Subscriber{{end}}
}

{{template "code/proto/channel/commonMethods" .}}
{{if .IsPublisher}}{{template "code/proto/channel/publishMethods" .}}{{end}}
{{if .IsSubscriber}}{{template "code/proto/channel/subscribeMethods" .}}{{end}}
