{{- /* dot == render.ProtoOperation */}}

type {{ . | goID }}Server{{.Protocol | goID}} interface {
    Open{{.Channel | goID}}{{.Protocol | goID}}({{goPkgExt "context"}}Context{{if .Channel.Parameters.Len}},{{goPkg .Channel}}{{goID .Channel}}Parameters{{end}}{{if .Channel.BoundOperations}},{{goPkgRun}}AnySecurityScheme{{end}}) (*{{goPkg .Channel}}{{goID .Channel}}{{goID .Protocol}}, error)
    Open{{. | goID}}{{.Protocol | goID}}({{goPkgExt "context"}}Context{{if .Channel.Parameters.Len}}, {{goPkg .Channel}}{{goID .Channel}}Parameters{{end}}{{if .SecuritySchemes}}, {{. | goID}}Security,{{end}}) (*{{. | goID}}{{.Protocol | goID}}, error)
    {{if .Channel.IsPublisher}}Producer() {{goPkgUtil .Protocol}}Producer{{end}}
    {{if .Channel.IsSubscriber}}Consumer() {{goPkgUtil .Protocol}}Consumer{{end}}
}

func Open{{ . | goID }}{{.Protocol | goID}}(
    ctx {{goPkgExt "context"}}Context,
    server {{. | goID }}Server{{.Protocol | goID}},
    {{ if .Channel.Parameters.Len}}params {{goPkg .Channel}}{{goID .Channel}}Parameters,{{end}}
    {{if .SecuritySchemes}}security {{. | goID}}Security,{{end}}
) (*{{. | goID}}{{.Protocol | goID}}, error) {
    ch, err := {{goPkg .Channel}}Open{{.Channel | goID}}{{.Protocol | goID}}(
        ctx,
        server,
        {{if .Channel.Parameters.Len}}params,{{end}}
        {{if .SecuritySchemes}}security{{else}}nil{{end}},
    )
    if err != nil {
        return nil, err
    }

    return &{{. | goID}}{{.Protocol | goID}}{
        Channel: ch,
    }, nil
}

type {{ . | goID }}Channel{{.Protocol | goID}} interface {
    Close() error
{{range .BoundMessages}}
    {{- if not (isVisible .) }}{{continue}}{{end}}
    {{if .IsPublisher}}
        Seal{{goID .}}({{goPkgUtil $.Protocol}}EnvelopeWriter, {{goPkg $.Channel}}{{ goID $.Channel }}EnvelopeMarshaler{{$.Protocol | goID}}) error
        Publish{{goID .}}({{goPkgExt "context"}}Context, {{if not (impl $.Protocol)}}{{goPkgUtil $.Protocol}}EnvelopeWriter,{{end}} {{goPkg $.Channel}}{{ goID $.Channel }}EnvelopeMarshaler{{$.Protocol | goID}}) error
    {{- end}}
    {{if .IsSubscriber}}
        Unseal{{goID .}}({{goPkgUtil $.Protocol}}EnvelopeReader, {{goPkg $.Channel}}{{ goID $.Channel }}EnvelopeUnmarshaler{{$.Protocol | goID}}) error
        Subscribe{{goID .}}({{goPkgExt "context"}}Context, func({{ goPkg .InType}}{{ goID .}}Receiver)) error
    {{- end}}
{{- end}}
}

type {{. | goID}}{{.Protocol | goID}} struct {
    Channel {{ . | goID }}Channel{{.Protocol | goID}}
}

{{template "code/proto/operation/commonMethods" .}}
{{- if .IsPublisher}}
    {{template "code/proto/operation/publishMethods" .}}
{{- end}}
{{- if .IsSubscriber}}
    {{template "code/proto/operation/subscribeMethods" .}}
{{- end}}

{{- if or .IsReplyPublisher .IsReplySubscriber}}
    {{- $replyCh := $.OperationReply.Channel }}
    {{- $innerChannel := .ProtoChannel.Channel}}
    {{- if .OperationReply.Channel}}{{$innerChannel = .OperationReply.Channel}}{{end}}

    type {{ . | goID }}ReplyChannel{{.Protocol | goID}} interface {
        Close() error
    {{range .BoundReplyMessages}}
        {{- if not (isVisible .) }}{{continue}}{{end}}
        {{if $.IsReplyPublisher}}
            Seal{{goID .}}({{goPkgUtil $.Protocol}}EnvelopeWriter, {{goPkg $replyCh}}{{ goID $replyCh }}EnvelopeMarshaler{{$.Protocol | goID}}) error
            Publish{{goID .}}({{goPkgExt "context"}}Context, {{if not (impl $.Protocol)}}{{goPkgUtil $.Protocol}}EnvelopeWriter,{{end}} {{goPkg $replyCh}}{{ goID $replyCh }}EnvelopeMarshaler{{$.Protocol | goID}}) error
        {{- end}}
        {{if $.IsReplySubscriber}}
            Unseal{{goID .}}({{goPkgUtil $.Protocol}}EnvelopeReader, {{goPkg $replyCh}}{{ goID $replyCh }}EnvelopeUnmarshaler{{$.Protocol | goID}}) error
            Subscribe{{goID .}}({{goPkgExt "context"}}Context, func({{ goPkg .InType}}{{ goID .}}Receiver)) error
        {{- end}}
    {{- end}}
    }

    type {{$ | goID}}{{$.Protocol | goID}}Reply struct {
        Channel {{ . | goID }}ReplyChannel{{.Protocol | goID}}
    }
    {{- if .IsReplyPublisher}}
        {{template "code/proto/operation/operationReply/publishMethods" .}}
    {{- end}}
    {{- if .IsReplySubscriber}}
        {{template "code/proto/operation/operationReply/subscribeMethods" .}}
    {{- end}}
    {{template "code/proto/operation/operationReply/commonMethods" .}}
{{- end}}
