// Pub
type (
	Producer interface {
		Publisher(ctx {{goQual "context.Context"}}, address string, security {{goQualR "AnySecurityScheme"}}) (Publisher, error)
	}
	Publisher interface {
		Send(ctx {{goQual "context.Context"}}, envelopes ...EnvelopeWriter) error
		Close() error
	}
	EnvelopeWriter interface {
        {{goQual "io.Writer"}}
		ResetPayload()
		SetHeaders(headers {{goQualR "Headers"}})
		SetContentType(contentType string)
	}
)

// Sub
type (
	Consumer interface {
		Subscriber(ctx {{goQual "context.Context"}}, address string, security {{goQualR "AnySecurityScheme"}}) (Subscriber, error)
	}
	Subscriber interface {
		Receive(ctx {{goQual "context.Context"}}, cb func(envelope EnvelopeReader)) error
		Close() error
	}
	EnvelopeReader interface {
        {{goQual "io.Reader"}}
		Headers() {{goQualR "Headers"}}
	}
)