// Pub
type (
	Producer interface {
		Publisher(ctx {{goPkgExt "context"}}Context, address string, security {{goPkgRun}}AnySecurityScheme) (Publisher, error)
	}
	Publisher interface {
		Send(ctx {{goPkgExt "context"}}Context, envelopes ...EnvelopeWriter) error
		Close() error
	}
	EnvelopeWriter interface {
        {{goPkgExt "io"}}Writer
		ResetPayload()
		SetHeaders(headers {{goPkgRun}}Headers)
		SetContentType(contentType string)
	}
)

// Sub
type (
	Consumer interface {
		Subscriber(ctx {{goPkgExt "context"}}Context, address string, security {{goPkgRun}}AnySecurityScheme) (Subscriber, error)
	}
	Subscriber interface {
		Receive(ctx {{goPkgExt "context"}}Context, cb func(envelope EnvelopeReader)) error
		Close() error
	}
	EnvelopeReader interface {
        {{goPkgExt "io"}}Reader
		Headers() {{goPkgRun}}Headers
	}
)