func NewEnvelopeOut(buf []byte) *EnvelopeOut {
    return &EnvelopeOut{Buffer: {{goPkgExt "bytes"}}NewBuffer(buf)}
}

type EnvelopeOut struct {
    *{{goPkgExt "bytes"}}Buffer
    headers     {{goPkgRun}}Headers
    contentType string
}

func (e *EnvelopeOut) ResetPayload() {
    e.Buffer.Reset()
}

func (e *EnvelopeOut) SetHeaders(headers {{goPkgRun}}Headers) {
    e.headers = headers
}

func (e *EnvelopeOut) SetContentType(contentType string) {
    e.contentType = contentType
}

func NewEnvelopeIn() *EnvelopeIn {
    return &EnvelopeIn{Buffer: {{goPkgExt "bytes"}}NewBuffer(nil)}
}

type EnvelopeIn struct {
    *{{goPkgExt "bytes"}}Buffer
    headers   {{goPkgRun}}Headers
}

func (e *EnvelopeIn) Headers() {{goPkgRun}}Headers {
    return e.headers
}
