import (
	"context"
	"net/http"
	"strings"
	"sync"
)

func NewConsumer(bindings *{{goQualE "http" "ServerBindings"}}, security {{goQualR "AnySecurityScheme"}}) *ConsumeClient {
	return &ConsumeClient{
		bindings:    bindings,
		mu:          &sync.RWMutex{},
		subscribers: make(map[string]*{{goQualR "Ring"}}[subscriberFunc]),
	}
}

type subscriberFunc func(envelope {{goQualE "http" "EnvelopeReader"}})

type ConsumeClient struct {
	http.ServeMux
	bindings    *{{goQualE "http" "ServerBindings"}}
	mu          *sync.RWMutex
	// subscribers are callbacks list by channel name.
	subscribers map[string]*{{goQualR "Ring"}}[subscriberFunc]
}

func (c *ConsumeClient) Subscriber(_ context.Context, address string, chb *{{goQualE "http" "ChannelBindings"}}, opb *{{goQualE "http" "OperationBindings"}}, security {{goQualR "AnySecurityScheme"}}) ({{goQualE "http" "Subscriber"}}, error) {
	c.mu.Lock()
	defer c.mu.Unlock()

	c.ensureChannel(address, opb)
	subscriber := &SubscribeChannel{
		channelBindings:   chb,
		operationBindings: opb,
		callbacks:         c.subscribers[address],
	}

	return subscriber, nil
}

func (c *ConsumeClient) ensureChannel(channelName string, opb *{{goQualE "http" "OperationBindings"}}) {
	if _, ok := c.subscribers[channelName]; !ok {
		c.subscribers[channelName] = {{goQualR "NewRing"}}[subscriberFunc]()
		c.HandleFunc(channelName, func(w http.ResponseWriter, req *http.Request) {
			if opb != nil {
				needMethod := opb.Method
				if needMethod != "" && strings.ToUpper(needMethod) != req.Method {
					http.Error(w, "method not allowed", http.StatusMethodNotAllowed)
					return
				}
			}

			c.mu.RLock()
			defer c.mu.RUnlock()
			if _, ok := c.subscribers[channelName]; !ok {
				http.Error(w, "channel not found", http.StatusNotFound)
				return
			}
			cb, ok := c.subscribers[channelName].Next()
			if !ok {
				http.Error(w, "no subscribers", http.StatusServiceUnavailable)
				return
			}
			cb(NewEnvelopeIn(req, w))
		})
	}
}
