import (
	"context"
	"fmt"
	"net/http"
	"strings"
	"sync"
)

func NewConsumer(bindings *{{goPkgUtil "http"}}ServerBindings, security {{goPkgRun}}AnySecurityScheme) *ConsumeClient {
	return &ConsumeClient{
		bindings:    bindings,
		mu:          &sync.RWMutex{},
		subscribers: make(map[string]*{{goPkgRun}}Ring[subscriberFunc]),
		security:    security,
	}
}

type subscriberFunc func(envelope {{goPkgUtil "http"}}EnvelopeReader)

type ConsumeClient struct {
	http.ServeMux
	bindings *{{goPkgUtil "http"}}ServerBindings
	security {{goPkgRun}}AnySecurityScheme
	mu       *sync.RWMutex
	// subscribers are callbacks list by channel name.
	subscribers map[string]*{{goPkgRun}}Ring[subscriberFunc]
}

func (c *ConsumeClient) Subscriber(_ context.Context, address string, chb *{{goPkgUtil "http"}}ChannelBindings, opb *{{goPkgUtil "http"}}OperationBindings, security {{goPkgRun}}AnySecurityScheme) ({{goPkgUtil "http"}}Subscriber, error) {
	c.mu.Lock()
	defer c.mu.Unlock()

	s := c.security
	if security != nil {
		s = security
	}
	// Because of the HTTP server implementation, we can't change HTTP handler once it has been registered.
	// So, here the bindings and security are used only on the first subscription for a channel, they are
	// ignored on subsequent subscription calls for this channel even if different.
	c.ensureChannel(address, opb, s)
	subscriber := &SubscribeChannel{
		channelBindings:   chb,
		operationBindings: opb,
		security:          security,
		callbacks:         c.subscribers[address],
	}

	return subscriber, nil
}

func (c *ConsumeClient) ensureChannel(channelName string, opb *{{goPkgUtil "http"}}OperationBindings, sec {{goPkgRun}}AnySecurityScheme) {
	if _, ok := c.subscribers[channelName]; !ok {
		c.subscribers[channelName] = {{goPkgRun}}NewRing[subscriberFunc]()
		c.HandleFunc(channelName, func(w http.ResponseWriter, req *http.Request) {
			if opb != nil {
				needMethod := opb.Method
				if needMethod != "" && strings.ToUpper(needMethod) != req.Method {
					http.Error(w, "method not allowed", http.StatusMethodNotAllowed)
					return
				}
			}

			if sec != nil {
				authOk, err := c.checkSecurity(req, sec)
				if err != nil {
					http.Error(w, "internal server error", http.StatusInternalServerError)
					return
				}
				if !authOk {
					http.Error(w, "unauthorized", http.StatusUnauthorized)
					return
				}
			}

			c.mu.RLock()
			defer c.mu.RUnlock()
			if _, ok := c.subscribers[channelName]; !ok {
				http.Error(w, "channel not found", http.StatusNotFound)
				return
			}
			cb, ok := c.subscribers[channelName].Next()
			if !ok {
				http.Error(w, "no subscribers", http.StatusServiceUnavailable)
				return
			}
			cb(NewEnvelopeIn(req, w))
		})
	}
}

func (c *ConsumeClient) checkSecurity(req *http.Request, sec {{goPkgRun}}AnySecurityScheme) (bool, error) {
	uAuth := req.URL.User
	if uAuth == nil {
		return false, nil
	}

	switch v := sec.(type) {
	case {{goPkgRun}}UserPasswordSecurity:
		uUser := uAuth.Username()
		uPass, _ := uAuth.Password()
		user, pass := v.UserPassword()
		return uUser == user && uPass == pass, nil
	case {{goPkgRun}}APIKeySecurity:
		key := v.APIKey()
		switch v.In() {
		case "user":
			uUser := uAuth.Username()
			return uUser == key, nil
		case "password":
			uPass, ok := uAuth.Password()
			if !ok {
				return false, nil // No api key provided
			}
			return uPass == key, nil
		}
	}

	return false, fmt.Errorf("unsupported security scheme: %v", sec.AuthType())
}