import (
	"context"
	"net/url"
)

func NewProducer(serverURL *url.URL, bindings *{{goQualU "http" "ServerBindings"}}, security {{goQualR "AnySecurityScheme"}}) *ProduceClient {
	return &ProduceClient{
		bindings:  bindings,
		serverURL: serverURL,
		security:  security,
	}
}

type ProduceClient struct {
	bindings  *{{goQualU "http" "ServerBindings"}}
	serverURL *url.URL
	security  {{goQualR "AnySecurityScheme"}}
}

func (p ProduceClient) Publisher(_ context.Context, address string, chb *{{goQualU "http" "ChannelBindings"}}, opb *{{goQualU "http" "OperationBindings"}}, security {{goQualR "AnySecurityScheme"}}) ({{goQualU "http" "Publisher"}}, error) {
	u := p.serverURL
	// Append the address to the server URL path
	if u.Path == "" {
		// url.JoinPath requires a leading slash in empty path to give the correct result
		// otherwise it will return the path as is, e.g. for "foo" it sets path to "foo" instead of "/foo"
		u.Path = "/"
	}
	if address != "" {
		u = u.JoinPath(address)
	}
	s := p.security
	if security != nil {
		s = security
	}
	return NewPublisher(chb, opb, u, s), nil
}
