import (
	"context"
	"fmt"
	"net/http"
	"net/url"
)

func NewPublisher(chb *{{goQualE "http" "ChannelBindings"}}, opb *{{goQualE "http" "OperationBindings"}}, channelURL *url.URL) *PublishChannel {
	return &PublishChannel{
		Client:          http.DefaultClient,
		channelURL:      channelURL,
		channelBindings: chb,
		operationBindings: opb,
	}
}

type PublishChannel struct {
	Client     *http.Client
	channelURL      *url.URL
	channelBindings *{{goQualE "http" "ChannelBindings"}}
	operationBindings *{{goQualE "http" "OperationBindings"}}
}

type ImplementationRecord interface {
	AsStdRecord() *http.Request
	// TODO: Bindings?
}

func (p PublishChannel) Send(ctx context.Context, envelopes ...{{goQualE "http" "EnvelopeWriter"}}) error {
	method := "GET"
	if p.operationBindings != nil && p.operationBindings.Method != "" {
		method = p.operationBindings.Method
	}

	for i, envelope := range envelopes {
		ir := envelope.(ImplementationRecord)
		req := ir.AsStdRecord().WithContext(ctx)
		if req.URL == nil {
			req.URL = p.channelURL
		}

		req.Method = method
		if _, err := p.Client.Do(req); err != nil { // TODO: implement request-response interface in channels
			return fmt.Errorf("envelope #%d: %w", i, err)
		}
	}
	return nil
}

func (p PublishChannel) Close() error {
	return nil
}
