import (
	"context"
)

type SubscribeChannel struct {
	channelBindings   *{{goPkgUtil "http"}}ChannelBindings
	operationBindings *{{goPkgUtil "http"}}OperationBindings
	security          {{goPkgRun}}AnySecurityScheme
	callbacks         *{{goPkgRun}}Ring[subscriberFunc]
}

func (s *SubscribeChannel) Receive(ctx context.Context, cb func(envelope {{goPkgUtil "http"}}EnvelopeReader)) error {
	element := s.callbacks.Append(cb)
	defer func() {
		s.callbacks.Remove(element)
	}()

	<-ctx.Done()
	return ctx.Err()
}

func (s *SubscribeChannel) Close() error {
	return nil
}
