import (
	"context"
)

type SubscribeChannel struct {
	channelBindings *{{goQualE "http" "ChannelBindings"}}
	operationBindings *{{goQualE "http" "OperationBindings"}}
	callbacks *{{goQualR "Ring"}}[subscriberFunc]
}

func (s *SubscribeChannel) Receive(ctx context.Context, cb func(envelope {{goQualE "http" "EnvelopeReader"}})) error {
	element := s.callbacks.Append(cb)
	defer func() {
		s.callbacks.Remove(element)
	}()

	<-ctx.Done()
	return ctx.Err()
}

func (s *SubscribeChannel) Close() error {
	return nil
}
