{{/* dot:
  .Server == render.Server
  .ServerVariables == []common.InfraServerVariableOpts
  */}}
{{define "infra/docker/amqp/services"}}
  "{{.Server.Name | toQuotable}}{{range .ServerVariables}}_{{.Value | toQuotable}}{{end}}":
    {{- $port := ($.Server.URL .ServerVariables).Port | default "5672"}}
    image: rabbitmq:management-alpine
    ports:
      - "{{$port}}:5672"
      {{with once "port_15672"}}- "15672:15672"{{end}}  # Management UI, creds:user/password
    volumes:
      - "{{.Server.Name | goID}}{{range .ServerVariables}}_{{.Value | goID}}{{end}}:/var/lib/rabbitmq"
    hostname: "{{($.Server.URL .ServerVariables).Hostname | toQuotable}}"
    restart: on-failure
    environment:
      - RABBITMQ_DEFAULT_USER=user
      - RABBITMQ_DEFAULT_PASS=password
{{- end}}

{{/* dot:
  .Server == render.Server
  .ServerVariables == []common.InfraServerVariableOpts
  */}}
{{define "infra/docker/amqp/volumes"}}
  "{{.Server.Name | goID}}{{range .ServerVariables}}_{{.Value | goID}}{{end}}":
{{- end}}
