{{/* dot:
  .Server == render.Server
  .ServerVariables == []common.InfraServerVariableOpts
  */}}
{{define "infra/docker/http/services"}}
  "{{.Server.Name | toQuotable}}{{range .ServerVariables}}_{{.Value | toQuotable}}{{end}}":
    {{- $port := ($.Server.URL .ServerVariables).Port | default "80"}}
    build:
      context: .
      dockerfile_inline: |
        FROM nginx:latest
        RUN echo 'server {\n\
          listen {{$port}};\n\
          server_name "{{($.Server.URL .ServerVariables).Hostname | toQuotable}}";\n\
          location / {\n\
              default_type text/plain;\n\
              try_files "" @ok;\n\
          }\n\
          location @ok {\n\
            return 200 "ok";\n\
          }\n\
          {{- with .Server.FirstSecurityScheme}}
              {{- if or (eq .SchemeType "userPassword") (eq .SchemeType "apiKey") }}
          auth_basic "{{.Name}}";\n\
          auth_basic_user_file /etc/nginx/.htpasswd;\n\
              {{- end}}
          {{- end}}
        }' > /etc/nginx/conf.d/default.conf
        {{- with .Server.FirstSecurityScheme}}
            {{- if eq .SchemeType "userPassword" }}
        RUN echo 'user:{{bcrypt "password" | replace "$" "$$"}}' > /etc/nginx/.htpasswd  # Credentials: user:password
            {{- else if eq .SchemeType "apiKey" }}
        RUN echo ':{{bcrypt "password" | replace "$" "$$"}}' > /etc/nginx/.htpasswd  # Password: password
            {{- end}}
        {{- end}}
      network: host
    tty: true
    ports:
      - "{{$port}}:{{$port}}/tcp"
    hostname: "{{($.Server.URL .ServerVariables).Hostname | toQuotable}}"
    restart: on-failure
{{- end}}
