{{/* dot:
  .Server == render.Server
  .ServerVariables == []common.InfraServerVariableOpts
  */}}
{{define "infra/docker/mqtt/services"}}
  "{{.Server.Name | toQuotable}}{{range .ServerVariables}}_{{.Value | toQuotable}}{{end}}":
    {{- $port := ($.Server.URL .ServerVariables).Port | default "1883"}}
    image: emqx/emqx:latest
    ports:
      - "{{$port}}:1883"
      {{with once "port_18083"}}- "18083:18083"{{end}}  # Management UI, creds:admin/public
    volumes:
      - "{{.Server.Name | goID}}-data{{range .ServerVariables}}_{{.Value | goID}}{{end}}:/opt/emqx/data"
      - "{{.Server.Name | goID}}-log{{range .ServerVariables}}_{{.Value | goID}}{{end}}:/opt/emqx/log"
    hostname: "{{($.Server.URL .ServerVariables).Hostname | toQuotable}}"
    restart: on-failure
{{- end}}

{{/* dot:
  .Server == render.Server
  .ServerVariables == []common.InfraServerVariableOpts
  */}}
{{define "infra/docker/mqtt/volumes"}}
  "{{.Server.Name | goID}}-data{{range .ServerVariables}}_{{.Value | goID}}{{end}}":
  "{{.Server.Name | goID}}-log{{range .ServerVariables}}_{{.Value | goID}}{{end}}":
{{- end}}
