{{/* dot:
  .Server == render.Server
  .ServerVariables == []common.InfraServerVariableOpts
  */}}
{{define "infra/docker/mqtt/services"}}
  "{{.Server.Name | toQuotable}}{{range .ServerVariables}}_{{.Value | toQuotable}}{{end}}":
    {{- $port := ($.Server.URL .ServerVariables).Port | default "1883"}}
    {{- with .Server.FirstSecurityScheme}}
    build:
      context: .
      dockerfile_inline: |
        FROM emqx/emqx:latest
      {{- if eq .SchemeType "userPassword" }}
        RUN echo 'user_id,password,is_superuser\nuser,password,true' > /opt/emqx/etc/auth-built-in-db-bootstrap.csv  # Credentials: user/password
    environment:
      - EMQX_AUTHENTICATION__1__MECHANISM=password_based
      - EMQX_AUTHENTICATION__1__BACKEND=built_in_database
      {{- end}}
    {{- else}}
    image: emqx/emqx:latest
    {{- end}}
    ports:
      - "{{$port}}:1883"
      {{with once "port_18083"}}- "18083:18083"{{end}}  # Management UI, credentials: admin/public
    volumes:
      - "{{.Server.Name | goIDLower}}-data{{range .ServerVariables}}_{{.Value | goIDLower}}{{end}}:/opt/emqx/data"
      - "{{.Server.Name | goIDLower}}-log{{range .ServerVariables}}_{{.Value | goIDLower}}{{end}}:/opt/emqx/log"
    hostname: "{{($.Server.URL .ServerVariables).Hostname | toQuotable}}"
    restart: on-failure
{{- end}}

{{/* dot:
  .Server == render.Server
  .ServerVariables == []common.InfraServerVariableOpts
  */}}
{{define "infra/docker/mqtt/volumes"}}
  "{{.Server.Name | goIDLower}}-data{{range .ServerVariables}}_{{.Value | goIDLower}}{{end}}":
  "{{.Server.Name | goIDLower}}-log{{range .ServerVariables}}_{{.Value | goIDLower}}{{end}}":
{{- end}}
