{{/* dot:
  .Server == render.Server
  .ServerVariables == []common.InfraServerVariableOpts
  */}}
{{define "infra/docker/redis/services"}}
  "{{.Server.Name | toQuotable}}{{range .ServerVariables}}_{{.Value | toQuotable}}{{end}}":
    {{- $port := ($.Server.URL .ServerVariables).Port | default "6379"}}
    {{- with .Server.FirstSecurityScheme}}
    build:
      context: .
      dockerfile_inline: |
        FROM redis:latest
        RUN mkdir -p /usr/local/etc/redis
      {{- if eq .SchemeType "userPassword" }}
        RUN echo 'user user allcommands allkeys allchannels on >password' >> /usr/local/etc/redis/redis.conf  # Credentials: user/password
      {{- else if eq .SchemeType "apiKey" }}
        RUN echo 'requirepass apiKey' >> /usr/local/etc/redis/redis.conf  # API Key: apiKey
      {{- end }}
        CMD [ "redis-server", "/usr/local/etc/redis/redis.conf" ]
    {{- else}}
    image: redis:latest
    {{- end}}
    ports:
      - "{{$port}}:6379"
    volumes:
      - "{{.Server.Name | goIDLower}}{{range .ServerVariables}}_{{.Value | goIDLower}}{{end}}:/data"
    hostname: "{{($.Server.URL .ServerVariables).Hostname | toQuotable}}"
    restart: on-failure
{{- end}}

{{/* dot:
  .Server == render.Server
  .ServerVariables == []common.InfraServerVariableOpts
  */}}
{{define "infra/docker/redis/volumes"}}
  "{{.Server.Name | goIDLower}}{{range .ServerVariables}}_{{.Value | goIDLower}}{{end}}":
{{- end}}
