{{/* dot:
  .Server == render.Server
  .ServerVariables == []common.ConfigServerVariable
  */}}
{{define "infra/docker/redis/services"}}
  "{{.Server.Name | toQuotable}}{{range .ServerVariables}}_{{.Value | toQuotable}}{{end}}":
    {{- $port := ($.Server.URL .ServerVariables).Port | default "6379"}}
    image: redis:latest
    ports:
      - "{{$port}}:6379"
    volumes:
      - "{{.Server.Name | goID}}{{range .ServerVariables}}_{{.Value | goID}}{{end}}:/data"
    hostname: "{{($.Server.URL .ServerVariables).Hostname | toQuotable}}"
    restart: on-failure
{{- end}}

{{/* dot:
  .Server == render.Server
  .ServerVariables == []common.ConfigServerVariable
  */}}
{{define "infra/docker/redis/volumes"}}
  "{{.Server.Name | goID}}{{range .ServerVariables}}_{{.Value | goID}}{{end}}":
{{- end}}
