{{/* dot:
  .Server == common.Renderable: Ref -> render.Server or render.Server
  .ServerVariables == []common.ConfigServerVariable
  */}}
{{define "infra/docker/tcp/services"}}
  "{{.Server.Name | toQuotable}}{{range .ServerVariables}}_{{.Value | toQuotable}}{{end}}":
    {{- $server := deref .Server}}
    {{- $port := ($server.URL .ServerVariables).Port | default "1"}}
    image: alpine/socat:latest
    command: ["TCP-LISTEN:{{$port}},fork,reuseaddr", "STDIN"]
    stdin_open: true
    tty: true
    ports:
      - "{{$port}}:{{$port}}/tcp"
    hostname: "{{($server.URL .ServerVariables).Hostname | toQuotable}}"
    restart: on-failure
{{- end}}
