{{/* dot:
  .Server == render.Server
  .ServerVariables == []common.InfraServerVariableOpts
  */}}
{{define "infra/docker/tcp/services"}}
  "{{.Server.Name | toQuotable}}{{range .ServerVariables}}_{{.Value | toQuotable}}{{end}}":
    {{- $port := ($.Server.URL .ServerVariables).Port | default "1"}}
    image: alpine/socat:latest
    command: ["TCP-LISTEN:{{$port}},fork,reuseaddr", "STDIN"]
    stdin_open: true
    tty: true
    ports:
      - "{{$port}}:{{$port}}/tcp"
    hostname: "{{($.Server.URL .ServerVariables).Hostname | toQuotable}}"
    restart: on-failure
{{- end}}
