{{/* dot:
  .Server == render.Server
  .ServerVariables == []common.InfraServerVariableOpts
  */}}
{{define "infra/docker/ws/services"}}
  "{{.Server.Name | toQuotable}}{{range .ServerVariables}}_{{.Value | toQuotable}}{{end}}":
    {{- $port := ($.Server.URL .ServerVariables).Port | default "80"}}
    build:
      context: .
      dockerfile_inline: |
        FROM alpine:latest
        RUN apk add --no-cache websocat nginx
        RUN echo -e 'server {\n\
          listen {{$port}};\n\
          server_name "{{($.Server.URL .ServerVariables).Hostname | toQuotable}}";\n\
          location / {\n\
            proxy_pass http://127.0.0.1:{{if ne $port "8080"}}8080{{else}}18080{{end}};\n\
            proxy_http_version 1.1;\n\
            proxy_set_header Upgrade $$http_upgrade;\n\
            proxy_set_header Connection "upgrade";\n\
          }\n\
          {{- with .Server.FirstSecurityScheme}}
              {{- if or (eq .SchemeType "userPassword") (eq .SchemeType "apiKey") }}
          auth_basic "{{.Name}}";\n\
          auth_basic_user_file /etc/nginx/.htpasswd;\n\
              {{- end}}
          {{- end}}
        }' > /etc/nginx/http.d/default.conf
        {{- with .Server.FirstSecurityScheme}}
            {{- if eq .SchemeType "userPassword" }}
        RUN echo 'user:{{bcrypt "password" | replace "$" "$$"}}' > /etc/nginx/.htpasswd  # Credentials: user/password
            {{- else if eq .SchemeType "apiKey" }}
                {{- if eq .Params.In "user" }}
        RUN echo 'apiKey:{{bcrypt "" | replace "$" "$$"}}' > /etc/nginx/.htpasswd  # API Key: apiKey
                {{- else if eq .Params.In "password" }}
        RUN echo ':{{bcrypt "apiKey" | replace "$" "$$"}}' > /etc/nginx/.htpasswd  # API Key: apiKey
                {{- end}}
            {{- end}}
        {{- end}}
        RUN echo -e '#/bin/sh\n\
          set -e\n\
          nginx -g "daemon off;" &\n\
          exec "$@"\n' > /docker-entrypoint.sh
        RUN chmod +x /docker-entrypoint.sh
        ENTRYPOINT ["/docker-entrypoint.sh"]
      network: host
    stdin_open: true
    init: true
    tty: true
    command: ["websocat", "-s", "127.0.0.1:{{if ne $port "8080"}}8080{{else}}18080{{end}}"]
    ports:
      - "{{$port}}:{{$port}}"
    hostname: "{{($.Server.URL .ServerVariables).Hostname | toQuotable}}"
    restart: on-failure
{{- end}}
