{{- /*
    .Object == render.Channel;
    .Config == common.ConfigDiagram
    */}}
{{define "diagram/channel"}}
{{- if $.Config.ShowServers }}
    {{- range $server := $.Object.BoundServers }}
        {{if $.Config.ShowDocumentBorders}}{{goIDLower $server.Pointer.Location}}.{{end}}{{goIDLower $server}}.{{ goIDLower $.Object }}: {{with $.Object.Address}}"{{$.Object.Address | toQuotable | ellipsis 25}}"{{end}} {
            class: channel
        }
    {{- end}}
{{- else }}
    {{- if $.Config.ShowDocumentBorders}}{{goIDLower $.Object.Pointer.Location}}.{{end}}{{ goIDLower $.Object }}: {{with $.Object.Address}}"{{$.Object.Address | toQuotable | ellipsis 25}}"{{end}} {
        class: channel
    }
{{- end}}

{{- end}}