{{- /*
    .Object == render.Operation;
    .Config == common.ConfigDiagram
    */}}
{{define "diagram/operation"}}
{{- if $.Config.ShowDocumentBorders}}{{goID $.Object.Pointer.Location}}.{{end}}{{ goID $.Object }}: "{{$.Object.IsPublisher | ternary "📤" "📥"}} {{$.Object.Name | toQuotable | ellipsis 25}}" {
    class: operation
}

{{- if $.Config.ShowServers }}
    {{- range $server := $.Object.Channel.BoundServers }}
        {{- range $message := $.Object.BoundMessages }}
            {{if $.Config.ShowDocumentBorders}}{{goID $.Object.Pointer.Location}}.{{end}}{{ goID $.Object }} {{$.Object.IsPublisher | ternary "->" "<-"}} {{if $.Config.ShowDocumentBorders}}{{goID $server.Pointer.Location}}.{{end}}{{goID $server}}{{if $.Config.ShowChannels}}.{{goID $.Object.Channel}}{{end}}: {
                {{- if isVisible $message }}{{with $message.Name}}label: "✉️ {{. | toQuotable | ellipsis 25}}"{{end}}{{end}}
            }
        {{- end}}
    {{- end}}
{{- else}}
    {{- range $message := $.Object.BoundMessages }}
        {{if $.Config.ShowDocumentBorders}}{{goID $.Object.Pointer.Location}}.{{end}}{{ goID $.Object }} {{$.Object.IsPublisher | ternary "->" "<-"}} {{if $.Config.ShowDocumentBorders}}{{goID $.Object.Channel.Pointer.Location}}.{{end}}{{goID $.Object.Channel}}: {
            {{- if isVisible $message }}{{with $message.Name}}label: "✉️ {{. | toQuotable | ellipsis 25}}"{{end}}{{end}}
        }
    {{- end}}
{{- end}}
{{- end}}
