{{- /*
    .Object == render.Server;
    .Config == common.ConfigDiagram
    */}}
{{define "diagram/server"}}
{{- with $.Object}}
{{- if $.Config.ShowDocumentBorders}}{{goIDLower .Pointer.Location}}.{{end}}{{ goIDLower . }}: "🖥 [{{.Protocol}}] {{toQuotable .Host}}{{with .SecuritySchemes}}\n {{range .}} 🔒{{toQuotable .SchemeType}} {{end}}{{end}}" {
    class: server
    {{- with tryTmpl (print "diagram/server/proto/" .Protocol) $ }}{{.}}{{end}}
}
{{- end}}
{{- end}}