{{- /*
    .Object == render.Server;
    .Config == common.ConfigDiagram
    */}}
{{define "diagram/server"}}
{{- if $.Config.ShowDocumentBorders}}{{goIDLower $.Object.Pointer.Location}}.{{end}}{{ goIDLower $.Object }}: "🖥 [{{$.Object.Protocol}}] {{$.Object.Host | toQuotable}}" {
    class: server
    {{- with tryTmpl (print "diagram/server/proto/" $.Object.Protocol) $ }}{{.}}{{end}}
}
{{- end}}
