{{- /* dot == render.ProtoChannel */}}
{{template "code/proto/channel/newFunction" .}}
{{template "code/proto/channel/serverInterface" .}}
{{template "code/proto/channel/openFunction" .}}

type {{. | goIDUpper}}{{.Protocol | goIDUpper}} struct {
    address    {{goPkgRun}}ParamString
    {{if .IsPublisher}}publisher  {{goPkgUtil .Protocol}}Publisher{{end}}
    {{if .IsSubscriber}}subscriber {{goPkgUtil .Protocol}}Subscriber{{end}}
    topic string
}

func (c {{. | goIDUpper}}{{.Protocol | goIDUpper}}) Topic() string {
    return c.topic
}

{{template "code/proto/channel/commonMethods" .}}
{{if .IsPublisher}}{{template "code/proto/channel/publishMethods" .}}{{end}}
{{if .IsSubscriber}}{{template "code/proto/channel/subscribeMethods" .}}{{end}}
