import (
	"context"
	"errors"
	"time"

	"github.com/rabbitmq/amqp091-go"
)

type PublishChannel struct {
	*amqp091.Channel
	exchangeName    string
	channelBindings *{{goQualE "amqp" "ChannelBindings"}}
	operationBindings *{{goQualE "amqp" "OperationBindings"}}
}

type ImplementationRecord interface {
	AsAMQP091Record() *amqp091.Publishing
	RoutingKey() string
}

func (p PublishChannel) Send(ctx context.Context, envelopes ...{{goQualE "amqp" "EnvelopeWriter"}}) error {
	var err error
	for _, envelope := range envelopes {
		rm := envelope.(ImplementationRecord)
		record := rm.AsAMQP091Record()
		record.Timestamp = time.Time{}
		var mandatory bool
		if p.operationBindings != nil {
			record.DeliveryMode = uint8(p.operationBindings.DeliveryMode)
			record.Priority = uint8(p.operationBindings.Priority)
			if p.operationBindings.Timestamp {
				record.Timestamp = time.Now()
			}
			record.ReplyTo = p.operationBindings.ReplyTo
			record.UserId = p.operationBindings.UserID
			if p.operationBindings.Expiration > 0 {
				record.Expiration = p.operationBindings.Expiration.String()
			}
			if len(p.operationBindings.CC) > 0 {
				record.Headers["CC"] = p.operationBindings.CC
			}
			if len(p.operationBindings.BCC) > 0 {
				record.Headers["BCC"] = p.operationBindings.BCC
			}
			mandatory = p.operationBindings.Mandatory
		}

		err = errors.Join(err, p.Channel.PublishWithContext(
			ctx, p.exchangeName, rm.RoutingKey(), mandatory, false, *record,
		))
	}
	return err
}
