import (
	"context"

	"github.com/bdragon300/go-asyncapi/run"
	runMqtt "github.com/bdragon300/go-asyncapi/run/mqtt"
	mqtt "github.com/eclipse/paho.mqtt.golang"
)

func NewClient(ctx context.Context, serverURL string, bindings *runMqtt.ServerBindings, initClientOptions *mqtt.ClientOptions, security run.AnySecurityScheme) (*Client, error) {
	co := initClientOptions
	if co == nil {
		co = mqtt.NewClientOptions()
	}

	co.AddBroker(serverURL)
	if bindings != nil {
		co.SetCleanSession(bindings.CleanSession)
		if bindings.ClientID != "" {
			co.SetClientID(bindings.ClientID)
		}
		if bindings.KeepAlive != 0 {
			co.SetKeepAlive(bindings.KeepAlive)
		}
		if bindings.LastWill != nil {
			co.SetWill(bindings.LastWill.Topic, bindings.LastWill.Message, byte(bindings.LastWill.QoS), bindings.LastWill.Retain)
		}
	}

	cl := mqtt.NewClient(co)
	tok := cl.Connect()
	select {
	case <-ctx.Done():
		return nil, ctx.Err()
	case <-tok.Done():
		if tok.Error() != nil {
			return nil, tok.Error()
		}
	}

	return &Client{
		Client:      cl,
		bindings:    bindings,
	}, nil
}

type Client struct {
	mqtt.Client
	bindings    *runMqtt.ServerBindings
}

func (c *Client) Subscriber(ctx context.Context, address string, chb *runMqtt.ChannelBindings, opb *runMqtt.OperationBindings, security run.AnySecurityScheme) (runMqtt.Subscriber, error) {
	var qos byte
	if opb != nil {
		qos = byte(opb.QoS)
	}

	ch := make(chan runMqtt.EnvelopeReader)
	tok := c.Client.Subscribe(address, qos, func(_ mqtt.Client, message mqtt.Message) {
		ch <- NewEnvelopeIn(message)
	})
	select {
	case <-ctx.Done():
		return nil, ctx.Err()
	case <-tok.Done():
		if tok.Error() != nil {
			return nil, tok.Error()
		}
	}

	ctx2, cancel := context.WithCancel(context.Background())
	r := SubscribeChannel{
		Client:            c.Client,
		Topic:             address,
		channelBindings:   chb,
		operationBindings: opb,
		envelopes:         ch,
		ctx:               ctx2,
		cancel:            cancel,
	}
	return &r, nil
}

func (c *Client) Publisher(_ context.Context, address string, chb *runMqtt.ChannelBindings, opb *runMqtt.OperationBindings, security run.AnySecurityScheme) (runMqtt.Publisher, error) {
	ctx2, cancel := context.WithCancel(context.Background())
	r := PublishChannel{
		Client:          c.Client,
		Topic:           address,
		channelBindings: chb,
		operationBindings: opb,
		ctx:             ctx2,
		cancel:          cancel,
	}
	return &r, nil
}
