import (
	"bytes"

	mqtt "github.com/eclipse/paho.mqtt.golang"
)

func NewEnvelopeOut(buf []byte) *EnvelopeOut {
	return &EnvelopeOut{
		OutboundMessage: OutboundMessage{Buffer: bytes.NewBuffer(buf)},
	}
}

type OutboundMessage struct {
	*bytes.Buffer
	topic       string
	qos         byte
	retained    bool
	headers     {{goPkgRun}}Headers
	contentType string
}

type EnvelopeOut struct {
	OutboundMessage
	messageBindings {{goPkgUtil "mqtt"}}MessageBindings
}

func (e *EnvelopeOut) ResetPayload() {
	e.Buffer.Reset()
}

func (e *EnvelopeOut) SetHeaders(headers {{goPkgRun}}Headers) {
	e.headers = headers
}

func (e *EnvelopeOut) SetContentType(contentType string) {
	e.contentType = contentType
}

func (e *EnvelopeOut) SetBindings(bindings {{goPkgUtil "mqtt"}}MessageBindings) {
	e.messageBindings = bindings
}

func (e *EnvelopeOut) SetTopic(topic string) {
	e.topic = topic
}

func (e *EnvelopeOut) SetQoS(qos byte) {
	e.qos = qos
}

func (e *EnvelopeOut) SetRetained(retained bool) {
	e.retained = retained
}

func NewEnvelopeIn(msg mqtt.Message) *EnvelopeIn {
	return &EnvelopeIn{Message: msg, reader: bytes.NewReader(msg.Payload())}
}

type EnvelopeIn struct {
	mqtt.Message
	reader  *bytes.Reader
	headers {{goPkgRun}}Headers
}

func (e *EnvelopeIn) Read(p []byte) (n int, err error) {
	return e.reader.Read(p)
}

func (e *EnvelopeIn) Headers() {{goPkgRun}}Headers {
	return e.headers
}
