{{- localobj .Type}}
{{template "proto/channel/bareNewFunction" .}}

{{template "proto/channel/openFunction" .}}

{{- if gondefined .Type}}
{{.Type| godef}}

{{template "proto/channel/commonMethods" .}}

{{if .IsPublisher}}{{template "proto/channel/barePublishMethods" .}}{{end}}

{{if .IsSubscriber}}{{template "proto/channel/subscribeMethods" .}}{{end}}

type {{ .Type | goid }}Server interface {
    Open{{.Type | goid}}(ctx {{qual "context.Context"}}, {{if .ParametersType}}params {{.ParametersType| gousage}}{{end}}) (*{{.Type| gousage}}, error)
    {{if .IsPublisher}}Producer() {{qualrun .ProtoName "Producer"}}{{end}}
    {{if .IsSubscriber}}Consumer() {{qualrun .ProtoName "Consumer"}}{{end}}
}

{{- end}}
