{{- def .Type}}
{{- if .BoundMessages }}
    {{template "channel/proto/newFunction" .}}

    {{template "channel/proto/openFunction" .}}
{{- end}}

{{- if ndefined .Type}}
{{.Type| godef}}

{{template "channel/proto/commonMethods" .}}

{{if .IsPublisher}}{{template "channel/proto/publishMethods" .}}{{end}}

{{if .IsSubscriber}}{{template "channel/proto/subscribeMethods" .}}{{end}}

{{template "channel/proto/serverInterface" .}}
{{- end}}
