{{- def .Type}}
func New{{ .Type | goid }}(producer {{goqualrun .Protocol "Producer"}}, consumer {{goqualrun .Protocol "Consumer"}}) *{{.Type| gousage}} {
    return &{{.Type| gousage}}{
        producer: producer,
        consumer: consumer,
    }
}

{{- if ndefined .Type}}
{{.Type| godef}}

func (s {{.Type| gousage}}) Name() string {
    return "{{ . | goid }}"
}

func (s {{.Type| gousage}}) Producer() {{goqualrun .Protocol "Producer"}} {
    return s.producer
}

func (s {{.Type| gousage}}) Consumer() {{goqualrun .Protocol "Consumer"}} {
    return s.consumer
}

{{template "server/proto/channelOpenMethods" .}}

{{- end}}