{{- /* dot == render.Server */}}

{{define "code/proto/ip/server/impl/net/connectFunction"}}
func Connect{{ . | goIDUpper }}Bidi(
    ctx {{goPkgExt "context"}}Context,
    url *{{goPkgExt "net/url"}}URL,
    localHost string,
    {{with $.SecuritySchemes}}security {{$ | goIDUpper}}Security,{{end}}
) (*{{ . | goIDUpper }}Closable, error) {
    if !{{goPkgExt "strings"}}Contains(url.Host, ":") {
        return nil, {{goPkgExt "errors"}}New("missing ip protocol family in url port")
    }
    h, p, err := {{goPkgExt "net"}}SplitHostPort(url.Host)
	if err != nil {
        return nil, {{goPkgExt "fmt"}}Errorf("parse url: %w", err)
    }
    client, err := {{goPkgImpl .Protocol}}NewClient(localHost, h, url.Scheme + ":" + p, {{if $.SecuritySchemes}}security{{else}}nil{{end}})
    if err != nil {
        return nil, err
    }
    consumer, producer := client, client
    return &{{ . | goIDUpper }}Closable{
        {{. | goIDUpper}}{producer: producer, consumer: consumer},
    }, nil
}
{{- end}}

{{define "code/proto/ip/server/impl/net/connectProducerFunction"}}
func Connect{{ . | goIDUpper }}Producer(
    ctx {{goPkgExt "context"}}Context,
    url *{{goPkgExt "net/url"}}URL,
    {{with $.SecuritySchemes}}security {{$ | goIDUpper}}Security,{{end}}
) (*{{ . | goIDUpper }}Closable, error) {
    if !{{goPkgExt "strings"}}Contains(url.Host, ":") {
        return nil, {{goPkgExt "errors"}}New("missing ip protocol family in url port")
    }
    h, p, err := {{goPkgExt "net"}}SplitHostPort(url.Host)
	if err != nil {
        return nil, {{goPkgExt "fmt"}}Errorf("parse url: %w", err)
    }
    producer, err := {{goPkgImpl .Protocol}}NewClient("", h, url.Scheme + ":" + p, {{if $.SecuritySchemes}}security{{else}}nil{{end}})
    if err != nil {
        return nil, err
    }
    return &{{ . | goIDUpper }}Closable{
        {{. | goIDUpper}}{producer: producer},
    }, nil
}
{{- end}}

{{define "code/proto/ip/server/impl/net/connectConsumerFunction"}}
func Connect{{ . | goIDUpper }}Consumer(
    ctx {{goPkgExt "context"}}Context,
    url *{{goPkgExt "net/url"}}URL,
    {{with $.SecuritySchemes}}security {{$ | goIDUpper}}Security,{{end}}
) (*{{ . | goIDUpper }}Closable, error) {
    if !{{goPkgExt "strings"}}Contains(url.Host, ":") {
        return nil, {{goPkgExt "errors"}}New("missing ip protocol family in url port")
    }
    h, p, err := {{goPkgExt "net"}}SplitHostPort(url.Host)
	if err != nil {
        return nil, {{goPkgExt "fmt"}}Errorf("parse url: %w", err)
    }
    consumer, err := {{goPkgImpl .Protocol}}NewClient(h, "", url.Scheme + ":" + p, {{if $.SecuritySchemes}}security{{else}}nil{{end}})
    if err != nil {
        return nil, err
    }
    return &{{ . | goIDUpper }}Closable{
        {{. | goIDUpper}}{consumer: consumer},
    }, nil
}
{{- end}}
