{{- /* dot == render.ProtoServer */}}

{{define "server/proto/newFunction"}}
func New{{ .Server | goid }}(producer {{goqualrun .Protocol "Producer"}}, consumer {{goqualrun .Protocol "Consumer"}}) {{ .Type | ptr | gousage }} {
    return &{{ .Type | gousage }}{
        producer: producer,
        consumer: consumer,
    }
}
{{- end}}

{{define "server/proto/connectFunctions"}}
{{- if and .IsPublisher .IsSubscriber}}
{{- with impl .Protocol}}

type {{ $.Server | goid }}Closable struct {
    {{ $.Type | gousage }}
}

func (c {{ $.Server | goid }}Closable) Close() error {
    var err error
    if v, ok := any(c.producer).({{goqual "io.Closer"}}); ok {
        err = {{goqual "errors.Join"}}(err, v.Close())
    }
    if v, ok := any(c.consumer).({{goqual "io.Closer"}}); ok {
        err = {{goqual "errors.Join"}}(err, v.Close())
    }
    return err
}

{{- with trytmpl (print "server/" $.Protocol "/impl/" .Manifest.Name "/connectFunction") $}}
    {{.}}
{{- else}}
    func Connect{{ $.Server | goid }}Bidi(ctx {{goqual "context.Context"}}, url *{{goqual "net/url.URL"}}) (*{{ $.Server | goid }}Closable, error) {
        var bindings *{{goqualrun .Protocol "ServerBindings"}}
        {{- if $.BindingsProtocols | has $.Protocol}}
            bindings = {{goqualrun "ToPtr"}}({{$.BindingsType | gousage}}{}.{{$.Protocol | goid}}())
        {{- end}}
        client, err := {{gopkg .}}NewClient(ctx, url, bindings)
        if err != nil {
            return nil, err
        }
        producer, consumer := client, client
        return &{{ $.Server | goid }}Closable{
            {{ $.Type | gousage }}{producer: producer, consumer: consumer},
        }, nil
    }
{{- end}}

{{- if $.IsPublisher}}
    {{- with trytmpl (print "server/" $.Protocol "/impl/" .Manifest.Name "/connectProducerFunction") $}}
        {{.}}
    {{- else}}
        func Connect{{ $.Server | goid }}Producer(ctx {{goqual "context.Context"}}, url *{{goqual "net/url.URL"}}) (*{{ $.Server | goid }}Closable, error) {
            var bindings *{{goqualrun $.Protocol "ServerBindings"}}
            {{- if $.BindingsProtocols | has $.Protocol}}
                bindings = {{goqualrun "ToPtr"}}({{$.BindingsType | gousage}}{}.{{$.Protocol | goid}}())
            {{- end}}
            producer, err := {{gopkg .}}NewClient(ctx, url, bindings)
            if err != nil {
                return nil, err
            }
            return &{{ $.Server | goid }}Closable{
                {{ $.Type | gousage }}{producer: producer},
            }, nil
        }
    {{- end}}
{{- end}}

{{- if $.IsSubscriber}}
    {{- with trytmpl (print "server/" $.Protocol "/impl/" .Manifest.Name "/connectConsumerFunction") $}}
        {{.}}
    {{- else}}
        func Connect{{ $.Server | goid }}Consumer(ctx {{goqual "context.Context"}}, url *{{goqual "net/url.URL"}}) (*{{ $.Server | goid }}Closable, error) {
            var bindings *{{goqualrun $.Protocol "ServerBindings"}}
            {{- if $.BindingsProtocols | has $.Protocol}}
                bindings = {{goqualrun "ToPtr"}}({{$.BindingsType | gousage}}{}.{{$.Protocol | goid}}())
            {{- end}}
            consumer, err := {{gopkg .}}NewClient(ctx, url, bindings)
            if err != nil {
                return nil, err
            }
            return &{{ $.Server | goid }}Closable{
                {{ $.Type | gousage }}{consumer: consumer},
            }, nil
        }
    {{- end}}
{{- end}}
{{- end}}
{{- end}}
{{- end}}

{{define "server/proto/channelOpenMethods"}}
{{- range $channel := .BoundChannels}}
    {{- with (deref .).SelectProtoObject $.Protocol }}
        func (s {{ $.Type | gousage }}) Open{{ $channel | goid }}{{$.Protocol | goid}}(
            ctx {{goqual "context.Context"}},
            {{with .ParametersType}}params {{ . | gousage }},{{end}}
        ) (*{{ .Type | gousage }}, error) {
            return {{gopkg .Type}}Open{{ $channel | goid }}{{$.Protocol | goid}}(
                ctx,{{if .ParametersType}}params,{{end}} s,
            )
        }
    {{- end}}
{{- end}}
{{- end}}

{{define "server/proto/operationOpenMethods"}}
{{- range $operation := .BoundOperations}}
    {{- with (deref .).SelectProtoObject $.Protocol }}
        func (s {{ $.Type | gousage }}) Open{{ $operation | goid }}{{$.Protocol | goid}}(
            ctx {{goqual "context.Context"}},
            {{with $operation.Channel.ParametersType}}params {{ . | gousage }},{{end}}
        ) (*{{ .Type | gousage }}, error) {
            return {{gopkg .Type}}Open{{ . | goid }}{{$.Protocol | goid}}(
                ctx,{{if $operation.Channel.ParametersType}}params,{{end}} s,
            )
        }
    {{- end}}
{{- end}}
{{- end}}

{{define "server/proto/commonMethods" }}
func (s {{ .Type | gousage }}) Name() string {
    return "{{ . | goid }}"
}

func (s {{ .Type | gousage }}) Producer() {{goqualrun .Protocol "Producer"}} {
    return s.producer
}

func (s {{ .Type | gousage }}) Consumer() {{goqualrun .Protocol "Consumer"}} {
    return s.consumer
}

{{- if .BindingsProtocols | has .Protocol}}
func (s {{.Type | gousage}}) Bindings() {{goqualrun .Protocol "ServerBindings"}} {
    return {{.BindingsType | gousage}}{}.{{.Protocol | goid}}()
}
{{- end}}

{{- end}}