{{- /* dot == render.ProtoChannel */}}

{{define "code/proto/channel/newFunction"}}
func New{{ .Channel | goIDUpper }}{{.Protocol | goIDUpper}}(
    {{ if .Parameters.Len}}params {{ goIDUpper .Channel}}Parameters,{{end}}
    {{ if .IsPublisher}}publisher {{goQualU .Protocol "Publisher"}},{{end}}
    {{ if .IsSubscriber}}subscriber {{goQualU .Protocol "Subscriber"}},{{end}}
) *{{. | goIDUpper}}{{.Protocol | goIDUpper}} {
    res := {{. | goIDUpper}}{{.Protocol | goIDUpper}}{
        address: {{.Channel | goIDUpper}}Address({{if .Parameters.Len}}params{{end}}),
        {{- if .IsPublisher}}publisher: publisher,{{end}}
        {{- if .IsSubscriber}}subscriber: subscriber,{{end}}
    }
    {{- with tryTmpl (print "code/proto/" .Protocol "/channel/newFunction/block1") .}}
        {{.}}
    {{- end}}
    return &res
}
{{- end}}

{{define "code/proto/channel/openFunction"}}
func Open{{ .Channel | goIDUpper }}{{.Protocol | goIDUpper}}(
    ctx {{goQual "context.Context"}},
    server {{.Channel | goIDUpper }}Server{{.Protocol | goIDUpper}},
    {{if .Parameters.Len}}params {{goIDUpper .}}Parameters,{{end}}
    {{if .BoundOperations}}opBindings *{{goQualU .Protocol "OperationBindings"}},{{end}}
    {{if .BoundOperations}}security {{goQualR "AnySecurityScheme"}},{{end}}
) (*{{. | goIDUpper}}{{.Protocol | goIDUpper}}, error) {
    var err error
    {{- if .BindingsProtocols | has .Protocol}}
        chBindings := {{goPkg .Channel}}{{goIDUpper .Channel}}ChannelBindings{}.{{.Protocol | goIDUpper}}()
    {{- end }}

    {{- if or .IsPublisher .IsSubscriber}}
        address, err := {{.Channel | goIDUpper}}Address({{if .Parameters.Len}}params{{end}}).Expand()
        if err != nil {
            return nil, err
        }
    {{- end}}
    {{- if .IsPublisher}}
        var publisher {{goQualU .Protocol "Publisher"}}
        producer := server.Producer()
        if producer != nil {
            publisher, err = producer.Publisher(
                ctx,
                address,
                {{if .BindingsProtocols | has .Protocol}}&chBindings{{else}}nil{{end}},
                {{if .BoundOperations}}opBindings{{else}}nil{{end}},
                {{if .BoundOperations}}security{{else}}nil{{end}},
            )
            if err != nil {
                return nil, err
            }
        }
    {{- end}}
    {{- if .IsSubscriber}}
        var subscriber {{goQualU .Protocol "Subscriber"}}
        consumer := server.Consumer()
        if consumer != nil {
            subscriber, err = consumer.Subscriber(
                ctx,
                address,
                {{if .BindingsProtocols | has .Protocol}}&chBindings{{else}}nil{{end}},
                {{if .BoundOperations}}opBindings{{else}}nil{{end}},
                {{if .BoundOperations}}security{{else}}nil{{end}},
            )
            if err != nil {
                return nil, err
            }
        }
    {{- end}}

    return New{{ .Channel | goIDUpper }}{{.Protocol | goIDUpper}}(
        {{ if .Parameters.Len}}params,{{end}}
        {{ if .IsPublisher}}publisher,{{end}}
        {{ if .IsSubscriber}}subscriber,{{end}}
    ), nil
}
{{- end}}

{{define "code/proto/channel/commonMethods"}}
func (c {{. | goIDUpper}}{{.Protocol | goIDUpper}}) Address() {{goQualR "ParamString"}} {
    return c.address
}

{{- if .BindingsProtocols | has .Protocol}}
func (c {{. | goIDUpper}}{{.Protocol | goIDUpper}}) Bindings() {{goQualU .Protocol "ChannelBindings"}} {
    return {{goPkg .Channel}}{{goIDUpper .Channel}}ChannelBindings{}.{{.Protocol | goIDUpper}}()
}
{{- end}}

func (c {{. | goIDUpper}}{{.Protocol | goIDUpper}}) Close() (err error) {
    {{- if .IsPublisher}}
        if c.publisher != nil {
            err = {{goQual "errors.Join"}}(err, c.publisher.Close())
        }
    {{- end}}
    {{- if .IsSubscriber}}
        if c.subscriber != nil {
            err = {{goQual "errors.Join"}}(err, c.subscriber.Close())
        }
    {{- end}}
    return
}
{{- end}}

{{define "code/proto/channel/publishMethods"}}
type {{ .Channel | goIDUpper }}EnvelopeMarshaler{{.Protocol | goIDUpper}} interface {
    Marshal{{.Channel | goIDUpper}}{{.Protocol | goIDUpper}}(envelope {{goQualU .Protocol "EnvelopeWriter"}}) error
}

{{- range .BoundMessages}}
    {{- if not (isVisible .) }}{{continue}}{{end}}
    func (c {{$ | goIDUpper}}{{$.Protocol | goIDUpper}}) Seal{{. | goIDUpper}}(
        envelope {{goQualU $.Protocol "EnvelopeWriter"}},
        message {{ $.Channel | goIDUpper }}EnvelopeMarshaler{{$.Protocol | goIDUpper}},
    ) error {
        if err := message.Marshal{{$.Channel | goIDUpper}}{{$.Protocol | goIDUpper}}(envelope); err != nil {
            return err
        }
        {{ with tryTmpl (print "code/proto/" $.Protocol "/channel/publishMethods/block1") .}}{{.}}{{end}}
        {{- if .BindingsProtocols | has $.Protocol }}
            envelope.SetBindings({{goPkg $.Channel}}{{goIDUpper $.Channel}}ChannelBindings{}.{{$.Protocol | goIDUpper}}())
        {{- end}}
        return nil
    }

    func (c {{$ | goIDUpper}}{{$.Protocol | goIDUpper}}) Publish{{. | goIDUpper}}(
        ctx {{goQual "context.Context"}},
        {{if not (impl $.Protocol)}}envelope {{goQualU $.Protocol "EnvelopeWriter"}},{{end}}
        message {{ $.Channel | goIDUpper }}EnvelopeMarshaler{{$.Protocol | goIDUpper}},
    ) error {
        {{- with impl $.Protocol}}
            envelope := {{goPkg .}}NewEnvelopeOut()
        {{- end}}
        if err := c.Seal{{. | goIDUpper}}(envelope, message); err != nil {
            return err
        }
        {{ with tryTmpl (print "code/proto/" $.Protocol "/channel/publishMethods/block2") .}}{{.}}{{end}}
        return c.Publish(ctx, envelope)
    }
{{- end}}

func (c {{. | goIDUpper}}{{.Protocol | goIDUpper}}) Publisher() {{goQualU .Protocol "Publisher"}} {
    return c.publisher
}

func (c {{. | goIDUpper}}{{.Protocol | goIDUpper}}) Publish(ctx {{goQual "context.Context"}}, envelopes ...{{goQualU .Protocol "EnvelopeWriter"}}) error {
    return c.publisher.Send(ctx, envelopes...)
}
{{- end}}

{{define "code/proto/channel/subscribeMethods"}}
type {{ .Channel | goIDUpper }}EnvelopeUnmarshaler{{.Protocol | goIDUpper}} interface {
    Unmarshal{{.Channel | goIDUpper}}{{.Protocol | goIDUpper}}(envelope {{goQualU .Protocol "EnvelopeReader"}}) error
}

{{- range .BoundMessages}}
    {{- if not (isVisible .) }}{{continue}}{{end}}
    func (c {{$ | goIDUpper}}{{$.Protocol | goIDUpper}}) Unseal{{. | goIDUpper}}(
        envelope {{goQualU $.Protocol "EnvelopeReader"}},
        message {{ $.Channel | goIDUpper }}EnvelopeUnmarshaler{{$.Protocol | goIDUpper}},
    ) error {
        return message.Unmarshal{{$.Channel | goIDUpper}}{{$.Protocol | goIDUpper}}(envelope)
    }

    func (c {{$ | goIDUpper}}{{$.Protocol | goIDUpper}}) Subscribe{{. | goIDUpper}}(
        ctx {{goQual "context.Context"}},
        cb func(message {{ goPkg .InType}}{{ goIDUpper .}}Receiver),
    ) (err error) {
        subCtx, cancel := {{goQual "context.WithCancel"}}(ctx)
        defer cancel()

        subErr := c.Subscribe(subCtx, func(envelope {{goQualU $.Protocol "EnvelopeReader"}}) {
            message := new({{ .InType | goUsage }})
            if err2 := c.Unseal{{. | goIDUpper}}(envelope, message); err2 != nil {
                err = {{goQual "fmt.Errorf"}}("%w: %w", {{goQualR "ErrUnsealEnvelope"}}, err2)
                cancel()
                return
            }
            cb(message)
        })
        if err != nil {
            return err
        }
        return subErr
    }
{{- end}}

func (c {{. | goIDUpper}}{{.Protocol | goIDUpper}}) Subscriber() {{goQualU .Protocol "Subscriber"}} {
    return c.subscriber
}

func (c {{. | goIDUpper}}{{.Protocol | goIDUpper}}) Subscribe(ctx {{goQual "context.Context"}}, cb func(envelope {{goQualU .Protocol "EnvelopeReader"}})) error {
    return c.subscriber.Receive(ctx, cb)
}
{{- end}}

{{define "code/proto/channel/serverInterface"}}
type {{ .Channel | goIDUpper }}Server{{.Protocol | goIDUpper}} interface {
    Open{{.Channel | goIDUpper}}{{.Protocol | goIDUpper}}({{goQual "context.Context"}}{{if .Parameters.Len}},{{goIDUpper .Channel}}Parameters{{end}}{{if .BoundOperations}},*{{goQualU .Protocol "OperationBindings"}},{{goQualR "AnySecurityScheme"}}{{end}}) (*{{. | goIDUpper}}{{.Protocol | goIDUpper}}, error)
    {{if .IsPublisher}}Producer() {{goQualU .Protocol "Producer"}}{{end}}
    {{if .IsSubscriber}}Consumer() {{goQualU .Protocol "Consumer"}}{{end}}
}
{{- end}}

{{template "code/proto/channel/newFunction" .}}
{{template "code/proto/channel/serverInterface" .}}
{{template "code/proto/channel/openFunction" .}}

type {{. | goIDUpper}}{{.Protocol | goIDUpper}} struct {
    address    {{goQualR "ParamString"}}
    {{if .IsPublisher}}publisher  {{goQualU .Protocol "Publisher"}}{{end}}
    {{if .IsSubscriber}}subscriber {{goQualU .Protocol "Subscriber"}}{{end}}
}

{{template "code/proto/channel/commonMethods" .}}
{{if .IsPublisher}}{{template "code/proto/channel/publishMethods" .}}{{end}}
{{if .IsSubscriber}}{{template "code/proto/channel/subscribeMethods" .}}{{end}}
