{{- /* dot == render.ProtoMessage */}}

{{define "code/proto/mime/messageEncoder/default"}}
    // Default encoder
    enc := {{goPkgExt "encoding/json"}}NewEncoder(w)
    if err := enc.Encode(m.Payload); err != nil {
        return err
    }
{{- end}}

{{define "code/proto/mime/messageDecoder/default"}}
    // Default decoder
    dec := {{goPkgExt "encoding/json"}}NewDecoder(r)
    if err := dec.Decode(&m.payload); err != nil {
        return err
    }
{{- end}}

{{define "code/proto/mime/messageEncoder/application/binary"}}
    enc := {{goPkgExt "encoding/gob"}}NewEncoder(w)
    if err := enc.Encode(m.Payload); err != nil {
        return err
    }
{{- end}}

{{define "code/proto/mime/messageDecoder/application/binary"}}
    dec := {{goPkgExt "encoding/gob"}}NewDecoder(r)
    if err := dec.Decode(&m.payload); err != nil {
        return err
    }
{{- end}}

{{define "code/proto/mime/messageEncoder/text/plain"}}
    r := {{ goPkgExt "strings"}}NewReader(string(m.Payload))
    if _, err := {{ goPkgExt "io"}}Copy(w, r); err != nil {
        return {{ goPkgExt "fmt"}}Errorf("write message: %w", err)
    }
{{- end}}

{{define "code/proto/mime/messageDecoder/text/plain"}}
    var b {{ goPkgExt "strings"}}Builder
    if _, err := {{ goPkgExt "io"}}Copy(&b, r); err != nil {
        return {{ goPkgExt "fmt"}}Errorf("read message: %w", err)
    }
    m.payload = {{goPkg .PayloadType}}{{.PayloadType | goID}}(b.String())
{{- end}}

{{define "code/proto/mime/messageEncoder/application/x-yaml"}}
    enc := {{goPkgExt "gopkg.in/yaml.v3"}}NewEncoder(w)
    if err := enc.Encode(m.Payload); err != nil {
        return err
    }
{{- end}}

{{define "code/proto/mime/messageDecoder/application/x-yaml"}}
    dec := {{goPkgExt "gopkg.in/yaml.v3"}}NewDecoder(r)
    if err := dec.Decode(&m.payload); err != nil {
        return err
    }
{{- end}}

{{define "code/proto/mime/messageEncoder/text/yaml"}}
    enc := {{goPkgExt "gopkg.in/yaml.v3"}}NewEncoder(w)
    if err := enc.Encode(m.Payload); err != nil {
        return err
    }
{{- end}}

{{define "code/proto/mime/messageDecoder/text/yaml"}}
    dec := {{goPkgExt "gopkg.in/yaml.v3"}}NewDecoder(r)
    if err := dec.Decode(&m.payload); err != nil {
        return err
    }
{{- end}}

{{define "code/proto/mime/messageEncoder/application/xml"}}
    enc := {{goPkgExt "encoding/xml"}}NewEncoder(w)
    if err := enc.Encode(m.Payload); err != nil {
        return err
    }
{{- end}}

{{define "code/proto/mime/messageDecoder/application/xml"}}
    dec := {{goPkgExt "encoding/xml"}}NewDecoder(r)
    if err := dec.Decode(&m.payload); err != nil {
        return err
    }
{{- end}}

