{{- /* dot == render.ProtoMessage */}}

{{block "code/proto/message/commonMethods" .}}
{{- end}}


{{if .IsPublisher}}{{block "code/proto/message/marshalMethods" .}}
{{- range .BoundChannels}}
    {{- if and (isVisible .) .IsPublisher}}
        func (m *{{ $.OutType | goID }}) Marshal{{. | goID}}{{$.Protocol | goID}}(envelope {{goPkgUtil $.Protocol}}EnvelopeWriter) error {
            return m.MarshalEnvelope{{$.Protocol | goID}}(envelope)
        }
    {{- end}}
{{- end}}

func (m *{{ .OutType | goID }}) MarshalEnvelope{{ .Protocol | goID }}(envelope {{goPkgUtil .Protocol}}EnvelopeWriter) error {
    if err := m.Marshal{{ .Protocol | goID }}(envelope); err != nil {
        return err
    }
    envelope.SetContentType({{.EffectiveContentType | goLit}})
    {{- if .HeadersTypePromise}}
        {{- /* Headers schema is defined */}}
        envelope.SetHeaders({{goPkgRun}}Headers{
        {{- range .HeadersType.Fields}}
            {{ .Name | goLit}}: m.Headers.{{.Name}},
        {{- end}}
        })
    {{- else}}
        envelope.SetHeaders({{goPkgRun}}Headers(m.Headers))
    {{- end}}
    return nil
}

func (m *{{ .OutType | goID }}) Marshal{{ .Protocol | goID }}(w {{goPkgExt "io"}}Writer) error {
    {{- block "code/proto/message/encoder" .}}
        // MIME type: {{.EffectiveContentType}}
        {{- with tryTmpl (print "code/proto/mime/messageEncoder/" .EffectiveContentType) .}}
            {{.}}
        {{- else}}
            {{/*TODO: print log warning about using the default encoder*/}}
            {{template "code/proto/mime/messageEncoder/default" .}}
        {{- end}}
    {{- end}}
    return nil
}

{{- if .BindingsProtocols | has .Protocol}}
    func (c {{.OutType | goUsage}}) Bindings{{.Protocol | goID}}() {{goPkgUtil .Protocol}}MessageBindings {
        return {{goPkg .Message}}{{goID .Message}}Bindings{}.{{.Protocol | goID}}()
    }
{{- end}}
{{- end}}{{end}}


{{if .IsSubscriber}}{{block "code/proto/message/unmarshalMethods" .}}
{{- range .BoundChannels}}
    {{- if and (isVisible .) .IsSubscriber}}
        func (m *{{ $.InType | goID }}) Unmarshal{{. | goID}}{{$.Protocol | goID}}(envelope {{goPkgUtil $.Protocol}}EnvelopeReader) error {
            return m.UnmarshalEnvelope{{$.Protocol | goID}}(envelope)
        }
    {{- end}}
{{- end}}

func (m *{{ .InType | goID }}) UnmarshalEnvelope{{ .Protocol | goID }}(envelope {{goPkgUtil .Protocol}}EnvelopeReader) error {
    if err := m.Unmarshal{{ .Protocol | goID }}(envelope); err != nil {
        return err
    }
    {{- if .HeadersTypePromise }}
        {{- /* Headers schema is defined */}}
        {{- if gt (len .HeadersType.Fields) 0}}
            headers := envelope.Headers()
            {{- range .HeadersType.Fields}}
                if v, ok := headers[{{.Name | goLit}}]; ok {
                    m.headers.{{.Name}} = v.({{.Type| goUsage}})
                }
            {{- end}}
        {{- end}}
    {{- else}}
        m.headers = {{.HeadersTypeDefault | goUsage}}(envelope.Headers())
    {{- end}}
    return nil
}

func (m *{{ .InType | goID }}) Unmarshal{{ .Protocol | goID }}(r {{goPkgExt "io"}}Reader) error {
    {{- block "code/proto/message/decoder" .}}
        // MIME type: {{.EffectiveContentType}}
        {{- with tryTmpl (print "code/proto/mime/messageDecoder/" .EffectiveContentType) .}}
            {{.}}
        {{- else}}
            {{/*TODO: print log warning about using the default decoder*/}}
            {{template "code/proto/mime/messageDecoder/default" .}}
        {{- end}}
    {{- end}}
    return nil
}

{{- if .BindingsProtocols | has .Protocol}}
    func (c {{.InType | goUsage}}) Bindings{{.Protocol | goID}}() {{goPkgUtil .Protocol}}MessageBindings {
        return {{goPkg .Message}}{{goID .Message}}Bindings{}.{{.Protocol | goID}}()
    }
{{- end}}
{{- end}}{{end}}



