{{- /* dot == render.ProtoMessage */}}

{{define "code/proto/mime/messageEncoder/default"}}
    {{- if .EffectiveContentType | hasSuffix "yaml"}}
        {{template "code/proto/mime/messageEncoder/application/yaml" .}}
    {{- else}}
        // Default encoder
        enc := {{goQual "encoding/json.NewEncoder"}}(envelope)
        if err := enc.Encode(m.Payload); err != nil {
            return err
        }
    {{- end}}
{{- end}}

{{define "code/proto/mime/messageDecoder/default"}}
    {{- if .EffectiveContentType | hasSuffix "yaml"}}
        {{template "code/proto/mime/messageDecoder/application/yaml" .}}
    {{- else}}
        // Default decoder
        dec := {{goQual "encoding/json.NewDecoder"}}(envelope)
        if err := dec.Decode(&m.payload); err != nil {
            return err
        }
    {{- end}}
{{- end}}
{{/*TODO: add xml, avro, etc.*/}}
{{define "code/proto/mime/messageEncoder/application/yaml"}}
    enc := {{goQual "gopkg.in/yaml.v3.NewEncoder"}}(envelope)
    if err := enc.Encode(m.Payload); err != nil {
        return err
    }
{{- end}}

{{define "code/proto/mime/messageDecoder/application/yaml"}}
    dec := {{goQual "gopkg.in/yaml.v3.NewDecoder"}}(envelope)
    if err := dec.Decode(&m.payload); err != nil {
        return err
    }
{{- end}}
