{{- /* dot == render.Server */}}

{{define "code/proto/server/newFunction"}}
func New{{ . | goIDUpper }}(producer {{goQualR .Protocol "Producer"}}, consumer {{goQualR .Protocol "Consumer"}}) *{{. | goIDUpper}} {
    return &{{. | goIDUpper}}{
        producer: producer,
        consumer: consumer,
    }
}
{{- end}}

{{define "code/proto/server/connectFunctions"}}
{{- if and .IsPublisher .IsSubscriber}}
{{- with impl .Protocol}}

type {{ $ | goIDUpper }}Closable struct {
    {{$ | goIDUpper}}
}

func (c {{ $ | goIDUpper }}Closable) Close() error {
    var err error
    if v, ok := any(c.producer).({{goQual "io.Closer"}}); ok {
        err = {{goQual "errors.Join"}}(err, v.Close())
    }
    if v, ok := any(c.consumer).({{goQual "io.Closer"}}); ok {
        err = {{goQual "errors.Join"}}(err, v.Close())
    }
    return err
}

{{- with tryTmpl (print "code/proto/" $.Protocol "/server/impl/" .Manifest.Name "/connectFunction") $}}
    {{.}}
{{- else}}
    func Connect{{ $ | goIDUpper }}Bidi(ctx {{goQual "context.Context"}}, url *{{goQual "net/url.URL"}}) (*{{ $ | goIDUpper }}Closable, error) {
        var bindings *{{goQualR .Protocol "ServerBindings"}}
        {{- if $.BindingsProtocols | has $.Protocol}}
            bindings = {{goQualR "ToPtr"}}({{$.BindingsType | goUsage}}{}.{{$.Protocol | goIDUpper}}())
        {{- end}}
        client, err := {{goPkg .}}NewClient(ctx, url, bindings)
        if err != nil {
            return nil, err
        }
        producer, consumer := client, client
        return &{{ $ | goIDUpper }}Closable{
            {{$ | goIDUpper}}{producer: producer, consumer: consumer},
        }, nil
    }
{{- end}}

{{- if $.IsPublisher}}
    {{- with tryTmpl (print "code/proto/" $.Protocol "/server/impl/" .Manifest.Name "/connectProducerFunction") $}}
        {{.}}
    {{- else}}
        func Connect{{ $ | goIDUpper }}Producer(ctx {{goQual "context.Context"}}, url *{{goQual "net/url.URL"}}) (*{{ $ | goIDUpper }}Closable, error) {
            var bindings *{{goQualR $.Protocol "ServerBindings"}}
            {{- if $.BindingsProtocols | has $.Protocol}}
                bindings = {{goQualR "ToPtr"}}({{$.BindingsType | goUsage}}{}.{{$.Protocol | goIDUpper}}())
            {{- end}}
            producer, err := {{goPkg .}}NewClient(ctx, url, bindings)
            if err != nil {
                return nil, err
            }
            return &{{ $ | goIDUpper }}Closable{
                {{$ | goIDUpper}}{producer: producer},
            }, nil
        }
    {{- end}}
{{- end}}

{{- if $.IsSubscriber}}
    {{- with tryTmpl (print "code/proto/" $.Protocol "/server/impl/" .Manifest.Name "/connectConsumerFunction") $}}
        {{.}}
    {{- else}}
        func Connect{{ $ | goIDUpper }}Consumer(ctx {{goQual "context.Context"}}, url *{{goQual "net/url.URL"}}) (*{{ $ | goIDUpper }}Closable, error) {
            var bindings *{{goQualR $.Protocol "ServerBindings"}}
            {{- if $.BindingsProtocols | has $.Protocol}}
                bindings = {{goQualR "ToPtr"}}({{$.BindingsType | goUsage}}{}.{{$.Protocol | goIDUpper}}())
            {{- end}}
            consumer, err := {{goPkg .}}NewClient(ctx, url, bindings)
            if err != nil {
                return nil, err
            }
            return &{{ $ | goIDUpper }}Closable{
                {{$ | goIDUpper}}{consumer: consumer},
            }, nil
        }
    {{- end}}
{{- end}}
{{- end}}
{{- end}}
{{- end}}

{{define "code/proto/server/channelOpenMethods"}}
{{- range $channel := .BoundChannels}}
    {{- with (deref .).SelectProtoObject $.Protocol }}
        func (s {{$ | goIDUpper}}) Open{{ $channel | goIDUpper }}{{$.Protocol | goIDUpper}}(
            ctx {{goQual "context.Context"}},
            {{with .ParametersType}}params {{ . | goUsage }},{{end}}
        ) (*{{goPkg .}}{{ $channel | goIDUpper }}{{$.Protocol | goIDUpper}}, error) {
            return {{goPkg .}}Open{{ $channel | goIDUpper }}{{$.Protocol | goIDUpper}}(
                ctx,{{if .ParametersType}}params,{{end}} s,
            )
        }
    {{- end}}
{{- end}}
{{- end}}

{{define "code/proto/server/operationOpenMethods"}}
{{- range $operation := .BoundOperations}}
    {{- with (deref .).SelectProtoObject $.Protocol }}
        func (s {{$ | goIDUpper}}) Open{{ $operation | goIDUpper }}{{$.Protocol | goIDUpper}}(
            ctx {{goQual "context.Context"}},
            {{with $operation.Channel.ParametersType}}params {{ . | goUsage }},{{end}}
        ) (*{{goPkg $operation}}{{ $operation | goIDUpper }}{{$.Protocol | goIDUpper}}, error) {
            return {{goPkg .}}Open{{ . | goIDUpper }}{{$.Protocol | goIDUpper}}(
                ctx,{{if $operation.Channel.ParametersType}}params,{{end}} s,
            )
        }
    {{- end}}
{{- end}}
{{- end}}

{{define "code/proto/server/commonMethods" }}
func (s {{. | goIDUpper}}) Name() string {
    return "{{ . | goIDUpper }}"
}

func (s {{. | goIDUpper}}) Producer() {{goQualR .Protocol "Producer"}} {
    return s.producer
}

func (s {{. | goIDUpper}}) Consumer() {{goQualR .Protocol "Consumer"}} {
    return s.consumer
}

{{- if .BindingsProtocols | has .Protocol}}
func (s {{. | goIDUpper}}) Bindings() {{goQualR .Protocol "ServerBindings"}} {
    return {{.BindingsType | goUsage}}{}.{{.Protocol | goIDUpper}}()
}
{{- end}}

{{- end}}