{{- /* dot == render.Server */}}

{{block "code/proto/server/newFunction" .}}
func New{{ . | goID }}(producer {{goPkgUtil .Protocol}}Producer, consumer {{goPkgUtil .Protocol}}Consumer) *{{. | goID}} {
    return &{{. | goID}}{
        producer: producer,
        consumer: consumer,
    }
}
{{- end}}


{{- if .SecuritySchemes}}{{block "code/proto/server/securityInterface" .}}
type {{. | goID}}Security interface {
    {{goPkgRun}}AnySecurityScheme
    {{. | goID }}Security()
}
{{- end}}{{- end}}


{{- if impl .Protocol}}{{block "code/proto/server/connectFunctions" .}}
{{- with impl .Protocol}}
type {{ $ | goID }}Closable struct {
    {{$ | goID}}
}

func (c {{ $ | goID }}Closable) Close() error {
    var err error
    if v, ok := any(c.producer).({{goPkgExt "io"}}Closer); ok {
        err = {{goPkgExt "errors"}}Join(err, v.Close())
    }
    if v, ok := any(c.consumer).({{goPkgExt "io"}}Closer); ok {
        err = {{goPkgExt "errors"}}Join(err, v.Close())
    }
    return err
}

{{- if and $.IsPublisher $.IsSubscriber}}
    {{- with tryTmpl (print "code/proto/" $.Protocol "/server/impl/" .Name "/connectFunction") $}}
        {{.}}
    {{- else}}
        func Connect{{ $ | goID }}Bidi(
            ctx {{goPkgExt "context"}}Context,
            url *{{goPkgExt "net/url"}}URL,
            {{with $.SecuritySchemes}}security {{$ | goID}}Security,{{end}}
        ) (*{{ $ | goID }}Closable, error) {
            var bindings *{{goPkgUtil $.Protocol}}ServerBindings
            {{- if $.BindingsProtocols | has $.Protocol}}
                bindings = {{goPkgRun}}ToPtr({{goPkg $}}{{goID $}}Bindings{}.{{$.Protocol | goID}}())
            {{- end}}
            client, err := {{goPkgImpl .Protocol}}NewClient(ctx, url, bindings, {{if $.SecuritySchemes}}security{{else}}nil{{end}})
            if err != nil {
                return nil, err
            }
            producer, consumer := client, client
            return &{{ $ | goID }}Closable{
                {{$ | goID}}{producer: producer, consumer: consumer},
            }, nil
        }
    {{- end}}
{{- end}}

{{- if $.IsPublisher}}
    {{- with tryTmpl (print "code/proto/" $.Protocol "/server/impl/" .Name "/connectProducerFunction") $}}
        {{.}}
    {{- else}}
        func Connect{{ $ | goID }}Producer(
            ctx {{goPkgExt "context"}}Context,
            url *{{goPkgExt "net/url"}}URL,
            {{with $.SecuritySchemes}}security {{$ | goID}}Security,{{end}}
        ) (*{{ $ | goID }}Closable, error) {
            var bindings *{{goPkgUtil $.Protocol}}ServerBindings
            {{- if $.BindingsProtocols | has $.Protocol}}
                bindings = {{goPkgRun}}ToPtr({{goPkg $}}{{goID $}}Bindings{}.{{$.Protocol | goID}}())
            {{- end}}
            producer, err := {{goPkgImpl .Protocol}}NewClient(ctx, url, bindings, {{if $.SecuritySchemes}}security{{else}}nil{{end}})
            if err != nil {
                return nil, err
            }
            return &{{ $ | goID }}Closable{
                {{$ | goID}}{producer: producer},
            }, nil
        }
    {{- end}}
{{- end}}

{{- if $.IsSubscriber}}
    {{- with tryTmpl (print "code/proto/" $.Protocol "/server/impl/" .Name "/connectConsumerFunction") $}}
        {{.}}
    {{- else}}
        func Connect{{ $ | goID }}Consumer(
            ctx {{goPkgExt "context"}}Context,
            url *{{goPkgExt "net/url"}}URL,
            {{with $.SecuritySchemes}}security {{$ | goID}}Security,{{end}}
        ) (*{{ $ | goID }}Closable, error) {
            var bindings *{{goPkgUtil $.Protocol}}ServerBindings
            {{- if $.BindingsProtocols | has $.Protocol}}
                bindings = {{goPkgRun}}ToPtr({{goPkg $}}{{goID $}}Bindings{}.{{$.Protocol | goID}}())
            {{- end}}
            consumer, err := {{goPkgImpl .Protocol}}NewClient(ctx, url, bindings, {{if $.SecuritySchemes}}security{{else}}nil{{end}})
            if err != nil {
                return nil, err
            }
            return &{{ $ | goID }}Closable{
                {{$ | goID}}{consumer: consumer},
            }, nil
        }
    {{- end}}
{{- end}}
{{- end}}
{{- end}}{{end}}


{{- /* TODO: consider IsPublisher and IsSubscriber}} */}}
type {{. | goID}} struct {
    producer {{goPkgUtil .Protocol}}Producer
    consumer {{goPkgUtil .Protocol}}Consumer
}


{{block "code/proto/server/commonMethods" .}}
func (s {{. | goID}}) Name() string {
    return "{{ . | goID }}"
}

func (s {{. | goID}}) Producer() {{goPkgUtil .Protocol}}Producer {
    return s.producer
}

func (s {{. | goID}}) Consumer() {{goPkgUtil .Protocol}}Consumer {
    return s.consumer
}

{{- if .BindingsProtocols | has .Protocol}}
func (s {{. | goID}}) Bindings() {{goPkgUtil .Protocol}}ServerBindings {
    return {{goPkg $}}{{goID $}}Bindings{}.{{.Protocol | goID}}()
}
{{- end}}
{{- end}}


{{block "code/proto/server/channelOpenMethods" .}}
{{- range .BoundChannels}}
    {{- if .ActiveProtocols | has $.Protocol }}
        func (s {{$ | goID}}) Open{{ . | goID }}{{$.Protocol | goID}}(
            ctx {{goPkgExt "context"}}Context,
            {{if .Parameters.Len}}params {{goPkg .}}{{goID .}}Parameters,{{end}}
            {{if .BoundOperations}}security {{goPkgRun}}AnySecurityScheme,{{end}}
        ) (*{{goPkg .}}{{ . | goID }}{{$.Protocol | goID}}, error) {
            return {{goPkg .}}Open{{ . | goID }}{{$.Protocol | goID}}(
                ctx, s, {{if .Parameters.Len}}params,{{end}}{{if .BoundOperations}}nil, security,{{end}}
            )
        }
    {{- end}}
{{- end}}
{{- end}}


{{block "code/proto/server/operationOpenMethods" .}}
{{- range .BoundOperations}}
    {{- if .ActiveProtocols | has $.Protocol }}
        func (s {{$ | goID}}) Open{{ . | goID }}{{$.Protocol | goID}}(
            ctx {{goPkgExt "context"}}Context,
            {{if .Channel.Parameters.Len}}params {{goPkg .Channel}}{{goID .Channel}}Parameters,{{end}}
            {{if .SecuritySchemes}}security {{goPkg .}}{{. | goID}}Security,{{end}}
        ) (*{{goPkg .}}{{ . | goID }}{{$.Protocol | goID}}, error) {
            return {{goPkg .}}Open{{ . | goID }}{{$.Protocol | goID}}(
                ctx, s, {{if .Channel.Parameters.Len}}params, {{end}}{{if .SecuritySchemes}}security, {{end}}
            )
        }
    {{- end}}
{{- end}}
{{- end}}
