{{- with deref .}}
    {{- if ndefined (print "MessageMethods" .Protocol (goid .))}}
        {{template "message/proto/commonMethods" .}}
        {{template "message/proto/marshalMethods" .}}
        {{template "message/proto/unmarshalMethods" .}}
    {{- end}}
    {{- print "MessageMethods" .Protocol (goid .) | def}}
{{- end}}