{{- /* dot == render.Channel */}}
{{- pin .}}

{{- with .ParametersType }}
    {{ . | goDef }}
{{- end }}

func {{. | goIDUpper}}Address({{with .ParametersType}}params {{. | goUsage}}{{end}}) {{goQualR "ParamString"}} {
{{- if .ParametersType}}
    paramMap := map[string]string{
    {{- range .Parameters.Entries}}
        {{.Key | goLit}}: string(params.{{.Key | goIDUpper }}),
    {{- end}}
    }
    return {{goQualR "ParamString"}}{
        Expr: {{ .Address | goLit}},
        Parameters: paramMap,
    }
{{- else}}
    return {{goQualR "ParamString"}}{
        Expr: {{ .Address | goLit}},
    }
{{- end}}
}

{{- if .Bindings }}
    type {{goIDUpper $}}Bindings struct{}

    {{- range $proto := $.Bindings.Protocols}}
        {{with tryTmpl (print "code/proto/" $proto "/channel/bindings/values") ($.ProtoChannel $proto)}}
            func (c {{goIDUpper $}}Bindings) {{ goIDUpper $proto }}() {{goQualU $proto "ChannelBindings"}} {
                return {{.}}
            }
        {{- end}}
    {{- end}}
{{- end}}
