{{- /* dot == render.Channel */}}
{{- pin .}}

{{- with .ParametersType }}
    {{ . | goDef }}
{{- end }}

func {{. | goIDUpper}}Address({{with .ParametersType}}params {{. | goUsage}}{{end}}) {{goQualR "ParamString"}} {
{{- if .ParametersType}}
    paramMap := map[string]string{
    {{- range .Parameters.Entries}}
        {{.Key | goLit}}: string(params.{{.Key | goIDUpper }}),
    {{- end}}
    }
    return {{goQualR "ParamString"}}{
        Expr: {{ .Address | goLit}},
        Parameters: paramMap,
    }
{{- else}}
    return {{goQualR "ParamString"}}{
        Expr: {{ .Address | goLit}},
    }
{{- end}}
}

{{- with $bt := .BindingsType }}
    {{ $bt | goDef }}
    {{- range $proto := $.BindingsProtocols }}
        {{- $bindingsValue := $.ProtoBindingsValue $proto }}
        func (c {{ $bt | goUsage }}) {{ $proto | goIDUpper }}() {{$bindingsValue.Type | goUsage}} {
            b := {{$bindingsValue | goUsage}}
            {{- $jvals := $.Bindings.JSONValues.GetOrEmpty $proto }}
            {{- range $jvals.Entries}}
                {{.Key | toCamelCase }} := {{.Value | goLit}}
                _ = {{goQual "encoding/json.Unmarshal"}}([]byte({{.Key | toCamelCase }}), &b.{{.Key}})
            {{- end}}
            return b
        }
    {{- end}}
{{- end}}
