{{- /* dot == render.Channel */}}
{{- pin .}}

{{- if .Parameters.Len }}
    type {{goID $}}Parameters struct {
    {{- range $k, $v := .Parameters.Entries}}
        {{goID $k}} {{goPkg $v}}{{goID $v}}
    {{- end}}
    }
{{- end }}

func {{. | goID}}Address({{if .Parameters.Len}}params {{goID $}}Parameters{{end}}) {{goPkgRun}}ParamString {
{{- if .Parameters.Len}}
    paramMap := map[string]string{
    {{- range .Parameters.Keys}}
        {{goLit .}}: string(params.{{goID .}}),
    {{- end}}
    }
    return {{goPkgRun}}ParamString{
        Expr: {{ .Address | goLit}},
        Parameters: paramMap,
    }
{{- else}}
    return {{goPkgRun}}ParamString{
        Expr: {{ .Address | goLit}},
    }
{{- end}}
}

{{- if .Bindings }}
    type {{goID $}}Bindings struct{}

    {{- range $proto := $.Bindings.Protocols}}
        {{with tryTmpl (print "code/proto/" $proto "/channel/bindings/values") ($.ProtoChannel $proto)}}
            func (c {{goID $}}Bindings) {{ goID $proto }}() {{goPkgUtil $proto}}ChannelBindings {
                return {{.}}
            }
        {{- end}}
    {{- end}}
{{- end}}
