{{/* dot == render.Message */}}

{{define "code/correlationID/outgoing/setter"}}
{{- with .CorrelationID}}
v0 := m.{{.StructFieldKind | toString | toTitleCase}}
{{- $steps := correlationIDExtractionCode . $.OutType false}}
{{- /* Render extraction steps except the last one */}}
{{- range initial $steps}}
    {{- range .CodeLines}}
        {{.}}
    {{- end}}
{{- end}}

{{- $exprVal := "value"}}
{{- /* Set value and collapse the value back */}}
{{- range reverse $steps }}
    {{.VarValue}} = {{$exprVal}}
    {{- $exprVal = .VarValueVarName}}
{{- end}}

m.{{.StructFieldKind | toString | toTitleCase}} = v0
{{- end}}
{{- end}}


{{define "code/correlationID/outgoing/varType"}}
{{- with .CorrelationID}}
{{- $steps := correlationIDExtractionCode . $.OutType false}}
{{- if $steps }}{{(last $steps).VarType | goUsage}}{{else}}any{{end}}
{{- end}}
{{- end}}


{{define "code/correlationID/incoming/getter"}}
{{- with .CorrelationID}}
v0 := m.{{.StructFieldKind | toString | untitle}}
{{- $steps := correlationIDExtractionCode . $.InType true}}
{{- /* Render extraction steps except the last one */}}
{{- range $steps}}
    {{- range .CodeLines}}
        {{.}}
    {{- end}}
{{- end}}

{{- /* Assign value to the result var and exit */}}
{{if $steps}}value = {{(last $steps).VarName}}{{end}}
{{- end}}
{{- end}}

{{define "code/correlationID/incoming/varType"}}
{{- with .CorrelationID}}
{{- $steps := correlationIDExtractionCode . $.InType false}}
{{- if $steps }}{{(last $steps).VarType | goUsage}}{{else}}any{{end}}
{{- end}}
{{- end}}
