{{/* dot:
  .SourceVarName == string: variable name of type with Headers/Payload attributes
  .RuntimeExpression == lang.BaseRuntimeExpression
  .TargetType == *lang.Struct
  */}}

{{define "code/correlationID/outgoing/setter"}}
v0 := {{.SourceVarName}}.{{.RuntimeExpression.StructFieldKind | toString | toTitleCase}}
{{- $steps := correlationIDExtractionCode .RuntimeExpression .TargetType false}}
{{- /* Render extraction steps except the last one */}}
{{- range initial $steps}}
    {{- range .CodeLines}}
        {{.}}
    {{- end}}
{{- end}}

{{- $exprVal := "value"}}
{{- /* Set value and collapse the value back */}}
{{- range reverse $steps }}
    {{.VarValue}} = {{$exprVal}}
    {{- $exprVal = .VarValueVarName}}
{{- end}}

{{.SourceVarName}}.{{.RuntimeExpression.StructFieldKind | toString | toTitleCase}} = v0
{{- end}}


{{define "code/correlationID/outgoing/varType"}}
{{- $steps := correlationIDExtractionCode .RuntimeExpression .TargetType false}}
{{- if $steps }}{{(last $steps).VarType | goUsage}}{{else}}any{{end}}
{{- end}}


{{define "code/correlationID/incoming/getter"}}
v0 := {{.SourceVarName}}.{{.RuntimeExpression.StructFieldKind | toString | untitle}}
{{- $steps := correlationIDExtractionCode .RuntimeExpression .TargetType true}}
{{- /* Render extraction steps except the last one */}}
{{- range $steps}}
    {{- range .CodeLines}}
        {{.}}
    {{- end}}
{{- end}}

{{- /* Assign value to the result var and exit */}}
{{if $steps}}value = {{(last $steps).VarName}}{{end}}
{{- end}}

{{define "code/correlationID/incoming/varType"}}
{{- $steps := correlationIDExtractionCode .RuntimeExpression .TargetType false}}
{{- if $steps }}{{(last $steps).VarType | goUsage}}{{else}}any{{end}}
{{- end}}
