{{- /* dot == tmpl.CodeTemplateContext */}}
{{- if not (isVisible .Object) -}}
{{- else if eq .Object.Kind "schema" }}
    {{- template "schema.tmpl" .Object }}

{{- else if eq .Object.Kind "server" }}
    {{- template "server.tmpl" .Object }}
    {{- if .CurrentLayoutItem.AppliedToProtocol .Object.Protocol }}
        {{with tryTmpl (print $.Object.Protocol "_server.tmpl") $.Object }}{{.}}{{else}}{{ tmpl "unknown_server.tmpl" $.Object }}{{end}}
    {{- end}}

{{- else if eq .Object.Kind "channel" }}
    {{- template "channel.tmpl" .Object}}
    {{- range $proto := .Object.ActiveProtocols}}
        {{- if $.CurrentLayoutItem.AppliedToProtocol $proto }}
            {{- $p := $.Object.ProtoChannel $proto }}
            {{with tryTmpl (print $proto "_channel.tmpl") $p }}{{.}}{{else}}{{ tmpl "unknown_channel.tmpl" $p }}{{end}}
        {{end}}
    {{- end}}

{{- else if eq .Object.Kind "operation" }}
    {{- template "operation.tmpl" .Object}}
    {{- range $proto := .Object.ActiveProtocols}}
        {{- if $.CurrentLayoutItem.AppliedToProtocol $proto }}
            {{- $p := $.Object.ProtoOperation $proto }}
            {{with tryTmpl (print $proto "_operation.tmpl") $p }}{{.}}{{else}}{{ tmpl "unknown_operation.tmpl" $p }}{{end}}
        {{end}}
    {{- end}}

{{- else if eq .Object.Kind "message" }}
    {{- template "message.tmpl" .Object}}
    {{- range $proto := .Object.ActiveProtocols}}
        {{- if $.CurrentLayoutItem.AppliedToProtocol $proto }}
            {{- $p := $.Object.ProtoMessage $proto }}
            {{with tryTmpl (print $proto "_message.tmpl") $p }}{{.}}{{else}}{{ tmpl "unknown_message.tmpl" $p }}{{end}}
        {{- end}}
    {{- end}}

{{- else if eq .Object.Kind "security"}}
    {{- template "security.tmpl" .Object}}

{{- else if eq .Object.Kind "parameter" }}
    {{- template "parameter.tmpl" .Object}}

{{- end}}
