{{- /* dot == tmpl.CodeTemplateContext */}}
{{- if not (isVisible .Object) -}}
{{- else if eq .Object.Kind "schema" }}
    {{- template "schema.tmpl" .Object }}

{{- else if eq .Object.Kind "server" }}
    {{- if .CurrentLayoutItem.RenderProtocols | has $.Object.Protocol }}
        {{- template "server.tmpl" .Object }}
    {{- end}}

{{- else if eq .Object.Kind "channel" }}
    {{- if not .CurrentLayoutItem.Render.ProtoObjectsOnly}}
        {{- template "channel.tmpl" .Object}}
    {{- end}}
    {{- range .CurrentLayoutItem.RenderProtocols}}
        {{- with $.Object.SelectProtoObject . }}
            {{- tmpl (print .Protocol "_channel.tmpl") . }}
        {{- end}}
    {{- end}}

{{- else if eq .Object.Kind "operation" }}
    {{- if not .CurrentLayoutItem.Render.ProtoObjectsOnly}}
        {{- template "operation.tmpl" .Object}}
    {{- end}}
    {{- range .CurrentLayoutItem.RenderProtocols}}
        {{- with $.Object.SelectProtoObject . }}
            {{- tmpl (print .Protocol "_operation.tmpl") . }}
        {{- end}}
    {{- end}}

{{- else if eq .Object.Kind "message" }}
    {{- if not .CurrentLayoutItem.Render.ProtoObjectsOnly}}
        {{- template "message.tmpl" .Object}}
    {{- end}}

    {{- range .CurrentLayoutItem.RenderProtocols}}
        {{- with $.Object.SelectProtoObject . }}
            {{- tmpl (print .Protocol "_message.tmpl") . }}
        {{- end}}
    {{- end}}

{{- else if eq .Object.Kind "parameter" }}
    {{- template "parameter.tmpl" .Object}}

{{- end}}
