{{- /* dot == tmpl.CodeTemplateContext */}}
{{- if and (eq .Object.Kind "schema") (visible .Object) }}
    {{- template "schema.tmpl" .Object }}

{{- else if and (eq .Object.Kind "server") (visible .Object)}}
    {{- if not .CurrentSelection.Render.ProtoObjectsOnly}}
        {{- template "server.tmpl" .Object }}
    {{- end}}

    {{- range .CurrentSelection.RenderProtocols}}
        {{- with (deref $.Object).SelectProtoObject . }}
            {{- tmpl (print .Protocol "_server.tmpl") . }}
        {{- end}}
    {{- end}}

{{- else if and (eq .Object.Kind "channel") (visible .Object)}}
    {{- if not .CurrentSelection.Render.ProtoObjectsOnly}}
        {{- template "channel.tmpl" .Object}}
    {{- end}}
    {{- range .CurrentSelection.RenderProtocols}}
        {{- with (deref $.Object).SelectProtoObject . }}
            {{- tmpl (print .Protocol "_channel.tmpl") . }}
        {{- end}}
    {{- end}}

{{- else if and (eq .Object.Kind "operation") (visible .Object)}}
    {{- if not .CurrentSelection.Render.ProtoObjectsOnly}}
        {{- template "operation.tmpl" .Object}}
    {{- end}}
    {{- range .CurrentSelection.RenderProtocols}}
        {{- with (deref $.Object).SelectProtoObject . }}
            {{- tmpl (print .Protocol "_operation.tmpl") . }}
        {{- end}}
    {{- end}}

{{- else if and (eq .Object.Kind "message") (visible .Object) }}
    {{- if not .CurrentSelection.Render.ProtoObjectsOnly}}
        {{- template "message.tmpl" .Object}}
    {{- end}}

    {{- range .CurrentSelection.RenderProtocols}}
        {{- with (deref $.Object).SelectProtoObject . }}
            {{- tmpl (print .Protocol "_message.tmpl") . }}
        {{- end}}
    {{- end}}

{{- else if and (eq .Object.Kind "parameter") (visible .Object)}}
    {{- template "parameter.tmpl" .Object}}

{{- end}}
