{{- /* dot == render.Message */}}
{{- pin .}}

{{- if .Bindings }}
    type {{goID $}}Bindings struct{}

    {{- range $proto := $.Bindings.Protocols}}
        {{with tryTmpl (print "code/proto/" $proto "/message/bindings/values") ($.ProtoMessage $proto)}}
            func (c {{goID $}}Bindings) {{ goID $proto }}() {{goPkgUtil $proto}}MessageBindings {
                return {{.}}
            }
        {{- end}}
    {{- end}}
{{- end }}

{{- if .IsPublisher}}
    type {{ . | goID }}Sender interface {
        SetPayload(payload {{.PayloadType | goUsage}}) *{{ .OutType | goID }}
        SetHeaders(headers {{.HeadersType | goUsage}}) *{{ .OutType | goID }}
        {{- if isVisible .CorrelationID}}
            {{- $ctx := dict "SourceVarName" "m" "RuntimeExpression" .CorrelationID.BaseRuntimeExpression "TargetType" .OutType}}
            SetCorrelationID(value {{template "code/runtimeExpression/varType" $ctx}}) *{{ .OutType | goID }}
        {{- end}}
    }

    {{.OutType | goDef}}

    func (m *{{ .OutType | goID }}) SetPayload(payload {{.PayloadType | goUsage}}) *{{ .OutType | goID }} {
        m.Payload = payload
        return m
    }

    func (m *{{ .OutType | goID }}) SetHeaders(headers {{.HeadersType | goUsage}}) *{{ .OutType | goID }} {
        m.Headers = headers
        return m
    }

    {{- if isVisible .CorrelationID}}
        {{- $ctx := dict "SourceVarName" "m" "RuntimeExpression" .CorrelationID.BaseRuntimeExpression "TargetType" .OutType}}
        func (m *{{ .OutType | goID }}) SetCorrelationID(value {{template "code/runtimeExpression/varType" $ctx}}) *{{ .OutType | goID }} {
            {{template "code/runtimeExpression/setterBody" $ctx}}
            return m
        }
    {{- end}}

    {{- range $op := .BoundPubReplyOperations}}
        {{- $opr := $op.OperationReply}}
        {{- if and (isVisible $op) (isVisible $opr) $opr.OperationReplyAddress }}
            {{- $ctx := dict "SourceVarName" "m" "RuntimeExpression" $opr.OperationReplyAddress.BaseRuntimeExpression "TargetType" $.OutType}}
            func (m *{{ $.OutType | goID }}) SetReplyAddress{{$op | goID}}(value {{template "code/runtimeExpression/varType" $ctx}}) {
                {{template "code/runtimeExpression/setterBody" $ctx}}
            }
        {{- end}}
    {{- end}}
{{- end}}

{{- if .IsSubscriber }}
    type {{ $ | goID }}Receiver interface {
        Payload() {{.PayloadType | goUsage}}
        Headers() {{.HeadersType | goUsage}}
        {{- if isVisible .CorrelationID}}
            {{- $ctx := dict "SourceVarName" "m" "RuntimeExpression" .CorrelationID.BaseRuntimeExpression "TargetType" .InType}}
            CorrelationID() (value {{template "code/runtimeExpression/varType" $ctx}}, err error)
        {{- end}}
    }

    {{.InType | goDef}}

    func (m *{{ .InType | goID }}) Payload() {{.PayloadType | goUsage}} {
        return m.payload
    }

    func (m *{{ .InType | goID }}) Headers() {{.HeadersType | goUsage}} {
        return m.headers
    }

    {{- if isVisible .CorrelationID}}
        {{- $ctx := dict "SourceVarName" "m" "RuntimeExpression" .CorrelationID.BaseRuntimeExpression "TargetType" .InType}}
        func (m {{ .InType | goID }}) CorrelationID() (value {{template "code/runtimeExpression/varType" $ctx}}, err error) {
            {{template "code/runtimeExpression/getterBody" $ctx}}
            return
        }
    {{- end}}

    {{- range $op := .BoundSubReplyOperations}}
        {{- $opr := $op.OperationReply}}
        {{- if and (isVisible $op) (isVisible $opr) $opr.OperationReplyAddress}}
            {{- $ctx := dict "SourceVarName" "m" "RuntimeExpression" $opr.OperationReplyAddress.BaseRuntimeExpression "TargetType" $.InType}}
            func (m *{{ $.InType | goID }}) ReplyAddress{{$op | goID}}() (value {{template "code/runtimeExpression/varType" $ctx}}, err error) {
                {{template "code/runtimeExpression/getterBody" $ctx}}
                return
            }
        {{- end}}
    {{- end}}
{{- end}}
