{{- /* dot == common.Artifact: Ref -> render.Message or render.Message */}}
{{- with $message := deref .}}

{{- if and .BindingsType (ndefined .BindingsType)}}
    {{- .BindingsType| goDef }}
    {{- range $proto := .BindingsProtocols}}
        {{- $bindingsValue := $message.ProtoBindingsValue $proto}}
        func (c {{ $message.BindingsType | goUsage }}) {{ $proto | goIDUpper }}() {{$bindingsValue.Type | goUsage}} {
            b := {{$bindingsValue| goUsage}}
            {{- with $message.Bindings}}
                {{- $jvals := .JSONValues.GetOrEmpty $proto}}
                {{- range $jval := $jvals.Entries}}
                    {{ $jval.Key | toCamelCase }} := {{$jval.Value | goLit}}
                    _ = {{goQual "encoding/json.Unmarshal"}}([]byte({{$jval.Key | toCamelCase }}), &b.{{$jval.Key}})
                {{- end}}
            {{- end}}
            return b
        }
    {{- end}}
{{- end }}

{{- if and (ndefined .OutType) .IsPublisher }}
{{.OutType| goDef}}

func (m *{{ .OutType | goIDUpper }}) SetPayload(payload {{.PayloadType | goUsage}}) *{{ .OutType | goIDUpper }} {
    m.Payload = payload
    return m
}

func (m *{{ .OutType | goIDUpper }}) SetHeaders(headers {{.HeadersType | goUsage}}) *{{ .OutType | goIDUpper }} {
    m.Headers = headers
    return m
}

{{- if isVisible .CorrelationID}}
{{- $ctx := dict "SourceVarName" "m" "RuntimeExpression" .CorrelationID.BaseRuntimeExpression "TargetType" .OutType}}
func (m *{{ .OutType | goIDUpper }}) SetCorrelationID(value {{template "code/runtimeExpression/varType" $ctx}}) *{{ .OutType | goIDUpper }} {
    {{template "code/runtimeExpression/setterBody" $ctx}}
    return m
}
{{- end}}
{{- end}}

{{- if print "Message" (goIDUpper $) | ndefined}}
    {{- if .IsSubscriber}}
        type {{ $ | goIDUpper }}Sender interface {
            Payload() {{.PayloadType | goUsage}}
            Headers() {{.HeadersType | goUsage}}
            {{- with isVisible .CorrelationID}}
            {{- $ctx := dict "SourceVarName" "m" "RuntimeExpression" .CorrelationID.BaseRuntimeExpression "TargetType" $message.InType}}
            CorrelationID() (value {{template "code/runtimeExpression/varType" $ctx}}, err error)
            {{- end}}
        }
        {{- def .InType }}
    {{- end}}

    {{- if .IsPublisher}}
        type {{ $ | goIDUpper }}Receiver interface {
            SetPayload(payload {{.PayloadType | goUsage}}) *{{ .OutType | goIDUpper }}
            SetHeaders(headers {{.HeadersType | goUsage}}) *{{ .OutType | goIDUpper }}
            {{- if isVisible .CorrelationID}}
            {{- $ctx := dict "SourceVarName" "m" "RuntimeExpression" .CorrelationID.BaseRuntimeExpression "TargetType" .OutType}}
            SetCorrelationID(value {{template "code/runtimeExpression/varType" $ctx}}) *{{ .OutType | goIDUpper }}
            {{- end}}
        }
        {{- def .OutType }}
    {{- end}}
{{- end}}

{{- if and (ndefined .InType) .IsSubscriber }}
{{.InType| goDef}}

func (m *{{ .InType | goIDUpper }}) Payload() {{.PayloadType | goUsage}} {
    return m.payload
}

func (m *{{ .InType | goIDUpper }}) Headers() {{.HeadersType | goUsage}} {
    return m.headers
}

{{- if isVisible .CorrelationID}}
{{- $ctx := dict "SourceVarName" "m" "RuntimeExpression" .CorrelationID.BaseRuntimeExpression "TargetType" .InType}}
func (m {{ .InType | goIDUpper }}) CorrelationID() (value {{template "code/runtimeExpression/varType" $ctx}}, err error) {
    {{template "code/runtimeExpression/getterBody" $ctx}}
    return
}
{{- end}}
{{- end}}

{{- print "Message" (goIDUpper $) | def }}

{{- end}}
