{{- /* dot == render.Message */}}
{{- pin .}}

{{- if .Bindings }}
    type {{goID $}}Bindings struct{}

    {{- range $proto := $.Bindings.Protocols}}
        func (c {{goID $}}Bindings) {{ goID $proto }}() {{goPkgUtil $proto}}MessageBindings {
        {{- with tryTmpl (print "code/proto/" $proto "/message/bindings/values") ($.ProtoMessage $proto)}}
            return {{.}}
        {{- else}}
            return {{goPkgUtil $proto}}MessageBindings{}
        {{- end}}
        }
    {{- end}}
{{- end }}

{{- if .IsPublisher}}
    type {{ . | goID }}Sender interface {
        SetPayload(payload {{.PayloadType | goUsage}}) *{{ .OutType | goID }}
        SetHeaders(headers {{.HeadersType | goUsage}}) *{{ .OutType | goID }}
        {{- with runtimeExpression .CorrelationID .OutType false}}
            SetCorrelationID(value {{goUsage .LastVarType}}) *{{ $.OutType | goID }}
        {{- end}}
    }

    {{.OutType | goDef}}

    func (m *{{ .OutType | goID }}) SetPayload(payload {{.PayloadType | goUsage}}) *{{ .OutType | goID }} {
        m.Payload = payload
        return m
    }

    func (m *{{ .OutType | goID }}) SetHeaders(headers {{.HeadersType | goUsage}}) *{{ .OutType | goID }} {
        m.Headers = headers
        return m
    }

    {{- with runtimeExpression .CorrelationID .OutType false}}
        func (m *{{ $.OutType | goID }}) SetCorrelationID(value {{goUsage .LastVarType}}) *{{ goID $.OutType }} {
            {{.FirstVar}} := m.{{.FieldKind | toTitleCase}}
            {{template "code/runtimeExpression/setterBody" .}}
            m.{{.FieldKind | toTitleCase}} = {{.FirstVar}}
            return m
        }
    {{- end}}

    {{- range $op := .BoundPubReplyOperations}}
        {{- $opr := $op.OperationReply}}
        {{- if and (isVisible $op) (isVisible $opr) $opr.OperationReplyAddress }}
            {{- with runtimeExpression $opr.OperationReplyAddress $.OutType false}}
                func (m *{{ $.OutType | goID }}) SetReplyAddress{{$op | goID}}(value {{goUsage .LastVarType}}) {
                    {{.FirstVar}} := m.{{.FieldKind | toTitleCase}}
                    {{template "code/runtimeExpression/setterBody" .}}
                    m.{{.FieldKind | toTitleCase}} = {{.FirstVar}}
                }
            {{- end}}
        {{- end}}
    {{- end}}
{{- end}}

{{- if .IsSubscriber }}
    type {{ $ | goID }}Receiver interface {
        Payload() {{.PayloadType | goUsage}}
        Headers() {{.HeadersType | goUsage}}
        {{- with runtimeExpression .CorrelationID $.InType false}}
            CorrelationID() (value {{goUsage .LastVarType}}, err error)
        {{- end}}
    }

    {{.InType | goDef}}

    func (m *{{ .InType | goID }}) Payload() {{.PayloadType | goUsage}} {
        return m.payload
    }

    func (m *{{ .InType | goID }}) Headers() {{.HeadersType | goUsage}} {
        return m.headers
    }

    {{- with runtimeExpression .CorrelationID $.InType false}}
        func (m {{ $.InType | goID }}) CorrelationID() (value {{goUsage .LastVarType}}, err error) {
            {{.FirstVar}} := m.{{.FieldKind}}
            {{template "code/runtimeExpression/getterBody" .}}
            {{if .CodeSteps}}value = {{.LastVar}}{{end}}
            return
        }
    {{- end}}

    {{- range $op := .BoundSubReplyOperations}}
        {{- $opr := $op.OperationReply}}
        {{- if and (isVisible $op) (isVisible $opr) $opr.OperationReplyAddress}}
            {{- with runtimeExpression $opr.OperationReplyAddress $.InType false}}
                func (m *{{ $.InType | goID }}) ReplyAddress{{$op | goID}}() (value {{goUsage .LastVarType}}, err error) {
                    {{.FirstVar}} := m.{{.FieldKind}}
                    {{template "code/runtimeExpression/getterBody" .}}
                    {{if .CodeSteps}}value = {{.LastVar}}{{end}}
                    return
                }
            {{- end}}
        {{- end}}
    {{- end}}
{{- end}}
