{{- /* dot == render.Operation */}}
{{- pin .}}

{{- if .Bindings }}
    type {{goID $}}Bindings struct{}

    {{- range $proto := $.Bindings.Protocols}}
        {{with tryTmpl (print "code/proto/" $proto "/operation/bindings/values") ($.ProtoOperation $proto)}}
            func (c {{goID $}}Bindings) {{ goID $proto }}() {{goPkgUtil $proto}}OperationBindings {
                return {{.}}
            }
        {{- end}}
    {{- end}}
{{- end}}