{{- /* dot == common.Artifact: Ref -> render.Operation or render.Operation */}}
{{- with $operation := deref .}}

{{- if and .BindingsType (ndefined .BindingsType) }}
    {{ .BindingsType | goDef }}
    {{- range $proto := .BindingsProtocols }}
        {{- $bindingsValue := $operation.ProtoBindingsValue $proto }}
        func (c {{ $operation.BindingsType | goUsage }}) {{ $proto | goIDUpper }}() {{$bindingsValue.Type | goUsage}} {
            b := {{$bindingsValue | goUsage}}
            {{- with $operation.Bindings }}
                {{- $jvals := .JSONValues.GetOrEmpty $proto }}
                {{- range $jvals.Entries}}
                    {{.Key | toCamelCase }} := {{.Value | goLit}}
                    _ = {{goQual "encoding/json.Unmarshal"}}([]byte({{.Key | toCamelCase }}), &b.{{.Key}})
                {{- end}}
            {{- end}}
            return b
        }
    {{- end}}
{{- end}}
{{- end}}