{{- /* dot == render.Operation */}}
{{- pin .}}

{{- if .Bindings }}
    type {{goIDUpper $}}Bindings struct{}

    {{- range $proto := $.Bindings.Protocols}}
        {{with tryTmpl (print "code/proto/" $proto "/operation/bindings/values") ($.ProtoOperation $proto)}}
            func (c {{goIDUpper $}}Bindings) {{ goIDUpper $proto }}() {{goQualU $proto "OperationBindings"}} {
                return {{.}}
            }
        {{- end}}
    {{- end}}
{{- end}}