{{/* dot == tmpl.RuntimeExpressionInfo */}}

{{define "code/runtimeExpression/setterBody"}}
{{- /* Render extraction steps except the last one */}}
{{- range initial .CodeSteps}}
    {{- range .CodeLines}}
        {{.}}
    {{- end}}
{{- end}}

{{- $exprVal := "value"}}
{{- /* Set value and collapse the value back */}}
{{- range reverse .CodeSteps }}
    {{.VarValue}} = {{$exprVal}}
    {{- $exprVal = .VarValueVarName}}
{{- end}}
{{- end}}

{{define "code/runtimeExpression/getterBody"}}
{{- /* Render extraction steps except the last one */}}
{{- range .CodeSteps}}
    {{- range .CodeLines}}
        {{.}}
    {{- end}}
{{- end}}

{{- /* Assign value to the result var and exit */}}
{{- end}}
