{{/* dot == tmpl.RuntimeExpressionInfo */}}

{{define "code/runtimeExpression/setterBody"}}
{{- /* Render extraction steps except the last one */}}
{{- range initial .CodeSteps}}
    // {{.ExpressionPart}}
    {{- range .Lines}}
        {{.}}
    {{- end}}
{{- end}}

{{- $exprVal := "value"}}
{{- /* Set value and collapse the value back */}}
{{- range reverse .CodeSteps }}
    {{.Operator}} = {{$exprVal}}
    {{- $exprVal = .InputVar}}
{{- end}}
{{- end}}

{{define "code/runtimeExpression/getterBody"}}
{{- /* Render extraction steps except the last one */}}
{{- range .CodeSteps}}
    // {{.ExpressionPart}}
    {{- range .Lines}}
        {{.}}
    {{- end}}
{{- end}}

{{- /* Assign value to the result var and exit */}}
{{- end}}
