{{/* dot == render.SecurityScheme */}}

{{define "code/security/userPassword"}}
func New{{goIDUpper .}}Security(credentials func() (username, password string)) {{goIDUpper .}}Security {
    res := {{goIDUpper .}}Security{}
    res.credentials = credentials
    return res
}

type {{goIDUpper .}}Security struct {
    credentials func() (string, string)
}

func (s {{goIDUpper .}}Security) AuthType() string {
    return "userPassword"
}

func (s {{goIDUpper .}}Security) UserPassword() (string, string) {
    return s.credentials()
}

{{- range .BoundServers}}
    func (s {{goIDUpper $}}Security) {{. | goIDUpper}}Security() {}
{{- end}}
{{- range .BoundOperations}}
    func (s {{goIDUpper $}}Security) {{. | goIDUpper}}Security() {}
{{- end}}

{{- end}}

{{define "code/security/apiKey"}}
{{/* Different services may accept the API key as a standalone value or as a username/password value.
     So, we generate here two variants for both cases, since the AsyncAPI doesn't allow to distinguish this for 'apiKey' type.
  */}}
func New{{goIDUpper .}}Security(credentials func() string) {{goIDUpper .}}Security {
    res := {{goIDUpper .}}Security{credentials: credentials}
    return res
}

type {{goIDUpper .}}Security struct {
    credentials func() string
}

func (s {{goIDUpper .}}Security) AuthType() string {
    return "apiKey"
}

func (s {{goIDUpper .}}Security) APIKey() string {
    return s.credentials()
}

func (s {{goIDUpper .}}Security) In() string {
    return {{goLit .Params.In}}
}

{{- range .BoundServers}}
    func (s {{goIDUpper $}}Security) {{. | goIDUpper}}Security() {}
{{- end}}
{{- range .BoundOperations}}
    func (s {{goIDUpper $}}Security) {{. | goIDUpper}}Security() {}
{{- end}}
    
func New{{goIDUpper .}}SecurityUserPassword(credentials func() (username, password string)) {{goIDUpper .}}SecurityUserPassword {
    res := {{goIDUpper .}}SecurityUserPassword{credentials: credentials}
    return res
}
    
func New{{goIDUpper .}}SecurityUserOrPassword(credentials func() string) {{goIDUpper .}}SecurityUserPassword {
    res := {{goIDUpper .}}SecurityUserPassword{}
    res.credentials = func() (string, string) {
        {{- if eq .Params.In "user"}}
            return credentials(), ""
        {{- else if eq .Params.In "password"}}
            return "", credentials()
        {{- else}}
            return "", ""  // WARNING: 'in' param must be either 'user' or 'password', got {{goLit .Params.In}}
        {{- end}}
    }
    return res
}

type {{goIDUpper .}}SecurityUserPassword struct {
    credentials func() (string, string)
}

func (s {{goIDUpper .}}SecurityUserPassword) AuthType() string {
    return "apiKey"
}

func (s {{goIDUpper .}}SecurityUserPassword) UserPassword() (string, string) {
    return s.credentials()
}

func (s {{goIDUpper .}}SecurityUserPassword) In() string {
    return {{goLit .Params.In}}
}

{{- range .BoundServers}}
    func (s {{goIDUpper $}}SecurityUserPassword) {{. | goIDUpper}}Security() {}
{{- end}}
{{- range .BoundOperations}}
    func (s {{goIDUpper $}}SecurityUserPassword) {{. | goIDUpper}}Security() {}
{{- end}}

{{- end}}

{{/* dot == render.SecurityScheme */}}
{{with tryTmpl (print "code/security/" .SchemeType) .}}
    {{- pin $}}
    {{.}}
{{end}}