{{/* dot == render.SecurityScheme */}}

{{define "code/security/userPassword"}}
func New{{goIDUpper .}}Security(credentials func() (username, password string)) {{goIDUpper .}}Security {
    res := {{goIDUpper .}}Security{}
    res.credentials = credentials
    return res
}

type {{goIDUpper .}}Security struct {
    credentials func() (string, string)
}

func (s {{goIDUpper .}}Security) AuthType() string {
    return "userPassword"
}

func (s {{goIDUpper .}}Security) UserPassword() (string, string) {
    return s.credentials()
}

{{- range .BoundServers}}
    func (s {{goIDUpper $}}Security) {{. | goIDUpper}}Security() {}
{{- end}}
{{- range .BoundOperations}}
    func (s {{goIDUpper $}}Security) {{. | goIDUpper}}Security() {}
{{- end}}

{{- end}}

{{define "code/security/apiKey"}}
{{/* Different services may accept the API key as a standalone value or as a username/password value.
     So, we generate here two variants for both cases, since the AsyncAPI doesn't allow to distinguish this for 'apiKey' type.
  */}}
func New{{goIDUpper .}}SecurityStandalone(credentials func() string) {{goIDUpper .}}SecurityStandalone {
    res := {{goIDUpper .}}SecurityStandalone{
        in: {{goLit .Params.In}},
    }
    res.credentials = credentials
    return res
}

type {{goIDUpper .}}SecurityStandalone struct {
    in          string
    credentials func() string
}

func (s {{goIDUpper .}}SecurityStandalone) AuthType() string {
    return "apiKey"
}

func (s {{goIDUpper .}}SecurityStandalone) APIKey() string {
    return s.credentials()
}

func (s {{goIDUpper .}}SecurityStandalone) In() string {
    return s.in
}

{{- range .BoundServers}}
    func (s {{goIDUpper $}}SecurityStandalone) {{. | goIDUpper}}Security() {}
{{- end}}
{{- range .BoundOperations}}
    func (s {{goIDUpper $}}SecurityStandalone) {{. | goIDUpper}}Security() {}
{{- end}}

func New{{goIDUpper .}}SecurityPair(credentials func() (username, password string)) {{goIDUpper .}}SecurityPair {
    res := {{goIDUpper .}}SecurityPair{
        in: {{goLit .Params.In}},
    }
    res.credentials = credentials
    return res
}

type {{goIDUpper .}}SecurityPair struct {
    in          string
    credentials func() (string, string)
}

func (s {{goIDUpper .}}SecurityPair) AuthType() string {
    return "apiKey"
}

func (s {{goIDUpper .}}SecurityPair) UserPassword() (string, string) {
    return s.credentials()
}

func (s {{goIDUpper .}}SecurityPair) APIKey() string {
    user, pass := s.credentials()
    switch s.in {
    case "user":
        return user
    case "password":
        return pass
    }
    return ""
}

func (s {{goIDUpper .}}SecurityPair) In() string {
    return s.in
}

{{- range .BoundServers}}
    func (s {{goIDUpper $}}SecurityPair) {{. | goIDUpper}}Security() {}
{{- end}}
{{- range .BoundOperations}}
    func (s {{goIDUpper $}}SecurityPair) {{. | goIDUpper}}Security() {}
{{- end}}

{{- end}}

{{/* dot == render.SecurityScheme */}}
{{with tryTmpl (print "code/security/" .SchemeType) .}}
    {{.}}
{{end}}