{{- /* dot == render.Server */}}
{{- pin .}}

{{- if .ProtocolVersion}}
const {{. | goIDUpper}}ProtocolVersion = {{.ProtocolVersion | goLit}}
{{- end}}

func {{. | goIDUpper}}URL(
{{- range .Variables.Entries}}
    {{- .Value | goID}} string,
{{- end }}) (*{{goPkgExt "net/url"}}URL, error) {
    {{- if gt .Variables.Len 0}}
        {{- range .Variables.Entries}}
            {{- if .Value.Default}}
                if {{.Value | goID}} == "" {
                    {{.Value | goID}} = {{.Value.Default | goLit}}
                }
            {{- end}}
        {{- end}}
        paramMap := map[string]string{
            {{- range .Variables.Entries}}
                {{.Key | goLit}}: {{.Value | goID}},
            {{- end}}
        }

        res := &{{goPkgExt "net/url"}}URL{Scheme: {{.Protocol | goLit}}}
        {{- if .Host}}
            h, err := {{goPkgRun}}ParamString{Expr: {{.Host | goLit}}, Parameters: paramMap}.Expand()
            if err != nil {
                return nil, {{goPkgExt "fmt"}}Errorf("expand host: %w", err)
            }
            res.Host = h
        {{- end}}
        {{- if .Pathname}}
            p, err := {{goPkgRun}}ParamString{Expr: {{.Pathname | goLit}}, Parameters: paramMap}.Expand()
            if err != nil {
                return nil, {{goPkgExt "fmt"}}Errorf("expand pathname: %w", err)
            }
            res.Path = p
        {{- end}}

        return res, nil
    {{- else}}
        return &{{goPkgExt "net/url"}}URL{Scheme: {{.Protocol | goLit}}, Host: {{.Host | goLit}}, Path: {{.Pathname | goLit}}}, nil
    {{- end}}
}

{{- if .Bindings }}
    type {{goIDUpper $}}Bindings struct{}

    {{- range $proto := $.Bindings.Protocols}}
        {{with tryTmpl (print "code/proto/" $proto "/server/bindings/values") $}}
            func (c {{goIDUpper $}}Bindings) {{ goIDUpper $proto }}() {{goPkgUtil $proto}}ServerBindings {
                return {{.}}
            }
        {{- end}}
    {{- end}}
{{- end}}
