{{- /* dot == render.Server */}}
{{- pin .}}

{{- if .ProtocolVersion}}
const {{. | goID}}ProtocolVersion = {{.ProtocolVersion | goLit}}
{{- end}}

func {{. | goID}}URL(
{{- range $_, $v := .Variables.Entries}}
    {{- $v | goIDLower}} string,
{{- end }}) (*{{goPkgExt "net/url"}}URL, error) {
    {{- if gt .Variables.Len 0}}
        {{- range $_, $v := .Variables.Entries}}
            {{- if $v.Default}}
                if {{$v | goIDLower}} == "" {
                    {{$v | goIDLower}} = {{$v.Default | goLit}}
                }
            {{- end}}
        {{- end}}
        paramMap := map[string]string{
            {{- range $k, $v := .Variables.Entries}}
                {{$k | goLit}}: {{$v | goIDLower}},
            {{- end}}
        }

        res := &{{goPkgExt "net/url"}}URL{Scheme: {{.Protocol | goLit}}}
        {{- if .Host}}
            h, err := {{goPkgRun}}ParamString{Expr: {{.Host | goLit}}, Parameters: paramMap}.Expand()
            if err != nil {
                return nil, {{goPkgExt "fmt"}}Errorf("expand host: %w", err)
            }
            res.Host = h
        {{- end}}
        {{- if .Pathname}}
            p, err := {{goPkgRun}}ParamString{Expr: {{.Pathname | goLit}}, Parameters: paramMap}.Expand()
            if err != nil {
                return nil, {{goPkgExt "fmt"}}Errorf("expand pathname: %w", err)
            }
            res.Path = p
        {{- end}}

        return res, nil
    {{- else}}
        return &{{goPkgExt "net/url"}}URL{Scheme: {{.Protocol | goLit}}, Host: {{.Host | goLit}}, Path: {{.Pathname | goLit}}}, nil
    {{- end}}
}

{{- if .Bindings }}
    type {{goID $}}Bindings struct{}

    {{- range $proto := $.Bindings.Protocols}}
        func (c {{goID $}}Bindings) {{ goID $proto }}() {{goPkgUtil $proto}}ServerBindings {
        {{- with tryTmpl (print "code/proto/" $proto "/server/bindings/values") $}}
            return {{.}}
        {{- else}}
            return {{goPkgUtil $proto}}ServerBindings{}
        {{- end}}
        }
    {{- end}}
{{- end}}
