{{- /* dot == render.Renderable: Ref -> render.Server or render.Server */}}
{{- with $server := deref .}}

{{- if .ProtocolVersion}}
const {{$ | goIDUpper}}ProtocolVersion = {{.ProtocolVersion | goLit}}
{{- end}}

func {{$ | goIDUpper}}URL(
{{- range .Variables.Entries}}
    {{- .Value | goID}} string,
{{- end }}) (*{{goQual "net/url.URL"}}, error) {
    {{- if gt .Variables.Len 0}}
        {{- range .Variables.Entries}}
            {{- if .Value.Default}}
                if {{.Value | goID}} == "" {
                    {{.Value | goID}} = {{.Value.Default | goLit}}
                }
            {{- end}}
        {{- end}}
        paramMap := map[string]string{
            {{- range .Variables.Entries}}
                {{.Key | goLit}}: {{.Value | goID}},
            {{- end}}
        }

        res := &{{goQual "net/url.URL"}}{Scheme: {{.Protocol | goLit}}}
        {{- if .Host}}
            h, err := {{goQualR "ParamString"}}{Expr: {{.Host | goLit}}, Parameters: paramMap}.Expand()
            if err != nil {
                return nil, {{goQual "fmt.Errorf"}}("expand host: %w", err)
            }
            res.Host = h
        {{- end}}
        {{- if .Pathname}}
            p, err := {{goQualR "ParamString"}}{Expr: {{.Pathname | goLit}}, Parameters: paramMap}.Expand()
            if err != nil {
                return nil, {{goQual "fmt.Errorf"}}.Errorf("expand pathname: %w", err)
            }
            res.Path = p
        {{- end}}

        return res, nil
    {{- else}}
        return &{{goQual "net/url.URL"}}{Scheme: {{.Protocol | goLit}}, Host: {{.Host | goLit}}, Path: {{.Pathname | goLit}}}, nil
    {{- end}}
}

{{- if and .BindingsType (ndefined .BindingsType)}}
    {{- .BindingsType | goDef}}
    {{- range $proto := .BindingsProtocols}}
        {{- $bindingsValue := $server.ProtoBindingsValue $proto}}
        func (c {{ $server.BindingsType | goUsage }}) {{ $proto | goIDUpper }}() {{$bindingsValue.Type | goUsage}} {
            b := {{$bindingsValue | goUsage}}
            {{- with $server.Bindings}}
                {{- $jvals := .JSONValues.GetOrEmpty $proto}}
                {{- range $jval := $jvals.Entries}}
                    {{$jval.Key | toCamelCase }} := {{$jval.Value | goLit}}
                    _ = {{goQual "encoding/json.Unmarshal"}}([]byte({{$jval.Key | toCamelCase }}), &b.{{$jval.Key}})
                {{- end}}
            {{- end}}
            return b
        }
    {{- end}}
{{- end}}

{{- end}}