{{- /* dot == render.ProtoChannel */}}
{{define "code/proto/ws/channel/publishMethods/block2"}}
    envelope.SetOpCode(byte({{goQual "github.com/gobwas/ws.OpBinary"}}))
{{- end}}

{{- with once .Type}}
    {{template "code/proto/channel/newFunction" $}}
    {{template "code/proto/channel/openFunction" $}}

    {{. | goDef}}

    {{template "code/proto/channel/commonMethods" $}}
    {{if $.IsPublisher}}{{template "code/proto/channel/publishMethods" $}}{{end}}
    {{if $.IsSubscriber}}{{template "code/proto/channel/subscribeMethods" $}}{{end}}
    {{template "code/proto/channel/serverInterface" $}}
{{- end}}
