{{- /* dot == render.ProtoChannel */}}
{{- def .Type}}
{{template "code/proto/channel/newFunction" .}}

{{template "code/proto/channel/openFunction" .}}

{{- if ndefined .Type}}
{{.Type| goDef}}

{{template "code/proto/channel/commonMethods" .}}

{{if .IsPublisher}}{{template "code/proto/channel/publishMethods" .}}{{end}}

{{if .IsSubscriber}}{{template "code/proto/channel/subscribeMethods" .}}{{end}}

{{template "code/proto/channel/serverInterface" .}}
{{- end}}
