{{- /* dot == render.ProtoChannel */}}
{{define "code/proto/ws/channel/publishMethods/block2"}}
    envelope.SetOpCode(byte({{goQual "github.com/gobwas/ws.OpBinary"}}))
{{- end}}

{{- pin . }}
{{template "code/proto/channel/newFunction" .}}
{{template "code/proto/channel/openFunction" .}}

type {{. | goIDUpper}}{{.Protocol | goIDUpper}} struct {
    address    {{goQualR "ParamString"}}
    {{if .IsPublisher}}publisher  {{goQualR .Protocol "Publisher"}}{{end}}
    {{if .IsSubscriber}}subscriber {{goQualR .Protocol "Subscriber"}}{{end}}
}

{{template "code/proto/channel/commonMethods" .}}
{{if .IsPublisher}}{{template "code/proto/channel/publishMethods" .}}{{end}}
{{if .IsSubscriber}}{{template "code/proto/channel/subscribeMethods" .}}{{end}}
{{template "code/proto/channel/serverInterface" .}}
