{{- /* dot == render.Server */}}

{{define "code/proto/ws/server/impl/github.com/gobwas/ws/connectFunction"}}
func Connect{{ . | goID }}Bidi(
    ctx {{goPkgExt "context"}}Context,
    url *{{goPkgExt "net/url"}}URL,
    {{with $.SecuritySchemes}}security {{$ | goID}}Security,{{end}}
) (*{{ . | goID }}Closable, error) {
    var bindings *{{goPkgUtil .Protocol}}ServerBindings
    {{- if .BindingsProtocols | has .Protocol}}
        bindings = {{goPkgRun}}ToPtr({{goPkg .}}{{goID .}}Bindings{}.{{.Protocol | goID}}())
    {{- end}}
    producer := {{goPkgImpl .Protocol}}NewProducer(url, bindings, {{if $.SecuritySchemes}}security{{else}}nil{{end}})
    consumer := {{goPkgImpl .Protocol}}NewConsumer(bindings, {{if $.SecuritySchemes}}security{{else}}nil{{end}})
    return &{{ . | goID }}Closable{
        {{. | goID}}{producer: producer, consumer: consumer},
    }, nil
}
{{- end}}

{{define "code/proto/ws/server/impl/github.com/gobwas/ws/connectProducerFunction"}}
func Connect{{ . | goID }}Producer(
    ctx {{goPkgExt "context"}}Context,
    url *{{goPkgExt "net/url"}}URL,
    {{with $.SecuritySchemes}}security {{$ | goID}}Security,{{end}}
) (*{{ . | goID }}Closable, error) {
    var bindings *{{goPkgUtil .Protocol}}ServerBindings
    {{- if .BindingsProtocols | has .Protocol}}
        bindings = {{goPkgRun}}ToPtr({{goPkg .}}{{goID .}}Bindings{}.{{.Protocol | goID}}())
    {{- end}}
    producer := {{goPkgImpl .Protocol}}NewProducer(url, bindings, {{if $.SecuritySchemes}}security{{else}}nil{{end}})
    return &{{ . | goID }}Closable{
        {{. | goID}}{producer: producer},
    }, nil
}
{{- end}}

{{define "code/proto/ws/server/impl/github.com/gobwas/ws/connectConsumerFunction"}}
func Connect{{ . | goID }}Consumer(
    ctx {{goPkgExt "context"}}Context,
    url *{{goPkgExt "net/url"}}URL,
    {{with $.SecuritySchemes}}security {{$ | goID}}Security,{{end}}
) (*{{ . | goID }}Closable, error) {
    var bindings *{{goPkgUtil .Protocol}}ServerBindings
    {{- if .BindingsProtocols | has .Protocol}}
        bindings = {{goPkgRun}}ToPtr({{goPkg .}}{{goID .}}Bindings{}.{{.Protocol | goID}}())
    {{- end}}
    consumer := {{goPkgImpl .Protocol}}NewConsumer(bindings, {{if $.SecuritySchemes}}security{{else}}nil{{end}})
    return &{{ . | goID }}Closable{
        {{. | goID}}{consumer: consumer},
    }, nil
}
{{- end}}
