{{- /* dot == render.ProtoOperation */}}
{{define "code/proto/ws/operation/publishMethods/block2"}}
    envelope.SetOpCode(byte({{goQual "github.com/gobwas/ws.OpBinary"}}))
{{- end}}

{{- with deref .}}
    {{ .Type | def }}
    {{template "code/proto/operation/newFunction" .}}
    {{template "code/proto/operation/openFunction" .}}

    {{ .Type | goDef }}

    {{template "code/proto/operation/commonMethods" .}}
    {{if .IsPublisher}}{{template "code/proto/operation/publishMethods" .}}{{end}}
    {{if .IsSubscriber}}{{template "code/proto/operation/subscribeMethods" .}}{{end}}
    {{template "code/proto/operation/serverInterface" .}}
{{- end}}
