import (
	"context"
	"fmt"

	"github.com/nats-io/nats.go"
)

func NewClient(serverURL string, security {{goQualR "AnySecurityScheme"}}, extraOpts ...nats.Option)(*Client, error) {
	// Unfortunately, the official nats client doesn't accept the context object.
	client, err := nats.Connect(serverURL, extraOpts...)
	if err != nil {
		return nil, err
	}

	return &Client{
		Conn:        client,
	}, nil
}

type Client struct {
	*nats.Conn
}

func (c *Client) Subscriber(_ context.Context, address string, chb *{{goQualE "nats" "ChannelBindings"}}, opb *{{goQualE "nats" "OperationBindings"}}, security {{goQualR "AnySecurityScheme"}}) ({{goQualE "nats" "Subscriber"}}, error) {
	ctx2, cancel := context.WithCancel(context.Background())
	return &Subscription{
		Client:            c,
		Subject:           address,
		channelBindings:   chb,
		operationBindings: opb,
		ctx:               ctx2,
		cancel:            cancel,
	}, nil
}

func (c *Client) Publisher(_ context.Context, _ string, chb *{{goQualE "nats" "ChannelBindings"}}, opb *{{goQualE "nats" "OperationBindings"}}, security {{goQualR "AnySecurityScheme"}}) ({{goQualE "nats" "Publisher"}}, error) {
	ctx2, cancel := context.WithCancel(context.Background())
	return &PublishChannel{
		Client:            c,
		channelBindings:   chb,
		operationBindings: opb,
		ctx:               ctx2,
		cancel:            cancel,
	}, nil
}

func (c *Client) Close() error {
	if err := c.Conn.Drain(); err != nil {
		return fmt.Errorf("drain: %w", err)
	}
	c.Conn.Close()
	return nil
}
