import (
	"context"
)

type PublishChannel struct {
	Client  *Client

	channelBindings   *{{goPkgUtil "nats"}}ChannelBindings
	operationBindings *{{goPkgUtil "nats"}}OperationBindings
	ctx               context.Context
	cancel            context.CancelFunc
}

func (p PublishChannel) Send(ctx context.Context, envelopes ...{{goPkgUtil "nats"}}EnvelopeWriter) error {
	for _, env := range envelopes {
		if err := p.Client.PublishMsg(env.(*EnvelopeOut).Msg); err != nil {
			return err
		}
		select {
		case <-ctx.Done():
			return ctx.Err()
		case <-p.ctx.Done():
			return p.ctx.Err()
		default:
		}
	}
	return nil
}

func (p PublishChannel) Close() error {
	p.cancel()
	return nil
}
