import (
	"bufio"
	"context"
	"net"
)

const DefaultMaxEnvelopeSize = 1024

type Decoder interface {
	Decode(v any) error
}

func NewConsumer(host, network string, security {{goQualR "AnySecurityScheme"}}) (*ConsumeClient, error) {
	if network == "" {
		network = "tcp"
	}
	listener, err := net.Listen(network, host)

	return &ConsumeClient{
		TCPListener:     listener.(*net.TCPListener),
		MaxEnvelopeSize: DefaultMaxEnvelopeSize,
	}, err
}

type ConsumeClient struct {
	*net.TCPListener
	// Scanner splits the incoming data into Envelopes. If equal to nil, the data will
	// be split on chunks of MaxEnvelopeSize bytes, which is equal to bufio.MaxScanTokenSize by default.
	Scanner         *bufio.Scanner
	MaxEnvelopeSize int
}

func (c *ConsumeClient) Subscriber(_ context.Context, _ string, _ *{{goQualU "tcp" "ChannelBindings"}}, _*{{goQualU "tcp" "OperationBindings"}}, security {{goQualR "AnySecurityScheme"}}) ({{goQualU "tcp" "Subscriber"}}, error) {
	// Wait for a new connection
	conn, err := c.AcceptTCP()
	if err != nil {
		return nil, err
	}

	return NewChannel(conn, c.Scanner, c.MaxEnvelopeSize), nil
}
