import (
	"bytes"
)

func NewEnvelopeOut(buf []byte) *EnvelopeOut {
	return &EnvelopeOut{Buffer: bytes.NewBuffer(buf)}
}

type EnvelopeOut struct {
	*bytes.Buffer
	headers     {{goPkgRun}}Headers
	contentType string
}

func (e *EnvelopeOut) ResetPayload() {
	e.Buffer.Reset()
}

func (e *EnvelopeOut) SetHeaders(headers {{goPkgRun}}Headers) {
	e.headers = headers
}

func (e *EnvelopeOut) SetContentType(contentType string) {
	e.contentType = contentType
}

func (e *EnvelopeOut) SetBindings(_ {{goPkgUtil "tcp"}}MessageBindings) {}

func NewEnvelopeIn(msg []byte) *EnvelopeIn {
	return &EnvelopeIn{Reader: bytes.NewReader(msg)}
}

type EnvelopeIn struct {
	*bytes.Reader
}

func (e *EnvelopeIn) Headers() {{goPkgRun}}Headers {
	return nil
}
