import (
	"bytes"
)

func NewEnvelopeOut() *EnvelopeOut {
	return &EnvelopeOut{Buffer: bytes.NewBuffer(nil)}
}

type EnvelopeOut struct {
	*bytes.Buffer
	headers     {{goQualR "Headers"}}
	contentType string
}

func (e *EnvelopeOut) ResetPayload() {
	e.Buffer.Reset()
}

func (e *EnvelopeOut) SetHeaders(headers {{goQualR "Headers"}}) {
	e.headers = headers
}

func (e *EnvelopeOut) SetContentType(contentType string) {
	e.contentType = contentType
}

func (e *EnvelopeOut) SetBindings(_ {{goQualE "tcp" "MessageBindings"}}) {}

func NewEnvelopeIn(msg []byte) *EnvelopeIn {
	return &EnvelopeIn{Reader: bytes.NewReader(msg)}
}

type EnvelopeIn struct {
	*bytes.Reader
}

func (e *EnvelopeIn) Headers() {{goQualR "Headers"}} {
	return nil
}
