{{- /* dot == render.ProtoOperation */}}
{{define "channel/mqtt/publishMethods/block1"}}
    envelope.SetTopic(o.Channel.Topic())
{{- end}}
{{- with deref .}}
    {{ .Type | def }}
    {{template "operation/proto/newFunction" .}}
    {{template "operation/proto/openFunction" .}}

    {{ .Type | goDef }}

    {{template "operation/proto/commonMethods" .}}
    {{if .IsPublisher}}{{template "operation/proto/publishMethods" .}}{{end}}
    {{if .IsSubscriber}}{{template "operation/proto/subscribeMethods" .}}{{end}}
    {{template "operation/proto/serverInterface" .}}
{{- end}}
