{{- /* dot == render.ProtoOperation */}}
{{define "code/proto/mqtt/operation/bindings/values"}}
{{- goPkgUtil "mqtt"}}OperationBindings{
    {{- with .Bindings.Values.Map.mqtt}}
        {{with .qos }}QoS: {{goLit .}},{{end}}
        {{with .retain }}Retain: {{goLit .}},{{end}}
    {{- end}}
}
{{- end}}

{{template "proto_operation.tmpl" .}}
