{{- /* dot == render.ProtoOperation */}}
{{define "code/proto/mqtt/operation/publishMethods/block1"}}
    envelope.SetTopic(o.Channel.Topic())
{{- end}}
{{- with deref .}}
    {{ .Type | def }}
    {{template "code/proto/operation/newFunction" .}}
    {{template "code/proto/operation/openFunction" .}}

    {{ .Type | goDef }}

    {{template "code/proto/operation/commonMethods" .}}
    {{if .IsPublisher}}{{template "code/proto/operation/publishMethods" .}}{{end}}
    {{if .IsSubscriber}}{{template "code/proto/operation/subscribeMethods" .}}{{end}}
    {{template "code/proto/operation/serverInterface" .}}
{{- end}}
