{{- /* dot == render.ProtoChannel */}}
{{define "channel/mqtt/newFunction/block1"}}
    res.topic = res.address.String()
{{- end}}
{{define "channel/mqtt/publishMethods/block1"}}
    envelope.SetTopic(c.Topic())
{{- end}}

{{- def .Type}}
{{template "channel/proto/newFunction" .}}

{{template "channel/proto/openFunction" .}}

{{- if ndefined .Type}}
{{ .Type | goDef }}

{{template "channel/proto/commonMethods" .}}

func (c {{.Type| goUsage}}) Topic() string {
    return c.topic
}

{{if .IsPublisher}}{{template "channel/proto/publishMethods" .}}{{end}}

{{if .IsSubscriber}}{{template "channel/proto/subscribeMethods" .}}{{end}}

{{template "channel/proto/serverInterface" .}}
{{- end}}
