{{- /* dot == render.Server */}}

{{define "code/proto/kafka/server/impl/github.com/twmb/franz-go/connectFunction"}}
func Connect{{ . | goIDUpper }}Bidi(
    ctx {{goQual "context.Context"}},
    url *{{goQual "net/url.URL"}},
    {{with $.SecuritySchemes}}security {{$ | goIDUpper}}Security,{{end}}
    opts ...{{goQual "github.com/twmb/franz-go/pkg/kgo.Opt"}},
) (*{{ . | goIDUpper }}Closable, error) {
    var bindings *{{goQualU .Protocol "ServerBindings"}}
    {{- if .BindingsProtocols | has .Protocol}}
        bindings = {{goQualR "ToPtr"}}({{.BindingsType | goUsage}}{}.{{.Protocol | goIDUpper}}())
    {{- end}}
    producer := {{goQualI .Protocol "NewProducer"}}([]string{url.Host}, bindings, {{if $.SecuritySchemes}}security{{else}}nil{{end}}, opts...)
    consumer := {{goQualI .Protocol "NewConsumer"}}([]string{url.Host}, bindings, {{if $.SecuritySchemes}}security{{else}}nil{{end}}, opts...)
    return &{{ . | goIDUpper }}Closable{
        {{. | goIDUpper}}{producer: producer, consumer: consumer},
    }, nil
}
{{- end}}

{{define "code/proto/kafka/server/impl/github.com/twmb/franz-go/connectProducerFunction"}}
func Connect{{ . | goIDUpper }}Producer(
    ctx {{goQual "context.Context"}},
    url *{{goQual "net/url.URL"}},
    {{with $.SecuritySchemes}}security {{$ | goIDUpper}}Security,{{end}}
    opts ...{{goQual "github.com/twmb/franz-go/pkg/kgo.Opt"}},
) (*{{ . | goIDUpper }}Closable, error) {
    var bindings *{{goQualU .Protocol "ServerBindings"}}
    {{- if .BindingsProtocols | has .Protocol}}
        bindings = {{goQualR "ToPtr"}}({{.BindingsType | goUsage}}{}.{{.Protocol | goIDUpper}}())
    {{- end}}
    producer := {{goQualI .Protocol "NewProducer"}}([]string{url.Host}, bindings, {{if $.SecuritySchemes}}security{{else}}nil{{end}}, opts...)
    return &{{ . | goIDUpper }}Closable{
        {{. | goIDUpper}}{producer: producer},
    }, nil
}
{{- end}}

{{define "code/proto/kafka/server/impl/github.com/twmb/franz-go/connectConsumerFunction"}}
func Connect{{ . | goIDUpper }}Consumer(
    ctx {{goQual "context.Context"}},
    url *{{goQual "net/url.URL"}},
    {{with $.SecuritySchemes}}security {{$ | goIDUpper}}Security,{{end}}
    opts ...{{goQual "github.com/twmb/franz-go/pkg/kgo.Opt"}},
) (*{{ . | goIDUpper }}Closable, error) {
    var bindings *{{goQualU .Protocol "ServerBindings"}}
    {{- if .BindingsProtocols | has .Protocol}}
        bindings = {{goQualR "ToPtr"}}({{.BindingsType | goUsage}}{}.{{.Protocol | goIDUpper}}())
    {{- end}}
    consumer := {{goQualI .Protocol "NewConsumer"}}([]string{url.Host}, bindings, {{if $.SecuritySchemes}}security{{else}}nil{{end}}, opts...)
    return &{{ . | goIDUpper }}Closable{
        {{. | goIDUpper}}{consumer: consumer},
    }, nil
}
{{- end}}