{{- /* dot == render.ProtoOperation */}}
{{define "code/proto/kafka/operation/publishMethods/block1"}}
    envelope.SetTopic(o.Channel.Topic())
{{- end}}
{{- with deref .}}
    {{ .Type | def }}
    {{template "code/proto/operation/newFunction" .}}
    {{template "code/proto/operation/openFunction" .}}

    {{ .Type | goDef }}

    {{template "code/proto/operation/commonMethods" .}}
    {{- if .IsPublisher}}
        {{template "code/proto/operation/commonPublish" . }}
        {{template "code/proto/operation/publishMethods" .}}
    {{- end}}
    {{- if .IsSubscriber}}
        {{template "code/proto/operation/commonSubscribe" . }}
        {{template "code/proto/operation/subscribeMethods" .}}
    {{- end}}
    {{template "code/proto/operation/serverInterface" .}}

    {{- if and .OperationReply .AllowTwoWayCode}}
        type {{ $.Type | goUsage }}Reply struct {
            Channel {{ptr .ProtoChannel.Type | goUsage}}
        }
        {{- /* Generate publish reply methods for "receive" operation and vice versa */}}
        {{- if .IsPublisher}}
            {{template "code/proto/operation/commonSubscribe" . }}
            {{template "code/proto/operation/operationReply/subscribeMethods" .}}
        {{- end}}
        {{- if .IsSubscriber}}
            {{template "code/proto/operation/commonPublish" . }}
            {{template "code/proto/operation/operationReply/publishMethods" .}}
        {{- end}}
    {{- end}}
{{- end}}
