{{- /* dot == render.Server */}}
{{define "code/proto/kafka/server/bindings/values"}}
{{- goQualU "kafka" "ServerBindings"}}{
    {{- with .Bindings.Values.Map.kafka}}
        {{with .schemaRegistryUrl }}SchemaRegistryURL: {{goLit .}},{{end}}
        {{with .schemaRegistryVendor }}SchemaRegistryVendor: {{goLit .}},{{end}}
    {{- end}}
}
{{- end}}

{{template "proto_server.tmpl" .}}