{{- /* dot == render.ProtoMessage */}}
{{- with deref .}}
    {{- if ndefined (print "MessageMethods" .Protocol (goIDUpper .))}}
        {{template "message/proto/commonMethods" .}}
        {{if .IsPublisher}}{{template "message/proto/marshalMethods" .}}{{end}}
        {{if .IsSubscriber}}{{template "message/proto/unmarshalMethods" .}}{{end}}
    {{- end}}
    {{- print "MessageMethods" .Protocol (goIDUpper .) | def}}
{{- end}}