{{- /* dot == render.ProtoMessage */}}
{{define "code/proto/kafka/message/bindings/values"}}
{{- goQualU "kafka" "MessageBindings"}}{
    {{- with .Bindings.Values.Map.kafka}}
        {{with .key }}Key: {{toJSON . | goLit}},{{end}}
        {{with .schemaIDLocation }}SchemaIDLocation: {{goLit .}},{{end}}
        {{with .schemaIDPayloadEncoding }}SchemaIDPayloadEncoding: {{goLit .}},{{end}}
        {{with .schemaLookupStrategy }}SchemaLookupStrategy: {{goLit .}},{{end}}
    {{- end}}
}
{{- end}}

{{template "proto_message.tmpl" .}}
