{{- /* dot == render.Server */}}
{{define "code/proto/kafka/server/bindings/values"}}
{{- goQualU .Protocol "ServerBindings"}}{
    {{- with .Bindings.Values.Map.kafka}}
        {{with .schemaRegistryUrl }}SchemaRegistryURL: {{goLit .}},{{end}}
        {{with .schemaRegistryVendor }}SchemaRegistryVendor: {{goLit .}},{{end}}
    {{- end}}
}
{{- end}}

{{template "code/proto/server/newFunction" .}}
{{- if .SecuritySchemes}}
    {{ template "code/proto/server/securityInterface" . }}
{{- end}}
{{- if impl .Protocol}}
    {{template "code/proto/server/connectFunctions" .}}
{{- end}}

{{- /* TODO: consider IsPublisher and IsSubscriber}} */}}
type {{. | goIDUpper}} struct {
    producer {{goQualU .Protocol "Producer"}}
    consumer {{goQualU .Protocol "Consumer"}}
}

{{template "code/proto/server/commonMethods" .}}
{{template "code/proto/server/channelOpenMethods" .}}
{{template "code/proto/server/operationOpenMethods" .}}
