import (
	"time"
)

type (
	ServerBindings struct {
		ClientID     string
		CleanSession bool
		LastWill     *LastWill
		KeepAlive    time.Duration
	}

	LastWill struct {
		Topic   string
		QoS     int
		Message string
		Retain  bool
	}

	ChannelBindings struct{}

	OperationBindings struct {
		QoS    int
		Retain bool
	}

	MessageBindings struct {}
)
