{{- /* dot == render.Server */}}
{{- if .SecuritySchemes}}
type {{. | goIDUpper}}Security interface {
    {{. | goIDUpper }}Security()
}
{{- end}}

type {{. | goIDUpper}} struct {}

func (s {{. | goIDUpper}}) Name() string {
    return "{{ . | goIDUpper }}"
}

{{- range .BoundChannels}}
    {{- if .ActiveProtocols | has $.Protocol }}
        func (s {{$ | goIDUpper}}) Open{{ . | goIDUpper }}{{$.Protocol | goIDUpper}}(
            ctx {{goQual "context.Context"}},
            {{with .ParametersType}}params {{ . | goUsage }},{{end}}
            {{if .BoundOperations}}security {{goQualR "AnySecurityScheme"}},{{end}}
        ) (*{{goPkg .}}{{ . | goIDUpper }}{{$.Protocol | goIDUpper}}, error) {
            return {{goPkg .}}Open{{ . | goIDUpper }}{{$.Protocol | goIDUpper}}(
                ctx, s, {{if .ParametersType}}params,{{end}}{{if .BoundOperations}} security,{{end}}
            )
        }
    {{- end}}
{{- end}}

{{- range .BoundOperations}}
    {{- if .ActiveProtocols | has $.Protocol }}
        func (s {{$ | goIDUpper}}) Open{{ . | goIDUpper }}{{$.Protocol | goIDUpper}}(
            ctx {{goQual "context.Context"}},
            {{with .Channel.ParametersType}}params {{ . | goUsage }},{{end}}
            {{if .SecuritySchemes}}security {{goPkg .}}{{. | goIDUpper}}Security,{{end}}
        ) (*{{goPkg .}}{{ . | goIDUpper }}{{$.Protocol | goIDUpper}}, error) {
            return {{goPkg .}}Open{{ . | goIDUpper }}{{$.Protocol | goIDUpper}}(
                ctx, s, {{if .Channel.ParametersType}}params, {{end}}{{if .SecuritySchemes}}security, {{end}}
            )
        }
    {{- end}}
{{- end}}
