{{- /* dot == render.ProtoChannel */}}
{{define "code/proto/amqp/channel/newFunction/block1"}}
    {{- if .BindingsProtocols | has .Protocol}}
        bindings := {{goPkg .Channel}}{{goIDUpper .Channel}}ChannelBindings{}.{{.Protocol | goIDUpper}}()
        switch bindings.ChannelType {
        case {{goQualU .Protocol "ChannelTypeQueue"}}:
            res.queue = res.address.String()
        default:
            res.routingKey = res.address.String()
        }
        if bindings.ExchangeConfiguration.Name != nil {
            res.exchange = *bindings.ExchangeConfiguration.Name
        }
        if bindings.QueueConfiguration.Name != "" {
            res.queue = bindings.QueueConfiguration.Name
        }
    {{- else}}
        res.routingKey = res.address.String()
    {{- end}}
{{- end}}

{{define "code/proto/amqp/channel/publishMethods/block1"}}
    envelope.SetRoutingKey(c.RoutingKey())
{{- end}}

{{define "code/proto/amqp/channel/bindings/values"}}
{{- goQualU .Protocol "ChannelBindings"}}{
    {{- with .Bindings.Values.Map.amqp}}
        {{with .is }}{{goLit .}},{{end}}
        {{with .exchange }}ExchangeConfiguration: {{goQualU "amqp" "ExchangeConfiguration"}}{
            {{if . | hasKey "name" }}Name: {{goQualR "ToPtr"}}({{goLit .name}}),{{end}}
            {{with .type }}Type: {{list "default" "ExchangeTypeDefault" "topic" "ExchangeTypeTopic" "direct" "ExchangeTypeDirect" "fanout" "ExchangeTypeFanout" "headers" "ExchangeTypeHeaders" | mapping . | goLit}},{{end}}
            {{if . | hasKey "durable" }}Durable: {{goQualR "ToPtr"}}({{goLit .durable}}),{{end}}
            {{if . | hasKey "autoDelete" }}AutoDelete: {{goQualR "ToPtr"}}({{goLit .autoDelete}}),{{end}}
            {{with .vhost }}VHost: {{goLit .}},{{end}}
        },
        {{- end}}
        {{with .queue }}QueueConfiguration: {{goQualU "amqp" "QueueConfiguration"}}{
            {{with .name }}Name: {{goLit .}},{{end}}
            {{if . | hasKey "durable" }}Durable: {{goQualR "ToPtr"}}({{goLit .durable}}),{{end}}
            {{if . | hasKey "exclusive" }}Exclusive: {{goQualR "ToPtr"}}({{goLit .exclusive}}),{{end}}
            {{if . | hasKey "autoDelete" }}AutoDelete: {{goQualR "ToPtr"}}({{goLit .autoDelete}}),{{end}}
            {{with .vhost }}VHost: {{goLit .}},{{end}}
        },
        {{- end}}
    {{- end}}
}
{{- end}}

{{template "code/proto/channel/newFunction" .}}
{{template "code/proto/channel/serverInterface" .}}
{{template "code/proto/channel/openFunction" .}}

type {{. | goIDUpper}}{{.Protocol | goIDUpper}} struct {
    address    {{goQualR "ParamString"}}
    {{if .IsPublisher}}publisher  {{goQualU .Protocol "Publisher"}}{{end}}
    {{if .IsSubscriber}}subscriber {{goQualU .Protocol "Subscriber"}}{{end}}
    exchange   string
    queue      string
    routingKey string
}

func (c {{. | goIDUpper}}{{.Protocol | goIDUpper}}) Exchange() string {
    return c.exchange
}

func (c {{. | goIDUpper}}{{.Protocol | goIDUpper}}) Queue() string {
    return c.queue
}

func (c {{. | goIDUpper}}{{.Protocol | goIDUpper}}) RoutingKey() string {
    return c.routingKey
}

{{template "code/proto/channel/commonMethods" .}}
{{if .IsPublisher}}{{template "code/proto/channel/publishMethods" .}}{{end}}
{{if .IsSubscriber}}{{template "code/proto/channel/subscribeMethods" .}}{{end}}
