{{- /* dot == render.Server */}}

{{define "code/proto/amqp/server/impl/github.com/rabbitmq/amqp091-go/connectFunction"}}
func Connect{{ . | goID }}Bidi(
    ctx {{goPkgExt "context"}}Context,
    url *{{goPkgExt "net/url"}}URL,
    {{with $.SecuritySchemes}}security {{$ | goID}}Security,{{end}}
) (*{{ . | goID }}Closable, error) {
    var bindings *{{goPkgUtil .Protocol}}ServerBindings
    {{- if .BindingsProtocols | has .Protocol}}
        bindings = {{goPkgRun}}ToPtr({{goPkg .}}{{goID .}}Bindings{}.{{.Protocol | goID}}())
    {{- end}}
    client, err := {{goPkgImpl .Protocol}}NewClient(url.String(), bindings, {{if $.SecuritySchemes}}security{{else}}nil{{end}})
    if err != nil {
        return nil, err
    }
    producer, consumer := client, client
    return &{{ . | goID }}Closable{
        {{. | goID}}{producer: producer, consumer: consumer},
    }, nil
}
{{- end}}

{{define "code/proto/amqp/server/impl/github.com/rabbitmq/amqp091-go/connectProducerFunction"}}
func Connect{{ . | goID }}Producer(
    ctx {{goPkgExt "context"}}Context,
    url *{{goPkgExt "net/url"}}URL,
    {{with $.SecuritySchemes}}security {{$ | goID}}Security,{{end}}
) (*{{ . | goID }}Closable, error) {
    var bindings *{{goPkgUtil .Protocol}}ServerBindings
    {{- if .BindingsProtocols | has .Protocol}}
        bindings = {{goPkgRun}}ToPtr({{goPkg .}}{{goID .}}Bindings{}.{{.Protocol | goID}}())
    {{- end}}
    producer, err := {{goPkgImpl .Protocol}}NewClient(url.String(), bindings, {{if $.SecuritySchemes}}security{{else}}nil{{end}})
    if err != nil {
        return nil, err
    }
    return &{{ . | goID }}Closable{
        {{. | goID}}{producer: producer},
    }, nil
}
{{- end}}

{{define "code/proto/amqp/server/impl/github.com/rabbitmq/amqp091-go/connectConsumerFunction"}}
func Connect{{ . | goID }}Consumer(
    ctx {{goPkgExt "context"}}Context,
    url *{{goPkgExt "net/url"}}URL,
    {{with $.SecuritySchemes}}security {{$ | goID}}Security,{{end}}
) (*{{ . | goID }}Closable, error) {
    var bindings *{{goPkgUtil .Protocol}}ServerBindings
    {{- if .BindingsProtocols | has .Protocol}}
        bindings = {{goPkgRun}}ToPtr({{goPkg .}}{{goID .}}Bindings{}.{{.Protocol | goID}}())
    {{- end}}
    consumer, err := {{goPkgImpl .Protocol}}NewClient(url.String(), bindings, {{if $.SecuritySchemes}}security{{else}}nil{{end}})
    if err != nil {
        return nil, err
    }
    return &{{ . | goID }}Closable{
        {{. | goID}}{consumer: consumer},
    }, nil
}
{{- end}}