{{- /* dot == render.ProtoMessage */}}
{{define "code/proto/amqp/message/bindings/values"}}
{{- goPkgUtil "amqp"}}MessageBindings{
    {{- with .Bindings.Values.Map.amqp}}
        {{with .contentEncoding }}ContentEncoding: {{goLit .}},{{end}}
        {{with .messageType }}MessageType: {{goLit .}},{{end}}
    {{- end}}
}
{{- end}}

{{template "proto_message.tmpl" .}}
