{{- /* dot == render.ProtoChannel */}}
{{define "code/proto/amqp/channel/newFunction/block1"}}
    {{- if .BindingsProtocols | has .Protocol}}
        bindings := {{goPkg .Channel}}{{goID .Channel}}Bindings{}.{{.Protocol | goID}}()
        switch bindings.Is {
        case {{goPkgUtil .Protocol }}ChannelTypeQueue:
            res.queue = res.address.String()
        default:
            res.routingKey = res.address.String()
        }
        if bindings.ExchangeConfiguration.Name != nil {
            res.exchange = *bindings.ExchangeConfiguration.Name
        }
        if bindings.QueueConfiguration.Name != "" {
            res.queue = bindings.QueueConfiguration.Name
        }
    {{- else}}
        res.routingKey = res.address.String()
    {{- end}}
{{- end}}

{{define "code/proto/amqp/channel/publishMethods/block1"}}
    envelope.SetRoutingKey(c.RoutingKey())
{{- end}}

{{define "code/proto/amqp/channel/bindings/values"}}
{{- goPkgUtil "amqp"}}ChannelBindings{
    {{- with .Bindings.Values.Map.amqp}}
        {{with .is }}Is: {{goPkgUtil "amqp"}}{{list "routingKey" "ChannelTypeRoutingKey" "queue" "ChannelTypeQueue" | mapping .}},{{end}}
        {{with .exchange }}ExchangeConfiguration: {{goPkgUtil "amqp"}}ExchangeConfiguration{
            {{if . | hasKey "name" }}Name: {{goPkgRun}}ToPtr({{goLit .name}}),{{end}}
            {{with .type }}Type: {{goPkgUtil "amqp"}}{{list "default" "ExchangeTypeDefault" "topic" "ExchangeTypeTopic" "direct" "ExchangeTypeDirect" "fanout" "ExchangeTypeFanout" "headers" "ExchangeTypeHeaders" | mapping .}},{{end}}
            {{if . | hasKey "durable" }}Durable: {{goPkgRun}}ToPtr({{goLit .durable}}),{{end}}
            {{if . | hasKey "autoDelete" }}AutoDelete: {{goPkgRun}}ToPtr({{goLit .autoDelete}}),{{end}}
            {{with .vhost }}VHost: {{goLit .}},{{end}}
        },
        {{- end}}
        {{with .queue }}QueueConfiguration: {{goPkgUtil "amqp"}}QueueConfiguration{
            {{with .name }}Name: {{goLit .}},{{end}}
            {{if . | hasKey "durable" }}Durable: {{goPkgRun}}ToPtr({{goLit .durable}}),{{end}}
            {{if . | hasKey "exclusive" }}Exclusive: {{goPkgRun}}ToPtr({{goLit .exclusive}}),{{end}}
            {{if . | hasKey "autoDelete" }}AutoDelete: {{goPkgRun}}ToPtr({{goLit .autoDelete}}),{{end}}
            {{with .vhost }}VHost: {{goLit .}},{{end}}
        },
        {{- end}}
    {{- end}}
}
{{- end}}

{{template "code/proto/channel/newFunction" .}}
{{template "code/proto/channel/serverInterface" .}}
{{template "code/proto/channel/openFunction" .}}

type {{. | goID}}{{.Protocol | goID}} struct {
    address    {{goPkgRun}}ParamString
    {{if .IsPublisher}}publisher  {{goPkgUtil .Protocol}}Publisher{{end}}
    {{if .IsSubscriber}}subscriber {{goPkgUtil .Protocol}}Subscriber{{end}}
    exchange   string
    queue      string
    routingKey string
}

func (c {{. | goID}}{{.Protocol | goID}}) Exchange() string {
    return c.exchange
}

func (c {{. | goID}}{{.Protocol | goID}}) Queue() string {
    return c.queue
}

func (c {{. | goID}}{{.Protocol | goID}}) RoutingKey() string {
    return c.routingKey
}

{{template "code/proto/channel/commonMethods" .}}
{{if .IsPublisher}}{{template "code/proto/channel/publishMethods" .}}{{end}}
{{if .IsSubscriber}}{{template "code/proto/channel/subscribeMethods" .}}{{end}}
