{{- /* dot == render.ProtoServer */}}

{{define "server/ws/impl/github.com/gobwas/ws/newClient"}}
    producer := {{with impl .Protocol}}{{gopkg .}}{{end}}NewProducer(url, bindings)
    consumer := {{with impl .Protocol}}{{gopkg .}}{{end}}NewConsumer(bindings, 10*{{goqual "time.Seconds"}})
{{- end}}

{{define "server/ws/impl/github.com/gobwas/ws/newProducer"}}
    producer := {{with impl .Protocol}}{{gopkg .}}{{end}}NewProducer(url, bindings)
{{- end}}

{{define "server/ws/impl/github.com/gobwas/ws/newConsumer"}}
    consumer := {{with impl .Protocol}}{{gopkg .}}{{end}}NewConsumer(bindings, 10*{{goqual "time.Seconds"}})
{{- end}}
