configVersion: 1
runtimeModule: github.com/bdragon300/go-asyncapi/run

layout:
  - artifactKinds: ["schema", "server", "channel", "operation", "message", "parameter"]
    render:
      file: "{{.Object.Kind}}s/{{.Object | goIDUpper }}.go"

locator:
  timeout: 30s

code:
  preambleTemplate: preamble.tmpl
  targetDir: ./asyncapi
  implementationsDir: impl/{{ .Manifest.Protocol }}

client:
  outputFile: ./client
  outputSourceFile: client.go
  goModTemplate: go.mod.tmpl

infra:
  engine: docker
  outputFile: ./docker-compose.yaml

diagram:
  format: svg
  targetDir: .
  d2:
    engine: elk
    direction: right
    pad: 100
    elk:
      # Defaults taken from d2.d2layouts.d2elklayout.DefaultOpts
      algorithm: layered
      nodeSpacing: 70
      padding: "[top=50,left=50,bottom=50,right=50]"
      edgeSpacing: 40
      selfLoopSpacing: 50
    dagre:
      # Defaults taken from d2.d2layouts.d2dagrelayout.DefaultOpts
      nodeSep: 60
      edgeSep: 20

ui:
  listenAddress: ":8090"
  listenPath: "/"
