import (
	"context"
	"io"
)

// Pub
type (
	Producer interface {
		Publisher(ctx context.Context, address string, chBindings *ChannelBindings, opBindings *OperationBindings, security {{goPkgRun}}AnySecurityScheme) (Publisher, error)
	}
	Publisher interface {
		Send(ctx context.Context, envelopes ...EnvelopeWriter) error
		Close() error
	}
	EnvelopeWriter interface {
		io.Writer
		ResetPayload()
		SetHeaders(headers {{goPkgRun}}Headers)
		SetContentType(contentType string)
		SetBindings(bindings MessageBindings)

		SetOpCode(opCode byte)
	}
)

type EnvelopeMarshaler interface {
	MarshalEnvelopeWs(envelope EnvelopeWriter) error
}

// Sub
type (
	Consumer interface {
		Subscriber(ctx context.Context, address string, chBindings *ChannelBindings, opBindings *OperationBindings, security {{goPkgRun}}AnySecurityScheme) (Subscriber, error)
	}
	Subscriber interface {
		Receive(ctx context.Context, cb func(envelope EnvelopeReader)) error
		Close() error
	}
	EnvelopeReader interface {
		io.Reader
		Headers() {{goPkgRun}}Headers
	}
)

type EnvelopeUnmarshaler interface {
	UnmarshalEnvelopeWs(envelope EnvelopeReader) error
}
