{{/* dot == render.Operation */}}
{{define "client/operation"}}
type {{$ | goIDUpper}}Cmd struct {
    // Parameters
    {{- range $k := .Channel.Parameters.Entries}}
	    {{$k | goIDUpper}} string `arg:"--{{$k | toQuotable | toKebabCase}},required" help:"Channel parameter: {{$k | toQuotable}}"`
    {{- end}}

    {{- range $scheme := .SecuritySchemes}}
        {{- with tryTmpl (print "client/security/" $scheme.SchemeType "/cmdFlags") nil}}
            // Security scheme: {{$scheme.SchemeType}}
            {{.}}
        {{- end}}
    {{- end}}

	// Servers
    {{- range .Channel.BoundServers}}
        {{- if not (impl .Protocol)}}{{continue}}{{end}}
	    {{. | goIDUpper}}Cmd *{{. | goIDUpper}}CliCmd `arg:"subcommand:{{.Name | toQuotable | toKebabCase}}" help:"Server: {{.Name | toQuotable}}"`
    {{- end}}
}

func operation{{$ | goIDUpper}}(ctx {{goPkgExt "context"}}Context, args *{{$ | goIDUpper}}Cmd, opts channelOptions) error {
    {{- if .Channel.Parameters.Len}}
        channelParams := {{goPkg .Channel}}{{goIDUpper .Channel}}Parameters{
            {{- range $k, $v := .Channel.Parameters.Entries}}
                {{$k | goIDUpper}}: {{goPkg $v}}{{goIDUpper $v}}(args.{{$k | goIDUpper}}),
            {{- end}}
        }
	    {{goPkgExt "log/slog"}}Debug("Channel parameters", "value", channelParams)
    {{- end}}

	switch {
    {{- range .Channel.BoundServers}}
        {{- if not (impl .Protocol)}}{{continue}}{{end}}
        {{$implTemplateCtx := dict "Object" $ "Server" . "Kind" "operation"}}
        case args.{{. | goIDUpper}}Cmd != nil:
            {{template "client/pubsub/proto/serverPubSub" $implTemplateCtx}}
    {{- end}}
	default:
		showCliError("No server selected. Append --help for more information", opts.cliParser)
	}

	return nil
}
{{- end}}

{{define "client/operationReply"}}
{{- $channel := .Channel }}
{{- if .OperationReply.Channel }}
    {{$channel = .OperationReply.Channel }}
{{- end}}
type {{$ | goIDUpper}}ReplyCmd struct {
    // Parameters
    {{- range $k := $channel.Parameters.Entries}}
	    {{$k | goIDUpper}} string `arg:"--{{$k | toQuotable | toKebabCase}},required" help:"Channel parameter: {{$k | toQuotable}}"`
    {{- end}}

    {{- range $scheme := .SecuritySchemes}}
        {{- with tryTmpl (print "client/security/" $scheme.SchemeType "/cmdFlags") nil}}
            // Security scheme: {{$scheme.SchemeType}}
            {{.}}
        {{- end}}
    {{- end}}

	// Servers
    {{- range $channel.BoundServers}}
        {{- if not (impl .Protocol)}}{{continue}}{{end}}
	    {{. | goIDUpper}}Cmd *{{. | goIDUpper}}CliCmd `arg:"subcommand:{{.Name | toQuotable | toKebabCase}}" help:"Server: {{.Name | toQuotable}}"`
    {{- end}}
}

func operationReply{{$ | goIDUpper}}(ctx {{goPkgExt "context"}}Context, args *{{$ | goIDUpper}}ReplyCmd, opts channelOptions) error {
    {{- if $channel.Parameters.Len}}
        channelParams := {{goPkg $channel}}{{goIDUpper $channel}}Parameters{
            {{- range $k, $v := $channel.Parameters.Entries}}
                {{$k | goIDUpper}}: {{goPkg $v}}{{goIDUpper $v}}(args.{{$k | goIDUpper}}),
            {{- end}}
        }
	    {{goPkgExt "log/slog"}}Debug("Channel parameters", "value", channelParams)
    {{- end}}

	switch {
    {{- range $channel.BoundServers}}
        {{- if not (impl .Protocol)}}{{continue}}{{end}}
        {{$implTemplateCtx := dict "Object" $ "Server" . "Kind" "operationReply"}}
        case args.{{. | goIDUpper}}Cmd != nil:
            {{template "client/pubsub/proto/serverPubSub" $implTemplateCtx}}
    {{- end}}
	default:
		showCliError("No server selected. Append --help for more information", opts.cliParser)
	}

	return nil
}
{{- end}}
