{{- /* dot == render.ProtoServer */}}

{{define "server/http/impl/net/http/connectFunction"}}
func Connect{{ .Server | goIDUpper }}Bidi(ctx {{goQual "context.Context"}}, url *{{goQual "net/url.URL"}}) (*{{ .Server | goIDUpper }}Closable, error) {
    var bindings *{{goQualR .Protocol "ServerBindings"}}
    {{- if .BindingsProtocols | has .Protocol}}
        bindings = {{goQualR "ToPtr"}}({{.BindingsType | goUsage}}{}.{{.Protocol | goIDUpper}}())
    {{- end}}
    producer := {{with impl .Protocol}}{{goPkg .}}{{end}}NewProducer(url, bindings)
    consumer := {{with impl .Protocol}}{{goPkg .}}{{end}}NewConsumer(bindings)
    return &{{ .Server | goIDUpper }}Closable{
        {{ .Type | goUsage }}{producer: producer, consumer: consumer},
    }, nil
}
{{- end}}

{{define "server/http/impl/net/http/connectProducerFunction"}}
func Connect{{ .Server | goIDUpper }}Producer(ctx {{goQual "context.Context"}}, url *{{goQual "net/url.URL"}}) (*{{ .Server | goIDUpper }}Closable, error) {
    var bindings *{{goQualR .Protocol "ServerBindings"}}
    {{- if .BindingsProtocols | has .Protocol}}
        bindings = {{goQualR "ToPtr"}}({{.BindingsType | goUsage}}{}.{{.Protocol | goIDUpper}}())
    {{- end}}
    producer := {{with impl .Protocol}}{{goPkg .}}{{end}}NewProducer(url, bindings)
    return &{{ .Server | goIDUpper }}Closable{
        {{ .Type | goUsage }}{producer: producer},
    }, nil
}
{{- end}}

{{define "server/http/impl/net/http/connectConsumerFunction"}}
func Connect{{ .Server | goIDUpper }}Consumer(ctx {{goQual "context.Context"}}, url *{{goQual "net/url.URL"}}) (*{{ .Server | goIDUpper }}Closable, error) {
    var bindings *{{goQualR .Protocol "ServerBindings"}}
    {{- if .BindingsProtocols | has .Protocol}}
        bindings = {{goQualR "ToPtr"}}({{.BindingsType | goUsage}}{}.{{.Protocol | goIDUpper}}())
    {{- end}}
    consumer := {{with impl .Protocol}}{{goPkg .}}{{end}}NewConsumer(bindings)
    return &{{ .Server | goIDUpper }}Closable{
        {{ .Type | goUsage }}{consumer: consumer},
    }, nil
}
{{- end}}