{{- /* dot == render.ProtoMessage */}}
{{define "code/proto/http/message/bindings/values"}}
{{- goQualU "http" "MessageBindings"}}{
    {{- with .Bindings.Values.Map.http}}
        {{with .headers }}Headers: {{toJSON . | goLit}},{{end}}
        {{with .statusCode }}StatusCode: {{goLit .}},{{end}}
    {{- end}}
}
{{- end}}

{{template "proto_message.tmpl" .}}
