{{- /* dot == render.ProtoOperation */}}
{{define "code/proto/http/operation/bindings/values"}}
{{- goQualU "http" "OperationBindings"}}{
    {{- with .Bindings.Values.Map.http}}
        {{with .method }}Method: {{goLit .}},{{end}}
        {{with .query }}Query: {{toJSON . | goLit}},{{end}}
    {{- end}}
}
{{- end}}

{{template "proto_operation.tmpl" .}}
