{{define "lang/goarray/definition"}}
    {{- if .Description -}}
        {{ print .Name "--" .Description | gocomment }}
    {{- end -}}
    type {{ .Name | goid }} [{{ if .Size }}{{ .Size }}{{ end }}]{{ .ItemsType.U }}
{{end}}
{{define "lang/goarray/usage"}}
    {{- if .HasDefinition -}}
        {{if .Import -}}
            {{ qual .Import .Name }}
        {{- else -}}
            {{ qualgenpkg . }}{{.Name | goid}}
        {{- end -}}
    {{- else -}}
        [{{ if .Size }}{{ .Size }}{{ end }}]{{.ItemsType.U}}
    {{- end -}}
{{end}}