{{define "definition"}}
    {{- if .Description -}}
        {{ print (.Name "--" .Description) | gocomment }}
    {{- end -}}
    type {{ .Name | goid }} map[{{.KeyType.U}}]{{.ValueType.U}}
{{end}}
{{define "usage"}}
    {{- if .HasDefinition -}}
        {{- if and .Import (ne .Import .ctx.CurrentPackage) -}}
            {{ qualg .Import .Name }}
        {{- else -}}
            {{ .Name | goid }}
        {{- end -}}
    {{- else -}}
        map[{{.KeyType.U}}]{{.ValueType.U}}
    {{- end -}}
{{end}}