{{define "lang/gomap/definition"}}
    {{- if .Description -}}
        {{ print .Name "--" .Description | gocomment }}
    {{- end -}}
    type {{ .Name | goid }} map[{{.KeyType.U}}]{{.ValueType.U}}
{{end}}
{{define "lang/gomap/usage"}}
    {{- if .HasDefinition -}}
        {{if .Import -}}
            {{ qual .Import .Name }}
        {{- else -}}
            {{ qualgenpkg . }}{{.Name | goid}}
        {{- end -}}
    {{- else -}}
        map[{{.KeyType.U}}]{{.ValueType.U}}
    {{- end -}}
{{end}}