{{define "lang/gosimple/definition"}}
    {{ .Name | goid }}
{{end}}
{{define "lang/gosimple/usage"}}
    {{if .Import -}}
        {{ qual .Import .Name }}
    {{- else -}}
        {{ qualgenpkg . }}{{.Name | goid}}
    {{- end -}}
{{end}}