{{define "lang/gosimple/definition"}}
    {{-  .Name }}
{{- end}}
{{define "lang/gosimple/usage"}}
    {{- if .Import }}
        {{- qual .Import .Name }}
    {{- else }}
        {{- qualgenpkg . }}{{ .Name }}
    {{- end }}
{{- end}}