{{define "lang/gostruct/definition"}}
    {{- if .Description -}}
        {{ print .Name "--" .Description | gocomment }}
    {{- end -}}
    type {{ .Name | goid }} struct {
        {{range .Fields -}}
            {{- if .Description -}}
                {{ print .Name "--" .Description | gocomment }}
            {{- end}}
            {{.Name | goid}} {{.Type.U}} {{.RenderTags}}
        {{- end}}
    }
{{end}}
{{define "lang/gostruct/usage"}}
    {{- if .HasDefinition -}}
        {{if .Import -}}
            {{ qual .Import .Name }}
        {{- else -}}
            {{ qualgenpkg . }}{{.Name | goid}}
        {{- end -}}
    {{- else -}}
        struct {
            {{range .Fields -}}
                {{- if .Description -}}
                    {{ print .Name "--" .Description | gocomment }}
                {{- end}}
                {{.Name | goid}} {{.Type.U}} {{.RenderTags}}
            {{- end}}
        }
    {{- end -}}
{{end}}