{{define "lang/gostruct/definition"}}
    {{- if .Description }}
        {{- print (goid .) "--" .Description | gocomment }}
    {{- end }}
    type {{ . | goid }} struct {
        {{- range .Fields }}
            {{- if .Description }}
                {{ print .Name "--" .Description | gocomment }}
            {{- end }}
            {{ .Name }} {{ .Type | gousage }} {{.RenderTags}}
        {{- end }}
    }
{{- end}}
{{define "lang/gostruct/usage"}}
    {{- if .HasDefinition }}
        {{- if .Import }}
            {{- goqual .Import (goid .) }}
        {{- else }}
            {{- gopkg . }}{{ . | goid }}
        {{- end }}
    {{- else -}}
        struct {
            {{- range .Fields }}
                {{- if .Description }}
                    {{ print .Name "--" .Description | gocomment }}
                {{- end }}
                {{ .Name }} {{ .Type | gousage }} {{.RenderTags}}
            {{- end }}
        }
    {{- end }}
{{- end}}