{{define "definition"}}
    {{- if .Description -}}
        {{ print (.Name "--" .Description) | gocomment }}
    {{- end -}}
    type {{ .Name | goid }} {{.AliasedType.D}}
{{end}}
{{define "usage"}}
    {{- if .HasDefinition -}}
        {{if .Import -}}
            {{ qual .Import .Name }}
        {{- else -}}
            {{ qualgenpkg . }}{{.Name | goid}}
        {{- end -}}
    {{- else -}}
        {{.AliasedType.U}}
    {{- end -}}
{{end}}