{{define "lang/gotypealias/definition"}}
    {{- if .Description }}
        {{ print (goid .) "--" .Description | gocomment }}
    {{- end }}
    type {{ . | goid }} {{ .AliasedType | godef }}
{{- end}}
{{define "lang/gotypealias/usage"}}
    {{- if .HasDefinition }}
        {{- if .Import }}
            {{- qual .Import (goid .) }}
        {{- else }}
            {{- qualgenpkg . }}{{ . | goid }}
        {{- end }}
    {{- else }}
        {{- .AliasedType | gousage }}
    {{- end }}
{{- end}}