{{define "usage"}}
    {{if .Type}}
        {{$pt := .AsPointerWrapperType .Type}}
        {{if and $pt $pt.IsPointer}}
            {{if .Empty}}
                {{if .EmptyCurlyBrakets /* &{} -> ToPtr({}) */ }}{{qualr "" "ToPtr"}}({}){{else /* &nil -> nil */}}nil{{end}}
            {{else if .LiteralValue}}
                {{$t := .AsGolangType $pt}}
                {{if $t /* &int(123) -> ToPtr(int(123)) */}}
                    {{qualr "" "ToPtr"}}({{$t.U}}({{template "value_expr" .}}))
                {{else /* &123 -> ToPtr(123) */}}
                    {{qualr "" "ToPtr"}}({{template "value_expr" .}})
                {{end}}
            {{else /* &AnyType{}; &map[string]int{}; &[]int{} */}}
                &{{.Type.U}}{{if .LiteralValue /* int(123) */}}({{template "value_expr" .}}){{else}}{{template "value_expr" .}}{{end}}
            {{end}}
        {{else}}
            {{.Type.U}}{{if .LiteralValue /* int(123) */}}({{template "value_expr" .}}){{else}}{{template "value_expr" .}}{{end}}
        {{end}}
    {{else}}
        {{template "value_expr" .}}
    {{end}}
{{end}}

{{define "value_expr"}}
    {{if .LiteralValue /* Literal */}}
        {{$v := .AsRenderer .LiteralValue}}
        {{if $v}}{{ $v.U }}{{else}}{{ .LiteralValue | golit }}{{end}}
    {{else if .MapValues.Len /* Map */}}
        {
        {{range .MapValues.Entries}}
            {{$v := .AsRenderer .Value}}
            {{.Key | golit }}: {{if $v}}{{ $v.U }}{{else}}{{ .Value | golit }}{{end}},
        {{end}}
        }
    {{else if .StructValues.Len /* Struct */}}
        {
        {{range .StructValues.Entries}}
            {{$v := .AsRenderer .Value}}
            {{.Key | goid }}: {{if $v}}{{ $v.U }}{{else}}{{ .Value | golit }}{{end}},
        {{end}}
        }
    {{else if .ArrayValues /* Array/slice */}}
        {
        {{range .ArrayValues}}
            {{$v := .AsRenderer .}}
            {{if $v}}{{ $v.U }}{{else}}{{ . | golit }}{{end}},
        {{end}}
        }
    {{else /*Empty value*/ }}
        {{if .EmptyCurlyBrakets}}{}{{else}}nil{{end}}
    {{end}}
{{end}}