{{define "definition"}}
{{.UnionStruct.D}}

func (u *{{.Name}}) UnmarshalJSON(data []byte) (err error) {
{{range $field := .Fields}}
    if err = {{qual "encoding/json.Unmarshal"}}(bytes, {{if not $field.Type.IsPointer}}&{{end}}u{{$field.Type.TypeName}}; err == nil {
        return
    }
{{end}}
    return
}
{{end}}