{{define "operation/proto/newFunction"}}
func New{{.ProtoChannel | goid}}{{.Protocol | capitalize | goid}}{{ . | goid }}(
    {{- with .Channel.ParametersType}}params {{ . | gousage}},{{end}}
    {{- if .IsPublisher}}publisher {{goqualrun .Protocol "Publisher"}},{{end}}
    {{- if .IsSubscriber}}subscriber {{goqualrun .Protocol "Subscriber"}},{{end}}
) *{{.Type| gousage}} {
    res := {{.Type | gousage}}{
        Channel: {{gopkg .ProtoChannel.Type}}New{{.ProtoChannel | goid}}{{.Protocol | capitalize | goid}}(
            {{- with .Channel.ParametersType}}params{{end}},
            {{- if .ProtoChannel.IsPublisher}}{{- if .IsPublisher}}publisher{{else}}nil{{end}},{{end}}
            {{- if .ProtoChannel.IsSubscriber}}{{- if .IsSubscriber}}subscriber{{else}}nil{{end}},{{end}}
        ),
    }
    return &res
}
{{- end}}

{{define "operation/proto/openFunction"}}
func Open{{.ProtoChannel | goid}}{{.Protocol | capitalize | goid}}{{ . | goid }}(
    ctx {{goqual "context.Context"}},
    {{ with .Channel.ParametersType}}params {{. | gousage}},{{end}}
    {{ if .IsPublisher}}producer {{goqualrun .Protocol "Producer"}},{{end}}
    {{ if .IsSubscriber}}consumer {{goqualrun .Protocol "Consumer"}},{{end}}
) (ch *{{.Type | gousage}}, err error) {
    {{- if .Channel.BindingsProtocols | has .Protocol}}
        chBindings := {{.Channel.BindingsType | gousage}}{}.{{.Protocol | capitalize | goid}}()
    {{- end }}
    {{- if .BindingsProtocols | has .Protocol}}
        opBindings := {{.BindingsType | gousage}}{}.{{.Protocol | capitalize | goid}}()
    {{- end }}

    {{- if or .IsPublisher .IsSubscriber}}
        address, err := {{with .Channel.SelectProtoObject .Protocol}}{{gopkg .Type}}{{end}}{{.Channel | goid}}Address({{if .Channel.ParametersType}}params{{end}}).Expand()
        if err != nil {
            return nil, err
        }
    {{- end}}
    {{- if .IsPublisher}}
        var publisher {{goqualrun .Protocol "Publisher"}}

        if producer != nil {
            if publisher, err = producer.Publisher(ctx, address, {{if .Channel.BindingsProtocols | has .Protocol}}&chBindings{{else}}nil{{end}}, {{if .BindingsProtocols | has .Protocol}}&opBindings{{else}}nil{{end}}); err != nil {
                return nil, err
            }
        }
    {{- end}}
    {{- if .IsSubscriber}}
        var subscriber {{goqualrun .Protocol "Subscriber"}}
        if consumer != nil {
            if subscriber, err = consumer.Subscriber(ctx, address, {{if .Channel.BindingsProtocols | has .Protocol}}&chBindings{{else}}nil{{end}}, {{if .BindingsProtocols | has .Protocol}}&opBindings{{else}}nil{{end}}); err != nil {
                return nil, err
            }
        }
    {{- end}}

    res := &{{.Type | gousage}}{
        Channel: {{gopkg .ProtoChannel.Type}}New{{.ProtoChannel | goid}}{{.Protocol | capitalize | goid}}(
            {{- with .Channel.ParametersType}}params{{end}},
            {{- if .ProtoChannel.IsPublisher}}{{- if .IsPublisher}}publisher{{else}}nil{{end}},{{end}}
            {{- if .ProtoChannel.IsSubscriber}}{{- if .IsSubscriber}}subscriber{{else}}nil{{end}},{{end}}
        ),
    }
    return res, nil
}
{{- end}}

{{define "operation/proto/commonMethods"}}
func (o {{ .Type | gousage }}) Close() error {
    return o.Channel.Close()
}
{{- end}}

{{define "operation/proto/publishMethods"}}
type {{ . | goid }}OperationEnvelopeMarshaler{{.Protocol | capitalize | goid}} interface {
    MarshalOperation{{. | goid}}{{.Protocol | capitalize | goid}}(envelope {{goqualrun .Protocol "EnvelopeWriter"}}) error
}

{{- range .BoundMessages}}
    {{- if not (visible .) }}{{continue}}{{end}}
    func (o {{ $.Type | gousage }}) SealEnvelope{{. | goid}}(
        envelope {{goqualrun $.Protocol "EnvelopeWriter"}},
        message {{ $ | goid }}OperationEnvelopeMarshaler{{$.Protocol | capitalize | goid}},
    ) error {
        if err := message.MarshalOperation{{$ | goid}}{{$.Protocol | capitalize | goid}}(envelope); err != nil {
            return err
        }
        {{ with trytmpl (print "operation/" $.Protocol "/publishMethods/block1") .}}{{.}}{{end}}
        {{- if (deref .).BindingsProtocols | has $.Protocol }}
            envelope.SetBindings({{(deref .).BindingsType | gousage}}{}.{{$.Protocol | capitalize | goid}}())
        {{- end}}
        return nil
    }

    func (o {{ $.Type | gousage }}) Send{{. | goid}}(
        ctx {{goqual "context.Context"}},
        envelope {{goqualrun $.Protocol "EnvelopeWriter"}},
        message {{ $ | goid }}OperationEnvelopeMarshaler{{$.Protocol | capitalize | goid}},
    ) error {
        if err := o.SealEnvelope{{. | goid}}(envelope, message); err != nil {
            return err
        }
        return o.Channel.Publish(ctx, envelope)
    }
{{- end}}
{{- end}}


{{define "operation/proto/subscribeMethods"}}
type {{ . | goid }}OperationEnvelopeUnmarshaler{{.Protocol | capitalize | goid}} interface {
    UnmarshalOperation{{. | goid}}{{.Protocol | capitalize | goid}}(envelope {{goqualrun .Protocol "EnvelopeReader"}}) error
}

{{- range .BoundMessages}}
    {{- if not (visible .) }}{{continue}}{{end}}
    func (o {{ $.Type | gousage }}) OpenEnvelope{{. | goid}}(
        envelope {{goqualrun $.Protocol "EnvelopeReader"}},
        message {{ $ | goid }}OperationEnvelopeUnmarshaler{{$.Protocol | capitalize | goid}},
    ) error {
        return message.UnmarshalOperation{{$ | goid}}{{$.Protocol | capitalize | goid}}(envelope)
    }

    func (o {{ $.Type | gousage }}) Subscribe{{. | goid}}(
        ctx {{goqual "context.Context"}},
        cb func(message {{ (deref .).InType | goptr }}),
    ) (err error) {
        subCtx, cancel := {{goqual "context.WithCancelCause"}}(ctx)
        defer cancel(nil)

        return o.Channel.Subscribe(subCtx, func(envelope {{goqualrun $.Protocol "EnvelopeReader"}}) {
            message := new({{ (deref .).InType | gousage }})
            if err2 := o.OpenEnvelope{{. | goid}}(envelope, message); err2 != nil {
                err = {{goqual "fmt.Errorf"}}("open message envelope: %w", err2)
                cancel(err)
                return
            }
            cb(message)
        })
    }
{{- end}}
{{- end}}

{{define "operation/proto/serverInterface"}}
type {{ .Type | goid }}Server interface {
    OpenOperation{{.Channel | goid}}{{.Protocol | capitalize | goid}}{{. | goid}}(ctx {{goqual "context.Context"}}, {{with .Channel.ParametersType}}params {{ . | gousage }}{{end}}) (*{{ .Type | gousage }}, error)
    {{if .IsPublisher}}Producer() {{goqualrun .Protocol "Producer"}}{{end}}
    {{if .IsSubscriber}}Consumer() {{goqualrun .Protocol "Consumer"}}{{end}}
}
{{- end}}
