{{define "server/proto/channelOpenMethods"}}
{{- range $channel := .BoundChannels}}
    {{- with (deref .).SelectProtoObject $.Protocol }}
        func (s {{ $.Type | gousage }}) OpenChannel{{ $channel | goid }}{{$.Protocol | capitalize | goid}}(
            ctx {{goqual "context.Context"}},
            {{with .ParametersType}}params {{ . | gousage }},{{end}}
        ) (ch *{{ .Type | gousage }}, err error) {
            return {{gopkg .Type}}Open{{ $channel | goid }}{{$.Protocol | capitalize | goid}}(
                ctx,
                {{- if .ParametersType}}params,{{end}}
                {{- if .IsPublisher}}s.producer,{{end}}
                {{- if .IsSubscriber}}s.consumer,{{end}}
            )
        }
    {{- end}}
{{- end}}
{{- end}}

{{define "server/proto/operationOpenMethods"}}
{{- range $operation := .BoundOperations}}
    {{- with (deref .).SelectProtoObject $.Protocol }}
        func (s {{ $.Type | gousage }}) OpenOperation{{ $operation.Channel | goid }}{{$.Protocol | capitalize | goid}}{{ $operation | goid }}(
            ctx {{goqual "context.Context"}},
            {{with $operation.Channel.ParametersType}}params {{ . | gousage }},{{end}}
        ) (ch *{{ .Type | gousage }}, err error) {
            return {{gopkg .Type}}Open{{ $operation.Channel | goid }}{{$.Protocol | capitalize | goid}}{{ . | goid }}(
                ctx,
                {{- if $operation.Channel.ParametersType}}params,{{end}}
                {{- if $operation.IsPublisher}}s.producer,{{end}}
                {{- if $operation.IsSubscriber}}s.consumer,{{end}}
            )
        }
    {{- end}}
{{- end}}
{{- end}}
