import (
	"context"
	"fmt"

	goRedis "github.com/redis/go-redis/v9" {{/* Import alias to avoid conflict with generated package name */}}
)

func NewClient(serverURL string, security {{goPkgRun}}AnySecurityScheme) (*Client, error) {
	opts, err := goRedis.ParseURL(serverURL)
	if err != nil {
		return nil, err
	}
	if security != nil {
		if err = applySecurity(opts, security); err != nil {
			return nil, err
		}
	}

	cl := goRedis.NewClient(opts)
	return &Client{Client: cl}, nil
}

type Client struct {
	*goRedis.Client
}

func (c *Client) Publisher(ctx context.Context, address string, _ *{{goPkgUtil "redis"}}ChannelBindings, _ *{{goPkgUtil "redis"}}OperationBindings, security {{goPkgRun}}AnySecurityScheme) ({{goPkgUtil "redis"}}Publisher, error) {
	if security != nil {
		if err := authenticateConn(ctx, c.Client.Conn(), security); err != nil {
			return nil, err
		}
	}

	return &PublishChannel{Client: c.Client, Name: address}, nil
}

func (c *Client) Subscriber(ctx context.Context, address string, _ *{{goPkgUtil "redis"}}ChannelBindings, _ *{{goPkgUtil "redis"}}OperationBindings, security {{goPkgRun}}AnySecurityScheme) ({{goPkgUtil "redis"}}Subscriber, error) {
	if security != nil {
		if err := authenticateConn(ctx, c.Client.Conn(), security); err != nil {
			return nil, err
		}
	}

	return &SubscriberChannel{
		PubSub: c.Client.Subscribe(ctx, address),
		Name:   address,
	}, nil
}

func applySecurity(opts *goRedis.Options, security {{goPkgRun}}AnySecurityScheme) error {
	switch v := security.(type) {
	case {{goPkgRun}}UserPasswordSecurity:
		u, p := v.UserPassword()
		opts.Username = u
		opts.Password = p
		return nil
	case {{goPkgRun}}APIKeySecurity:
		k := v.APIKey()
		opts.Password = k
		return nil
	}

	return fmt.Errorf("unsupported security scheme: %v", security.AuthType())
}

func authenticateConn(ctx context.Context, conn *goRedis.Conn, security {{goPkgRun}}AnySecurityScheme) error {
	switch v := security.(type) {
	case {{goPkgRun}}UserPasswordSecurity:
		u, p := v.UserPassword()
		return conn.AuthACL(ctx, u, p).Err()
	case {{goPkgRun}}APIKeySecurity:
		k := v.APIKey()
        return conn.Auth(ctx, k).Err()
	}

	return fmt.Errorf("unsupported security scheme: %v", security.AuthType())
}
