import (
	"context"

	"github.com/redis/go-redis/v9"
)

func NewClient(serverURL string, security {{goQualR "AnySecurityScheme"}}) (*Client, error) {
	opts, err := redis.ParseURL(serverURL)
	if err != nil {
		return nil, err
	}
	cl := redis.NewClient(opts)
	return &Client{Client: cl}, nil
}

type Client struct {
	*redis.Client
}

func (c *Client) Publisher(_ context.Context, address string, _ *{{goQualU "redis" "ChannelBindings"}}, _ *{{goQualU "redis" "OperationBindings"}}, security {{goQualR "AnySecurityScheme"}}) ({{goQualU "redis" "Publisher"}}, error) {
	return &PublishChannel{Client: c.Client, Name: address}, nil
}

func (c *Client) Subscriber(ctx context.Context, address string, _ *{{goQualU "redis" "ChannelBindings"}}, _ *{{goQualU "redis" "OperationBindings"}}, security {{goQualR "AnySecurityScheme"}}) ({{goQualU "redis" "Subscriber"}}, error) {
	return &SubscriberChannel{
		PubSub: c.Client.Subscribe(ctx, address),
		Name:   address,
	}, nil
}
