import (
	"bytes"
	"io"
	"strings"

	"github.com/redis/go-redis/v9"
)

func NewEnvelopeOut(buf []byte) *EnvelopeOut {
	return &EnvelopeOut{Buffer: bytes.NewBuffer(buf)}
}

type EnvelopeOut struct {
    *bytes.Buffer
	headers     {{goQualR "Headers"}}
	contentType string
}

func (e *EnvelopeOut) ResetPayload() {
	e.Buffer.Reset()
}

func (e *EnvelopeOut) SetHeaders(headers {{goQualR "Headers"}}) {
	e.headers = headers
}

func (e *EnvelopeOut) SetContentType(contentType string) {
	e.contentType = contentType
}

func (e *EnvelopeOut) SetBindings(_ {{goQualU "redis" "MessageBindings"}}) {}

func (e *EnvelopeOut) AsAny() any {
	return e.Buffer.String()
}

func NewEnvelopeIn(msg *redis.Message) *EnvelopeIn {
	return &EnvelopeIn{Message: msg, reader: strings.NewReader(msg.Payload)}
}

type EnvelopeIn struct {
	*redis.Message
	reader io.Reader
}

func (e *EnvelopeIn) Read(p []byte) (n int, err error) {
	return e.reader.Read(p)
}

func (e *EnvelopeIn) Headers() {{goQualR "Headers"}} {
	return nil
}
