import (
	"bytes"
	"io"
	"strings"

	goRedis "github.com/redis/go-redis/v9" {{/* Import alias to avoid conflict with generated package name */}}
)

func NewEnvelopeOut(buf []byte) *EnvelopeOut {
	return &EnvelopeOut{Buffer: bytes.NewBuffer(buf)}
}

type EnvelopeOut struct {
    *bytes.Buffer
	headers     {{goPkgRun}}Headers
	contentType string
}

func (e *EnvelopeOut) ResetPayload() {
	e.Buffer.Reset()
}

func (e *EnvelopeOut) SetHeaders(headers {{goPkgRun}}Headers) {
	e.headers = headers
}

func (e *EnvelopeOut) SetContentType(contentType string) {
	e.contentType = contentType
}

func (e *EnvelopeOut) SetBindings(_ {{goPkgUtil "redis"}}MessageBindings) {}

func (e *EnvelopeOut) AsAny() any {
	return e.Buffer.String()
}

func NewEnvelopeIn(msg *goRedis.Message) *EnvelopeIn {
	return &EnvelopeIn{Message: msg, reader: strings.NewReader(msg.Payload)}
}

type EnvelopeIn struct {
	*goRedis.Message
	reader io.Reader
}

func (e *EnvelopeIn) Read(p []byte) (n int, err error) {
	return e.reader.Read(p)
}

func (e *EnvelopeIn) Headers() {{goPkgRun}}Headers {
	return nil
}
