import (
	"strings"

	"github.com/redis/go-redis/v9"
)

func NewEnvelopeOut() *EnvelopeOut {
	return &EnvelopeOut{Builder: &strings.Builder{}}
}

type EnvelopeOut struct {
	*strings.Builder
	headers     {{goQualR "Headers"}}
	contentType string
}

func (e *EnvelopeOut) ResetPayload() {
	e.Builder.Reset()
}

func (e *EnvelopeOut) SetHeaders(headers {{goQualR "Headers"}}) {
	e.headers = headers
}

func (e *EnvelopeOut) SetContentType(contentType string) {
	e.contentType = contentType
}

func (e *EnvelopeOut) SetBindings(_ {{goQualE "redis" "MessageBindings"}}) {}

func (e *EnvelopeOut) AsAny() any {
	return e.Builder.String()
}

func NewEnvelopeIn(msg *redis.Message) *EnvelopeIn {
	return &EnvelopeIn{Message: msg, reader: strings.NewReader(msg.Payload)}
}

type EnvelopeIn struct {
	*redis.Message
	reader *strings.Reader
}

func (e *EnvelopeIn) Read(p []byte) (n int, err error) {
	return e.reader.Read(p)
}

func (e *EnvelopeIn) Headers() {{goQualR "Headers"}} {
	return nil
}
