import (
	"context"
	"fmt"

	goRedis "github.com/redis/go-redis/v9" {{/* Import alias to avoid conflict with generated package name */}}
)

type PublishChannel struct {
	Client *goRedis.Client
	Name   string
}

type ImplementationRecord interface {
	AsAny() any
}

func (p PublishChannel) Send(ctx context.Context, envelopes ...{{goPkgUtil "redis"}}EnvelopeWriter) error {
	for i, envelope := range envelopes {
		ir := envelope.(ImplementationRecord)
		if err := p.Client.Publish(ctx, p.Name, ir.AsAny()).Err(); err != nil {
			return fmt.Errorf("envelope #%d: %w", i, err)
		}
	}
	return nil
}

func (p PublishChannel) Close() error {
	return nil
}
