import (
	"context"

	goRedis "github.com/redis/go-redis/v9" {{/* Import alias to avoid conflict with generated package name */}}
)

type SubscriberChannel struct {
	*goRedis.PubSub
	Name string
}

func (s SubscriberChannel) Receive(ctx context.Context, cb func(envelope {{goPkgUtil "redis"}}EnvelopeReader)) error {
	for {
		select {
		case msg, ok := <-s.PubSub.Channel():
			if !ok {
				return nil
			}
			cb(NewEnvelopeIn(msg))
		case <-ctx.Done():
			return ctx.Err()
		}
	}
}
