{{define "client/channel/amqp/publish/prepareEnvelope"}}
    envelope.SetRoutingKey(channel.RoutingKey())
{{- end}}

{{define "client/operation/amqp/publish/prepareEnvelope"}}
    envelope.SetRoutingKey(channel.RoutingKey())
{{- end}}