{{define "client/server/kafka/cliMixin"}}
type KafkaCliMixin struct {
    MessageKey string `arg:"--kafka-pub-message-key" help:"Set this key in the outgoing message. By default, the message key is not set"`
}
{{- end}}

{{- /*
    .Object == render.Channel or render.Operation;
    .Server == render.Server
    .Kind == "channel" or "operation" or "operationReply"
    */}}
{{define "client/channeloperation/kafka/github.com/twmb/franz-go/setup"}}
var clientOptions []{{goPkgExt "github.com/twmb/franz-go/pkg/kgo"}}Opt
logLevel := {{goPkgExt "github.com/twmb/franz-go/pkg/kgo"}}LogLevelNone
if opts.debug {
    logLevel = {{goPkgExt "github.com/twmb/franz-go/pkg/kgo"}}LogLevelDebug
}
clientOptions = append(clientOptions, {{goPkgExt "github.com/twmb/franz-go/pkg/kgo"}}WithLogger({{goPkgExt "github.com/twmb/franz-go/pkg/kgo"}}BasicLogger({{goPkgExt "os"}}Stderr, logLevel, nil)))
clientOptions = append(clientOptions, {{goPkgExt "github.com/twmb/franz-go/pkg/kgo"}}AllowAutoTopicCreation())
{{- end}}

{{define "client/channeloperation/kafka/github.com/twmb/franz-go/producer/connect"}}
server, err := {{goPkg .Server}}Connect{{.Server | goIDUpper}}Producer(ctx, serverURL, {{if $.Server.SecuritySchemes}}serverSecurity, {{end}}clientOptions...)
if err != nil {
    return {{goPkgExt "fmt"}}Errorf("connect server %s: %w", serverURL, err)
}
defer server.Close()
{{- end}}

{{define "client/channeloperation/kafka/github.com/twmb/franz-go/consumer/connect"}}
server, err := {{goPkg .Server}}Connect{{.Server | goIDUpper}}Consumer(ctx, serverURL, {{if $.Server.SecuritySchemes}}serverSecurity, {{end}}clientOptions...)
if err != nil {
    return {{goPkgExt "fmt"}}Errorf("connect server %s: %w", serverURL, err)
}
defer server.Close()
{{- end}}

{{define "client/message/kafka/github.com/twmb/franz-go/publish"}}
if args.{{.Server | goIDUpper}}Cmd.MessageKey != "" {
    envelope.Key = []byte(args.{{.Server | goIDUpper}}Cmd.MessageKey)
}
{{- end}}

{{define "client/channel/kafka/publish/prepareEnvelope"}}
    envelope.SetTopic(channel.Topic())
{{- end}}

{{define "client/operation/kafka/publish/prepareEnvelope"}}
    envelope.SetTopic(channel.Topic())
{{- end}}

{{define "client/operationReply/kafka/publish/prepareEnvelope"}}
    envelope.SetTopic(channel.Topic())
{{- end}}