{{- /*
    .ChannelOrOperation == common.Renderable: Ref -> render.Channel or render.Channel or render.Operation or render.Operation;
    .Server == common.Renderable: Ref -> render.Server or render.Server
    .Kind == "channel" or "operation"
    */}}
{{define "client/channeloperation/udp/net/producer/connect"}}
server, err := {{goPkg (deref .Server).ProtoServer.Type}}Connect{{.Server | goIDUpper}}Producer(ctx, serverURL, "")
if err != nil {
    return {{goQual "fmt.Errorf"}}("connect server %s: %w", serverURL, err)
}
{{- end}}

{{define "client/channeloperation/udp/net/consumer/connect"}}
server, err := {{goPkg (deref .Server).ProtoServer.Type}}Connect{{.Server | goIDUpper}}Consumer(ctx, serverURL, "")
if err != nil {
    return {{goQual "fmt.Errorf"}}("connect server %s: %w", serverURL, err)
}
{{- end}}
