{{- /*
    .Object == render.Channel or render.Operation;
    .Server == render.Server
    .Kind == "channel" or "operation" or "operationReply"
    */}}
{{define "client/channeloperation/udp/net/producer/connect"}}
server, err := {{goPkg .Server}}Connect{{.Server | goIDUpper}}Producer(ctx, serverURL)
if err != nil {
    return {{goPkgExt "fmt"}}Errorf("connect server %s: %w", serverURL, err)
}
defer server.Close()
{{- end}}

{{define "client/channeloperation/udp/net/consumer/connect"}}
server, err := {{goPkg .Server}}Connect{{.Server | goIDUpper}}Consumer(ctx, serverURL)
if err != nil {
    return {{goPkgExt "fmt"}}Errorf("connect server %s: %w", serverURL, err)
}
defer server.Close()
{{- end}}
