{{define "client/channeloperation/ws/github.com/gobwas/ws/consumer/connect"}}
server, err := {{goPkg $.Server}}Connect{{$.Server | goID}}Consumer(ctx, serverURL{{if $.Server.SecuritySchemes}}, serverSecurity{{end}})
if err != nil {
    return {{goPkgExt "fmt"}}Errorf("connect server %s: %w", serverURL, err)
}
defer server.Close()
hServer := {{goPkgExt "net/http"}}Server{
    Addr: serverURL.Host,
    Handler: server.Consumer().({{goPkgExt "net/http"}}Handler),
    BaseContext: func(_ {{goPkgExt "net"}}Listener) {{goPkgExt "context"}}Context {
        return ctx
    },
}
go func() {
    if err := hServer.ListenAndServe(); err != nil && err != {{goPkgExt "net/http"}}ErrServerClosed {
        {{goPkgExt "log"}}Fatalf("listen and serve: %v", err)
    }
}()
{{- end}}

{{define "client/channel/ws/publish/prepareEnvelope"}}
envelope.SetOpCode(byte({{goPkgExt "github.com/gobwas/ws"}}OpText))
{{- end}}

{{define "client/operation/ws/publish/prepareEnvelope"}}
envelope.SetOpCode(byte({{goPkgExt "github.com/gobwas/ws"}}OpText))
{{- end}}

{{define "client/operationReply/ws/publish/prepareEnvelope"}}
envelope.SetOpCode(byte({{goPkgExt "github.com/gobwas/ws"}}OpText))
{{- end}}