{{- with $channel := deref .}}

{{- if and .ParametersType (ndefined .ParametersType) }}
    {{ .ParametersType | godef }}
{{- end }}

func {{$ | goid}}Name({{if .ParametersType}}params {{.ParametersType | gousage}}{{end}}) {{goqualrun "ParamString"}} {
{{- if .ParametersType}}
    paramMap := map[string]string{
    {{- range .ParametersType.Fields}}
        params.{{.Name}}.Name(): params.{{.Name}}.String(),
    {{- end}}
    }
    return {{goqualrun "ParamString"}}{
        Expr: {{. | goid | golit}},
        Parameters: paramMap,
    }
{{- else}}
    return {{goqualrun "ParamString"}}{
        Expr: {{$ | goid | golit}},
    }
{{- end}}
}

{{- if and .BindingsType (ndefined .BindingsType) }}
    {{ .BindingsType | godef }}
    {{- range $proto := .BindingsProtocols }}
        {{- $bindingsValue := $channel.ProtoBindingsValue $proto }}
        func (c {{ $channel.BindingsType | gousage }}) {{ $proto | capitalize | goid }}() {{$bindingsValue.Type | gousage}} {
            b := {{$bindingsValue | gousage}}
            {{- with $channel.Bindings }}
                {{- $jvals := .JSONValues.GetOrEmpty $proto }}
                {{- range $jvals.Entries}}
                    {{.Key | toCamelCase }} := {{.Value | golit}}
                    _ = {{goqual "encoding/json.Unmarshal"}}([]byte({{.Key | toCamelCase }}), &b.{{.Key}})
                {{- end}}
            {{- end}}
            return b
        }
    {{- end}}
{{- end}}

{{- end}}