{{if .SchemaObj}}
    {{template "schema" .}}
{{end}}

{{if .ServerObj}}
    {{template "server" .ServerObj }}
    {{execTemplate (print .ServerObj.ProtoName "/" "server") .ServerObj }}
{{end}}

{{if .ParameterObj}}
    {{template "parameter" .ParameterObj}}
{{end}}

{{if .ChannelObj}}
    {{if eq .Index 0}}{{template "channel" .ChannelObj}}{{end}}
    {{execTemplate (print .ChannelObj.ProtoName "/" "channel") .}}
{{end}}

{{if .MessageObj}}
    {{if eq .Index 0}}{{template "message" .MessageObj}}{{end}}
    {{execTemplate (print .MessageObj.ProtoName "/" "message") .}}
{{end}}
