{{- if eq .Object.Kind "schema" }}
    {{- template "schema.tmpl" .Object }}

{{- else if eq .Object.Kind "server"}}
    {{- if not .CurrentSelection.IgnoreCommon}}
        {{- template "server.tmpl" .Object }}
    {{- end}}

    {{- range .CurrentSelection.Protocols}}
        {{- with (deref $.Object).SelectProtoObject . }}
            {{- tmpl (print .Protocol "_server.tmpl") . }}
        {{- end}}
    {{- end}}

{{- else if eq .Object.Kind "parameter"}}
    {{- template "parameter.tmpl" .Object}}

{{- else if eq .Object.Kind "channel"}}
    {{- if not .CurrentSelection.IgnoreCommon}}
        {{- template "channel.tmpl" .Object}}
    {{- end}}
    {{- range .CurrentSelection.Protocols}}
        {{- with (deref $.Object).SelectProtoObject . }}
            {{- tmpl (print .Protocol "_channel.tmpl") . }}
        {{- end}}
    {{- end}}

{{- else if eq .Object.Kind "message" }}
    {{- if not .CurrentSelection.IgnoreCommon}}
        {{- template "message.tmpl" .Object}}
    {{- end}}

    {{- range .CurrentSelection.Protocols}}
        {{- with (deref $.Object).SelectProtoObject . }}
            {{- tmpl (print .Protocol "_message.tmpl") . }}
        {{- end}}
    {{- end}}
{{- end}}
