{{ if .BindingsStruct}}
    {{ .BindingsStruct.D }}
    {{range $proto := .BindingsProtocols}}
        {{$bindingsValue := .ProtoBindingsValue $proto}}
        func (c *{{ .BindingStruct.U }}) {{ $proto | title }}() {{$bindingsValue.Type.U}} {
        b := {{$bindingsValue.U}}
        {{if .BindingsPromise}}
            {{$jvals := .BindingsPromise.T.JSONValues.GetOrEmpty $proto}}
            {{range $jval := $jvals.Entries}}
                {{$jval.Key | lowerCamelize }} := {{$jval.Value | golit}}
                _ = {{qual "encoding/json.Unmarshal"}}([]byte({{$jval.Key | lowerCamelize }}), &b.{{$jval.Key}})
            {{end}}
        {{end}}
        return b
        }
    {{end}}
{{ end }}

{{$headersType := .HeadersFallbackType}}
{{if .HeadersTypePromise}}
    {{$headersType := .HeadersTypePromise.T}}
{{end}}

func New{{ .OutStruct.Name }}() *{{ .OutStruct.U }} {
    return &{{ .OutStruct.U }}{}
}

{{.OutStruct.D}}

func (m *{{.OutStruct.Name}}) WithPayload(payload {{.PayloadType.U}}) *{{.OutStruct.Name}} {
    m.Payload = payload
    return m
}

func (m *{{.OutStruct.Name}}) WithHeaders(headers {{$headersType.U}}) *{{.OutStruct.Name}} {
    m.Headers = headers
    return m
}

{{if .CorrelationIDPromise}}
func (m {{.OutStruct.Name}}) SetCorrelationID(value {{(.CorrelationIDPromise.T.TargetVarType .OutStruct).U}}) {
    {{(.CorrelationIDPromise.T.RenderSetterBody "value" .OutStruct).U}}
}
{{end}}

func New{{ .InStruct.Name }}() *{{ .InStruct.U }} {
    return &{{ .InStruct.U }}{}
}

{{.InStruct.D}}

func (m *{{.InStruct.Name}}) MessagePayload() {{.PayloadType.U}} {
    return m.Payload
}

func (m *{{.InStruct.Name}}) MessageHeaders() {{$headersType.U}} {
    return m.Headers
}

{{if .CorrelationIDPromise}}
func (m {{.InStruct.Name}}) CorrelationID() (value {{(.CorrelationIDPromise.T.TargetVarType .InStruct).U}}}, err error) {
    {{(.CorrelationIDPromise.T.RenderGetterBody "value" .InStruct).U}}
    return
}
{{end}}
