{{ if .BindingsType}}
    {{ .BindingsType.D }}
    {{range $proto := .BindingsProtocols}}
        {{$bindingsValue := .ProtoBindingsValue $proto}}
        func (c *{{ .BindingStruct.U }}) {{ $proto | capitalize }}() {{$bindingsValue.Type.U}} {
        b := {{$bindingsValue.U}}
        {{if .BindingsPromise}}
            {{$jvals := .BindingsPromise.T.JSONValues.GetOrEmpty $proto}}
            {{range $jval := $jvals.Entries}}
                {{$jval.Key | toCamelCase }} := {{$jval.Value | golit}}
                _ = {{qual "encoding/json.Unmarshal"}}([]byte({{$jval.Key | toCamelCase }}), &b.{{$jval.Key}})
            {{end}}
        {{end}}
        return b
        }
    {{end}}
{{ end }}

{{$headersType := .HeadersFallbackType}}
{{if .HeadersTypePromise}}
    {{$headersType := .HeadersTypePromise.T}}
{{end}}

func New{{ .OutType.Name }}() *{{ .OutType.U }} {
    return &{{ .OutType.U }}{}
}

{{.OutType.D}}

func (m *{{.OutType.Name}}) WithPayload(payload {{.PayloadType.U}}) *{{.OutType.Name}} {
    m.Payload = payload
    return m
}

func (m *{{.OutType.Name}}) WithHeaders(headers {{$headersType.U}}) *{{.OutType.Name}} {
    m.Headers = headers
    return m
}

{{if .CorrelationIDPromise}}
func (m {{.OutType.Name}}) SetCorrelationID(value {{(.CorrelationIDPromise.T.TargetVarType .OutType).U}}) {
    {{(.CorrelationIDPromise.T.RenderSetterBody "value" .OutType).U}}
}
{{end}}

func New{{ .InType.Name }}() *{{ .InType.U }} {
    return &{{ .InType.U }}{}
}

{{.InType.D}}

func (m *{{.InType.Name}}) MessagePayload() {{.PayloadType.U}} {
    return m.Payload
}

func (m *{{.InType.Name}}) MessageHeaders() {{$headersType.U}} {
    return m.Headers
}

{{if .CorrelationIDPromise}}
func (m {{.InType.Name}}) CorrelationID() (value {{(.CorrelationIDPromise.T.TargetVarType .InType).U}}}, err error) {
    {{(.CorrelationIDPromise.T.RenderGetterBody "value" .InType).U}}
    return
}
{{end}}
