{{- /* dot == render.Renderable: Ref -> render.Message or render.Message */}}
{{- with $message := deref .}}

{{- if print "Message" (goid $) | ndefined}}
    {{- if .IsPublisher}}
        {{- def .OutType }}
        func New{{ $ | goid }}Out() *{{ .OutType | gousage }} {
            return &{{ .OutType | gousage }}{}
        }
    {{- end}}

    {{- if .IsSubscriber}}
        {{- def .InType }}
        func New{{ $ | goid }}In() *{{ .InType| gousage }} {
            return &{{ .InType | gousage }}{}
        }
    {{- end}}
    {{- print "Message" (goid $) | def }}
{{- end}}

{{- if and .BindingsType (ndefined .BindingsType)}}
    {{- .BindingsType| godef }}
    {{- range $proto := .BindingsProtocols}}
        {{- $bindingsValue := $message.ProtoBindingsValue $proto}}
        func (c {{ $message.BindingsType | gousage }}) {{ $proto | goid }}() {{$bindingsValue.Type | gousage}} {
            b := {{$bindingsValue| gousage}}
            {{- with $message.Bindings}}
                {{- $jvals := .JSONValues.GetOrEmpty $proto}}
                {{- range $jval := $jvals.Entries}}
                    {{ $jval.Key | toCamelCase }} := {{$jval.Value | golit}}
                    _ = {{goqual "encoding/json.Unmarshal"}}([]byte({{$jval.Key | toCamelCase }}), &b.{{$jval.Key}})
                {{- end}}
            {{- end}}
            return b
        }
    {{- end}}
{{- end }}

{{- $headersType := coalesce .HeadersType .HeadersFallbackType}}

{{- if and (ndefined .OutType) .IsPublisher }}
{{.OutType| godef}}

func (m *{{ .OutType | goid }}) WithPayload(payload {{.PayloadType| gousage}}) *{{ .OutType | goid }} {
    m.Payload = payload
    return m
}

func (m *{{ .OutType | goid }}) WithHeaders(headers {{$headersType| gousage}}) *{{ .OutType | goid }} {
    m.Headers = headers
    return m
}

{{- with visible .CorrelationID}}
func (m {{ $message.OutType | goid }}) SetCorrelationID(value {{ .TargetVarType $message.OutType | gousage}}) {
    {{ .RenderSetterBody "m" $message.OutType}}
}
{{- end}}
{{- end}}

{{- if and (ndefined .InType) .IsSubscriber }}
{{.InType| godef}}

func (m *{{ .InType | goid }}) MessagePayload() {{.PayloadType| gousage}} {
    return m.Payload
}

func (m *{{ .InType | goid }}) MessageHeaders() {{$headersType| gousage}} {
    return m.Headers
}

{{- with visible .CorrelationID}}
func (m {{ $message.InType | goid }}) CorrelationID() (value {{.TargetVarType $message.InType | gousage}}, err error) {
    {{ .RenderGetterBody "value" $message.InType }}
    return
}
{{- end}}
{{- end}}

{{- end}}