{{.Type.D}}

func (p {{.Type.U}}) Name() string {
    return {{.Name | golit}}
}

func (p {{.Type.U}}) String() string {
    {{if .IsStringType}}
        return string(p)
    {{else}}
        return {{qual "fmt.Sprint"}}(p.Value)
    {{end}}
}