{{- with deref .}}

{{- if gondefined .Type}}
{{.Type | godef}}

func (p {{.Type| gousage}}) Name() string {
    return {{  . | goid | golit }}
}

func (p {{.Type| gousage}}) String() string {
    {{- if .IsStringType}}
        return string(p)
    {{- else}}
        return {{qual "fmt.Sprint"}}(p.Value)
    {{- end}}
}
{{- end}}
{{- end}}