{{- with $server := deref .}}

{{- if .ProtocolVersion}}
const {{$ | goid}}ProtocolVersion = {{.ProtocolVersion | golit}}
{{- end}}

func {{$ | goid}}URL(
{{- range .Variables.Entries}}
    {{- .Value | goid}} string,
{{- end }}) {{goqualrun "ParamString"}} {
    {{- if gt .Variables.Len 0}}
        {{- range .Variables.Entries}}
            {{- if .Value.Default}}
                if {{.Value | goid}} == "" {
                    {{.Value | goid}} = {{.Value.Default | golit}}
                }
            {{- end}}
        {{- end}}
        paramMap := map[string]string{
            {{- range .Variables.Entries}}
                {{.Key | golit}}: {{.Value | goid}},
            {{- end}}
        }
        return {{goqualrun "ParamString"}}{
            Expr: {{.URL | golit}},
            Parameters: paramMap,
        }
    {{- else}}
        return {{goqualrun "ParamString"}}{
            Expr: {{.URL | golit}},
        }
    {{- end}}
}

{{- if and .BindingsType (ndefined .BindingsType)}}
    {{- .BindingsType | godef}}
    {{- range $proto := .BindingsProtocols}}
        {{- $bindingsValue := $server.ProtoBindingsValue $proto}}
        func (c *{{ $server.BindingsType | gousage }}) {{ $proto | capitalize | goid }}() {{$bindingsValue.Type | gousage}} {
            b := {{$bindingsValue | gousage}}
            {{- with $server.Bindings}}
                {{- $jvals := .JSONValues.GetOrEmpty $proto}}
                {{- range $jval := $jvals.Entries}}
                    {{$jval.Key | toCamelCase }} := {{$jval.Value | golit}}
                    _ = {{goqual "encoding/json.Unmarshal"}}([]byte({{$jval.Key | toCamelCase }}), &b.{{$jval.Key}})
                {{- end}}
            {{- end}}
            return b
        }
    {{- end}}
{{- end}}

{{- end}}