{{- with $server := deref .}}

{{- if .ProtocolVersion}}
const {{$ | goid}}ProtocolVersion = {{.ProtocolVersion | golit}}
{{- end}}

func {{$ | goid}}URL(
{{- range .VariablesPromises.Entries}}
    {{- .Key | goid}} string,
{{- end }}) {{qualrun "ParamString"}} {
    {{- if gt .VariablesPromises.Len 0}}
        {{- range .VariablesPromises.Entries}}
            {{- if .Value.T.Default}}
                if {{.Key | goid}} == "" {
                    {{.Key | goid}} = "{{.Value.T.Default}}"
                }
            {{- end}}
        {{- end}}
        paramMap := map[string]string{
            {{- range .VariablesPromises.Entries}}{{.Key | golit}}: {{.Value.T | goid}},{{end}}
        }
        return {{qualrun "ParamString"}}{
            Expr: {{.URL | golit}},
            Parameters: paramMap,
        }
    {{- else}}
        return {{qualrun "ParamString"}}{
            Expr: {{.URL | golit}},
        }
    {{- end}}
}

{{- if and .BindingsType (gondefined .BindingsType)}}
    {{- .BindingsType | godef}}
    {{- range $proto := .BindingsProtocols}}
        {{- $bindingsValue := $server.ProtoBindingsValue $proto}}
        func (c *{{ $server.BindingsType | gousage }}) {{ $proto | capitalize | goid }}() {{$bindingsValue.Type | gousage}} {
            b := {{$bindingsValue | gousage}}
            {{- if $server.BindingsPromise}}
                {{- $jvals := $server.BindingsPromise.T.JSONValues.GetOrEmpty $proto}}
                {{- range $jval := $jvals.Entries}}
                    {{$jval.Key | toCamelCase }} := {{$jval.Value | golit}}
                    _ = {{qual "encoding/json.Unmarshal"}}([]byte({{$jval.Key | toCamelCase }}), &b.{{$jval.Key}})
                {{- end}}
            {{- end}}
            return b
        }
    {{- end}}
{{- end}}

{{- end}}