{{- with deref .}}
    {{- if ndefined (print "MessageMethods" .Protocol (goid .))}}
        {{template "message/proto/marshalUnmarshalMethods" deref .}}
    {{- end}}
    {{- print "MessageMethods" .Protocol (goid .) | def}}
{{- end}}