func New{{.Struct.Name}}(producer {{qualr .ProtoName "Producer"}}, consumer {{qualr .ProtoName "Consumer"}}) *{{.Struct.U}} {
    return &{{.Struct.U}}{
        producer: producer,
        consumer: consumer,
    }
}

{{.Struct.D}}

func (s {{.Struct.U}}) Name() string {
    return "{{.Name}}"
}

func (s {{.Struct.U}}) Producer() {{qualr .ProtoName "Producer"}} {
    return s.producer
}

func (s {{.Struct.U}}) Consumer() {{qualr .ProtoName "Consumer"}} {
    return s.consumer
}

{{range $channel := .GetRelevantChannels}}
func (s {{.Struct.D}}) Open{{$channel.Struct.Name}}(
    ctx {{qual "context.Context"}},
    {{if $channel.ParametersType}}params {{$channel.ParametersType.U}},{{end}}
) (ch *{{$channel.Struct.U}}, err error) {
    return {{qualg $channel.Struct.Import (print "Open" $channel.Struct.Name)}}(
        ctx,
        {{if $channel.ParametersType}}params,{{end}}
        {{if $channel.IsPublisher}}s.producer,{{end}}
        {{if $channel.IsSubscriber}}s.consumer,{{end}}
    )
}
{{end}}
