{{- /* dot == render.ProtoChannel */}}
{{- def .Type}}
{{template "channel/proto/newFunction" .}}

{{template "channel/proto/openFunction" .}}

{{- if ndefined .Type}}
{{.Type| goDef}}

{{template "channel/proto/commonMethods" .}}

{{if .IsPublisher}}{{template "channel/proto/publishMethods" .}}{{end}}

{{if .IsSubscriber}}{{template "channel/proto/subscribeMethods" .}}{{end}}

{{template "channel/proto/serverInterface" .}}
{{- end}}
