{{- /* dot == render.ProtoServer */}}
{{ pin .Type }}
{{template "code/proto/server/newFunction" .}}
{{- if impl .Protocol}}
    {{template "code/proto/server/connectFunctions" .}}
{{- end}}

{{- with once .Type}}
    {{ . | goDef }}

    {{template "code/proto/server/commonMethods" $}}
    {{template "code/proto/server/channelOpenMethods" $}}
    {{template "code/proto/server/operationOpenMethods" $}}
{{- end}}