{{- /* dot == render.ProtoServer */}}

{{define "server/redis/impl/github.com/redis/go-redis/connectFunction"}}
func Connect{{ .Server | goIDUpper }}Bidi(ctx {{goQual "context.Context"}}, url *{{goQual "net/url.URL"}}) (*{{ .Server | goIDUpper }}Closable, error) {
    client, err := {{with impl .Protocol}}{{goPkg .}}{{end}}NewClient(url.String())
    if err != nil {
        return nil, err
    }
    producer, consumer := client, client
    return &{{ .Server | goIDUpper }}Closable{
        {{ .Type | goUsage }}{producer: producer, consumer: consumer},
    }, nil
}
{{- end}}

{{define "server/redis/impl/github.com/redis/go-redis/connectProducerFunction"}}
func Connect{{ .Server | goIDUpper }}Producer(ctx {{goQual "context.Context"}}, url *{{goQual "net/url.URL"}}) (*{{ .Server | goIDUpper }}Closable, error) {
    producer, err := {{with impl .Protocol}}{{goPkg .}}{{end}}NewClient(url.String())
    if err != nil {
        return nil, err
    }
    return &{{ .Server | goIDUpper }}Closable{
        {{ .Type | goUsage }}{producer: producer},
    }, nil
}
{{- end}}

{{define "server/redis/impl/github.com/redis/go-redis/connectConsumerFunction"}}
func Connect{{ .Server | goIDUpper }}Consumer(ctx {{goQual "context.Context"}}, url *{{goQual "net/url.URL"}}) (*{{ .Server | goIDUpper }}Closable, error) {
    consumer, err := {{with impl .Protocol}}{{goPkg .}}{{end}}NewClient(url.String())
    if err != nil {
        return nil, err
    }
    return &{{ .Server | goIDUpper }}Closable{
        {{ .Type | goUsage }}{consumer: consumer},
    }, nil
}
{{- end}}