{{- /* dot == render.ProtoServer */}}

{{define "server/udp/impl/net/newClient"}}
    client := {{with impl .Protocol}}{{gopkg .}}{{end}}NewClient("", url.Host, url.Scheme)
    consumer, producer := client, client
{{- end}}

{{define "server/udp/impl/net/newProducer"}}
    producer := {{with impl .Protocol}}{{gopkg .}}{{end}}NewClient("", url.Host, url.Scheme)
{{- end}}

{{define "server/udp/impl/net/newConsumer"}}
    consumer := {{with impl .Protocol}}{{gopkg .}}{{end}}NewClient("", url.Host, url.Scheme)
{{- end}}
