{{- /* dot == render.ProtoServer */}}

{{define "server/http/impl/net/http/newClient"}}
    producer := {{with impl .Protocol}}{{gopkg .}}{{end}}NewProducer(url, bindings)
    consumer := {{with impl .Protocol}}{{gopkg .}}{{end}}NewConsumer(bindings)
{{- end}}

{{define "server/http/impl/net/http/newProducer"}}
    producer := {{with impl .Protocol}}{{gopkg .}}{{end}}NewProducer(url, bindings)
{{- end}}

{{define "server/http/impl/net/http/newConsumer"}}
    consumer := {{with impl .Protocol}}{{gopkg .}}{{end}}NewConsumer(bindings)
{{- end}}