{{- /* dot == render.ProtoOperation */}}

{{define "code/proto/nats/operation/bindings/values"}}
{{- goPkgUtil "nats"}}OperationBindings{
    {{- with .Bindings.Values.Map.nats}}
        {{with .queue }}Queue: {{goLit .}},{{end}}
    {{- end}}
}
{{- end}}

{{template "proto_operation.tmpl" .}}
