{{- /* dot == render.Server */}}

{{define "code/proto/nats/server/impl/github.com/nats-io/nats.go/connectFunction"}}
func Connect{{ . | goID }}Bidi(
    _ {{goPkgExt "context"}}Context,
    url *{{goPkgExt "net/url"}}URL,
    {{with $.SecuritySchemes}}security {{$ | goID}}Security,{{end}}
    opts ...{{goPkgExt "github.com/nats-io/nats.go"}}Option,
) (*{{ . | goID }}Closable, error) {
    client, err := {{goPkgImpl .Protocol}}NewClient(url.String(), {{if $.SecuritySchemes}}security{{else}}nil{{end}}, opts...)
    if err != nil {
        return nil, err
    }
    producer, consumer := client, client
    return &{{ . | goID }}Closable{
        {{. | goID}}{producer: producer, consumer: consumer},
    }, nil
}
{{- end}}

{{define "code/proto/nats/server/impl/github.com/nats-io/nats.go/connectProducerFunction"}}
func Connect{{ . | goID }}Producer(
    _ {{goPkgExt "context"}}Context,
    url *{{goPkgExt "net/url"}}URL,
    {{with $.SecuritySchemes}}security {{$ | goID}}Security,{{end}}
    opts ...{{goPkgExt "github.com/nats-io/nats.go"}}Option,
) (*{{ . | goID }}Closable, error) {
    producer, err := {{goPkgImpl .Protocol}}NewClient(url.String(), {{if $.SecuritySchemes}}security{{else}}nil{{end}}, opts...)
    if err != nil {
        return nil, err
    }
    return &{{ . | goID }}Closable{
        {{. | goID}}{producer: producer},
    }, nil
}
{{- end}}

{{define "code/proto/nats/server/impl/github.com/nats-io/nats.go/connectConsumerFunction"}}
func Connect{{ . | goID }}Consumer(
    _ {{goPkgExt "context"}}Context,
    url *{{goPkgExt "net/url"}}URL,
    {{with $.SecuritySchemes}}security {{$ | goID}}Security,{{end}}
    opts ...{{goPkgExt "github.com/nats-io/nats.go"}}Option,
) (*{{ . | goID }}Closable, error) {
    consumer, err := {{goPkgImpl .Protocol}}NewClient(url.String(), {{if $.SecuritySchemes}}security{{else}}nil{{end}}, opts...)
    if err != nil {
        return nil, err
    }
    return &{{ . | goID }}Closable{
        {{. | goID}}{consumer: consumer},
    }, nil
}
{{- end}}