{{- /* dot == render.ProtoChannel */}}
{{define "code/proto/nats/channel/newFunction/block1"}}
    res.subject = res.address.String()
{{- end}}
{{define "code/proto/nats/channel/publishMethods/block1"}}
    envelope.SetSubject(c.Subject())
{{- end}}

{{- pin . }}
{{template "code/proto/channel/newFunction" .}}
{{template "code/proto/channel/serverInterface" .}}
{{template "code/proto/channel/openFunction" .}}

type {{. | goIDUpper}}{{.Protocol | goIDUpper}} struct {
    address    {{goQualR "ParamString"}}
    {{if .IsPublisher}}publisher  {{goQualR .Protocol "Publisher"}}{{end}}
    {{if .IsSubscriber}}subscriber {{goQualR .Protocol "Subscriber"}}{{end}}
    subject string
}

func (c {{. | goIDUpper}}{{.Protocol | goIDUpper}}) Subject() string {
    return c.subject
}

{{template "code/proto/channel/commonMethods" .}}
{{if .IsPublisher}}{{template "code/proto/channel/publishMethods" .}}{{end}}
{{if .IsSubscriber}}{{template "code/proto/channel/subscribeMethods" .}}{{end}}
