{{- /* dot == render.ProtoChannel */}}
{{define "code/proto/nats/channel/newFunction/block1"}}
    res.topic = res.address.String()
{{- end}}
{{define "code/proto/nats/channel/publishMethods/block1"}}
    envelope.SetTopic(c.Topic())
{{- end}}

{{- pin . }}
{{template "code/proto/channel/newFunction" .}}
{{template "code/proto/channel/openFunction" .}}

type {{. | goIDUpper}}{{.Protocol | goIDUpper}} struct {
    address    {{goQualR "ParamString"}}
    {{if .IsPublisher}}publisher  {{goQualR .Protocol "Publisher"}}{{end}}
    {{if .IsSubscriber}}subscriber {{goQualR .Protocol "Subscriber"}}{{end}}
    topic string
}

func (c {{. | goIDUpper}}{{.Protocol | goIDUpper}}) Topic() string {
    return c.topic
}

{{template "code/proto/channel/commonMethods" .}}
{{template "code/proto/channel/operationMethods" .}}
{{template "code/proto/channel/replyMethods" .}}
{{if .IsPublisher}}{{template "code/proto/channel/publishMethods" .}}{{end}}
{{if .IsSubscriber}}{{template "code/proto/channel/subscribeMethods" .}}{{end}}
{{template "code/proto/channel/serverInterface" .}}
