import (
	"bufio"
	"context"
	"net"
	"net/http"
	"strings"
	"sync"

	"github.com/gobwas/ws"
	"github.com/gobwas/ws/wsutil"
)

// TODO: remove httpResponseTimeout, allow to use smth like http.requestHandler or nothing
func NewConsumer(bindings *{{goQualE "ws" "ServerBindings"}}, security {{goQualR "AnySecurityScheme"}}) *ConsumeClient {
	return &ConsumeClient{
		Upgrader:    ws.DefaultHTTPUpgrader,
		bindings:    bindings,
		connections: make(map[string]chan *Channel),
		mu:          new(sync.RWMutex),
	}
}

type HTTPUpgraderInterface interface {
	Upgrade(r *http.Request, w http.ResponseWriter) (conn net.Conn, rw *bufio.ReadWriter, hs ws.Handshake, err error)
}

type ConsumeClient struct {
	http.ServeMux
	Upgrader    HTTPUpgraderInterface
	bindings    *{{goQualE "ws" "ServerBindings"}}
	connections map[string]chan *Channel
	mu          *sync.RWMutex
}

func (c *ConsumeClient) Subscriber(ctx context.Context, address string, chb *{{goQualE "ws" "ChannelBindings"}}, opb *{{goQualE "ws" "OperationBindings"}}, security {{goQualR "AnySecurityScheme"}}) ({{goQualE "ws" "Subscriber"}}, error) {
	c.ensureChannel(address, chb, opb) // FIXME: maybe it's better to take the path from bindings?
	// Wait for a new connection
	select {
	case <-ctx.Done():
		return nil, ctx.Err()
	case conn := <-c.connections[address]:
		return conn, nil
	}
}

func (c *ConsumeClient) ensureChannel(channelName string, chb *{{goQualE "ws" "ChannelBindings"}}, opb *{{goQualE "ws" "OperationBindings"}}) {
	c.mu.Lock()
	defer c.mu.Unlock()

	if _, ok := c.connections[channelName]; !ok { // HandleFunc panics if called more than once for the same channel
		c.connections[channelName] = make(chan *Channel)
		c.HandleFunc(channelName, func(w http.ResponseWriter, req *http.Request) {
			if chb != nil {
				needMethod := chb.Method
				if needMethod != "" && strings.ToUpper(needMethod) != req.Method {
					http.Error(w, "method not allowed", http.StatusMethodNotAllowed)
					return
				}
			}

			c.mu.RLock()
			defer c.mu.RUnlock()
			if _, ok := c.connections[channelName]; !ok {
				http.Error(w, "channel not found", http.StatusNotFound)
				return
			}

			netConn, _, _, err := c.Upgrader.Upgrade(req, w)
			if err != nil {
				// TODO: error log
				http.Error(w, "internal server error", http.StatusInternalServerError)
				return
			}

			conn := NewChannel(chb, opb, netConn, false)
			select {
			case <-req.Context().Done():
				// TODO: error log
				defer conn.Close()
				_ = wsutil.WriteServerMessage(netConn, ws.OpClose, []byte("connection closed"))
			case c.connections[channelName] <- conn:
			}
		})
	}
}
