import (
	"context"
	"fmt"
	"net/url"

	"github.com/gobwas/ws"
)

func NewProducer(serverURL *url.URL, bindings *{{goQualE "ws" "ServerBindings"}}, security {{goQualR "AnySecurityScheme"}}) *ProduceClient {
	return &ProduceClient{
		bindings:  bindings,
		serverURL: serverURL,
	}
}

type ProduceClient struct {
	bindings  *{{goQualE "ws" "ServerBindings"}}
	serverURL *url.URL
}

func (p ProduceClient) Publisher(ctx context.Context, address string, chb *{{goQualE "ws" "ChannelBindings"}}, opb *{{goQualE "ws" "OperationBindings"}}, security {{goQualR "AnySecurityScheme"}}) ({{goQualE "ws" "Publisher"}}, error) {
	if chb != nil && chb.Method != "" && chb.Method != "GET" {
		return nil, fmt.Errorf("unsupported method %s", chb.Method)
	}
	u := p.serverURL.JoinPath(address)
	netConn, _, _, err := ws.Dial(ctx, u.String())
	if err != nil {
		return nil, err
	}

	return NewChannel(chb, opb, netConn, true), nil
}
