import (
	"context"
	"encoding/base64"
	"fmt"
	"net/http"
	"net/url"

	wsclient "github.com/gobwas/ws"
)

func NewProducer(serverURL *url.URL, bindings *{{goPkgUtil "ws"}}ServerBindings, security {{goPkgRun}}AnySecurityScheme) *ProduceClient {
	return &ProduceClient{
		bindings:  bindings,
		serverURL: serverURL,
		security:  security,
	}
}

type ProduceClient struct {
	bindings  *{{goPkgUtil "ws"}}ServerBindings
	serverURL *url.URL
	security  {{goPkgRun}}AnySecurityScheme
}

func (p ProduceClient) Publisher(ctx context.Context, address string, chb *{{goPkgUtil "ws"}}ChannelBindings, opb *{{goPkgUtil "ws"}}OperationBindings, security {{goPkgRun}}AnySecurityScheme) ({{goPkgUtil "ws"}}Publisher, error) {
	if chb != nil && chb.Method != "" && chb.Method != "GET" {
		return nil, fmt.Errorf("unsupported method %s", chb.Method)
	}
	u := p.serverURL.JoinPath(address)

	s := p.security
	if security != nil {
		s = security
	}

	d := wsclient.DefaultDialer
	if s != nil {
		h, err := getAuthHeaders(s)
		if err != nil {
			return nil, err
		}
		d.Header = h
	}

	netConn, _, _, err := d.Dial(ctx, u.String())
	if err != nil {
		return nil, err
	}

	return NewChannel(chb, opb, netConn, true), nil
}

func getAuthHeaders(security {{goPkgRun}}AnySecurityScheme) (wsclient.HandshakeHeaderHTTP, error) {
	h := make(http.Header)

	switch v := security.(type) {
	case {{goPkgRun}}UserPasswordSecurity:
		u, p := v.UserPassword()
		h.Set("Authorization", "Basic "+basicAuth(u, p))
	case {{goPkgRun}}APIKeySecurity:
		key := v.APIKey()
		switch v.In() {
		case "user":
			h.Set("Authorization", "Basic "+basicAuth(key, ""))
		case "password":
			h.Set("Authorization", "Basic "+basicAuth("", key))
		default:
			return nil, fmt.Errorf("unsupported 'in' for apiKey security scheme: %s", v.In())
		}
	default:
		return nil, fmt.Errorf("unsupported security scheme: %v", security.AuthType())
	}

	return wsclient.HandshakeHeaderHTTP(h), nil
}

func basicAuth(username, password string) string {
	auth := username + ":" + password
	return base64.StdEncoding.EncodeToString([]byte(auth))
}