{{define "channel/kafka/newFunction/block1"}}
    res.topic = res.address.String()
    {{- if .BindingsType}}
        bindings := {{.BindingsType | gousage}}{}.{{.Protocol | capitalize | goid}}()
        if bindings.Topic != "" {
            res.topic = bindings.Topic
        }
    {{- end}}
{{- end}}
{{define "channel/kafka/publishMethods/block1"}}
    envelope.SetTopic(c.Topic())
{{- end}}

{{- def .Type}}
{{template "channel/proto/newFunction" .}}

{{template "channel/proto/openFunction" .}}

{{- if ndefined .Type}}
{{.Type | godef}}

{{template "channel/proto/commonMethods" .}}

func (c {{.Type| gousage}}) Topic() string {
    return c.topic
}

{{if .IsPublisher}}{{template "channel/proto/publishMethods" .}}{{end}}

{{if .IsSubscriber}}{{template "channel/proto/subscribeMethods" .}}{{end}}

{{template "channel/proto/serverInterface" .}}
{{- end}}
