{{- with deref .}}
    {{- if gondefined (print "MessageMethods" .Protocol (goid .))}}
        {{template "proto/message/marshalUnmarshalMethods" deref .}}
    {{- end}}
    {{- print "MessageMethods" .Protocol (goid .) | def}}
{{- end}}