type {{(print ..RenderContextProto "Server") | toCamelCase}} interface {
    Open{{..RenderContextProto}}(ctx {{qual "context.Context"}}, {{if .ParametersType}}params {{.ParametersType.U}}{{end}}) (*{{.Struct.U}}, error)
    {{if .IsPublisher}}Producer() {{qualr .ProtoName "Producer"}}{{end}}
    {{if .IsSubscriber}}Consumer() {{qualr .ProtoName "Consumer"}}{{end}}
}

func New{{.Struct.Name}}(
    {{if .ParametersType}}params {{.ParametersType.U}},{{end}}
    {{if .IsPublisher}}publisher {{qualr .ProtoName "Publisher"}},{{end}}
    {{if .IsSubscriber}}subscriber {{qualr .ProtoName "Subscriber"}},{{end}}
) *{{.Struct.U}} {
    res := {{.Struct.U}}{
        name: {{..RenderContext}}Name({{if .ParametersType}}params{{end}}),
        {{if .IsPublisher}}publisher: publisher,{{end}}
        {{if .IsSubscriber}}subscriber: subscriber,{{end}}
    }
    res.topic = res.name.String()
    return &res
}

{{template "proto/channel/openFunction" .}}

{{.Struct.D}}

{{template "proto/channel/commonMethods" .}}

func (c {{.Struct.U}}) Topic() string {
    return c.topic
}

{{if .IsPublisher}}
    {{template "proto/channel/outputMethods" .}}

    {{$pubMessageType := goptr "any"}}
    {{if .PublisherMessageTypePromise }}
        {{$pubMessageType = goptr .PublisherMessageTypePromise.T.OutType}}
    {{end}}

    func (c {{.Struct.U}}) SealEnvelope(envelope {{qualr .ProtoName "EnvelopeWriter"}}, message {{$pubMessageType.U}}) error {
        envelope.ResetPayload()
        {{if .PublisherMessageTypePromise /*Message is set for Channel in spec*/ }}
            if err := message.Marshal{{.ProtoName | capitalize}}Envelope(envelope); err != nil {
                return err
            }
        {{else /*No Message set for Channel in spec*/}}
            enc := {{qual "encoding/json.NewEncoder"}}(envelope)
            if err := enc.Encode(message); err != nil {
                return err
            }
        {{end}}
        envelope.SetTopic(c.topic)
        {{if and .PublisherMessageTypePromise (.PublisherMessageTypePromise.T.HasProtoBindings .ProtoName)}}
            envelope.SetBindings(.PublisherMessageTypePromise.T.BindingsType.U){}.{{.ProtoName | capitalize}}()
        {{end}}
        return nil
    }
{{end}}

{{if .IsSubscriber}}{{template "proto/channel/subscribeMethods" .}}{{end}}