{{- localobj .Type}}
type {{ .Type | goid }}Server interface {
    Open{{.Type | goid}}(ctx {{qual "context.Context"}}, {{if .ParametersType}}params {{.ParametersType| gousage}}{{end}}) (*{{.Type| gousage}}, error)
    {{- if .IsPublisher}}Producer() {{qualrun .ProtoName "Producer"}}{{end}}
    {{- if .IsSubscriber}}Consumer() {{qualrun .ProtoName "Consumer"}}{{end}}
}

func New{{ .Type | goid }}(
    {{- if .ParametersType}}params {{.ParametersType| gousage}},{{end}}
    {{- if .IsPublisher}}publisher {{qualrun .ProtoName "Publisher"}},{{end}}
    {{- if .IsSubscriber}}subscriber {{qualrun .ProtoName "Subscriber"}},{{end}}
) *{{.Type| gousage}} {
    res := {{.Type| gousage}}{
        name: {{.TypeNamePrefix}}Name({{if .ParametersType}}params{{end}}),
        {{- if .IsPublisher}}publisher: publisher,{{end}}
        {{- if .IsSubscriber}}subscriber: subscriber,{{end}}
    }
    res.topic = res.name.String()
    return &res
}

{{template "proto/channel/openFunction" .}}

{{.Type| godef}}

{{template "proto/channel/commonMethods" .}}

func (c {{.Type| gousage}}) Topic() string {
    return c.topic
}

{{- if .IsPublisher}}
    {{template "proto/channel/outputMethods" .}}
    func (c {{.Type| gousage}}) SealEnvelope(envelope {{qualrun .ProtoName "EnvelopeWriter"}}, message {{if .PublisherMessageTypePromise}}{{goptr .PublisherMessageTypePromise.T.OutType}}{{else}}any{{end}}) error {
        envelope.ResetPayload()
        {{- if .PublisherMessageTypePromise }}
            {{- /*Message is set for Channel in spec*/ -}}
            if err := message.Marshal{{.ProtoName | capitalize}}Envelope(envelope); err != nil {
                return err
            }
        {{- else}}
            {{- /*No Message set for Channel in spec*/ -}}
            enc := {{qual "encoding/json.NewEncoder"}}(envelope)
            if err := enc.Encode(message); err != nil {
                return err
            }
        {{- end}}
        envelope.SetTopic(c.topic)
        {{- if and .PublisherMessageTypePromise (.PublisherMessageTypePromise.T.HasProtoBindings .ProtoName)}}
            envelope.SetBindings({{.PublisherMessageTypePromise.T.BindingsType | gousage }}){}.{{.ProtoName | capitalize}}()
        {{- end}}
        return nil
    }
{{- end}}

{{if .IsSubscriber}}{{template "proto/channel/subscribeMethods" .}}{{end}}