{{- with deref .}}
    {{- if gondefined (print "MessageMethods" .ProtoName (goid .))}}
        {{template "proto/message/marshalUnmarshalMethods" deref .}}
    {{- end}}
    {{- print "MessageMethods" .ProtoName (goid .) | def}}
{{- end}}