{{- /* dot == render.ProtoServer */}}
{{- def .Type}}
func New{{.Server | goid}}(producer {{goqualrun .Protocol "Producer"}}, consumer {{goqualrun .Protocol "Consumer"}}) *{{.Type| gousage}} {
    return &{{.Type| gousage}}{
        producer: producer,
        consumer: consumer,
    }
}

{{- if ndefined .Type}}
{{.Type| godef}}

{{template "server/proto/commonMethods" .}}
{{template "server/proto/channelOpenMethods" .}}
{{template "server/proto/operationOpenMethods" .}}

{{- end}}