type {{(print .GolangNameProto "Server") | lowerCamelize}} interface {
    Open{{.GolangNameProto}}(ctx {{qual "context.Context"}}, {{if .ParametersStruct}}params {{.ParametersStruct.U}}{{end}}) (*{{.Struct.U}}, error)
    {{if .Publisher}}Producer() {{qualr .ProtoName "Producer"}}{{end}}
    {{if .Subscriber}}Consumer() {{qualr .ProtoName "Consumer"}}{{end}}
}

{{template "proto/channel/bareNewFunction" .}}

{{template "proto/channel/openFunction" .}}

{{.Struct.D}}

{{template "proto/channel/commonMethods" .}}

{{if .Publisher}}{{template "proto/channel/barePublishMethods" .}}{{end}}

{{if .Subscriber}}{{template "proto/channel/subscribeMethods" .}}{{end}}