import (
	"bytes"
	"net"
)

func NewEnvelopeOut(buf []byte) *EnvelopeOut {
	return &EnvelopeOut{Buffer: bytes.NewBuffer(buf)}
}

type EnvelopeOut struct {
	*bytes.Buffer
	headers     {{goQualR "Headers"}}
	contentType string
	remoteAddr  net.Addr
}

func (e *EnvelopeOut) ResetPayload() {
	e.Buffer.Reset()
}

func (e *EnvelopeOut) SetHeaders(headers {{goQualR "Headers"}}) {
	e.headers = headers
}

func (e *EnvelopeOut) SetContentType(contentType string) {
	e.contentType = contentType
}

func (e *EnvelopeOut) SetBindings(_ {{goQualU "udp" "MessageBindings"}}) {}

func (e *EnvelopeOut) SetRemoteAddr(addr net.Addr) {
	e.remoteAddr = addr
}

func (e *EnvelopeOut) RemoteAddr() net.Addr {
	return e.remoteAddr
}

func NewEnvelopeIn(msg []byte, addr net.Addr) *EnvelopeIn {
	return &EnvelopeIn{Reader: bytes.NewReader(msg), remoteAddr: addr}
}

type EnvelopeIn struct {
	*bytes.Reader
	remoteAddr net.Addr
}

func (e *EnvelopeIn) Headers() {{goQualR "Headers"}} {
	return nil
}

func (e *EnvelopeIn) RemoteAddr() net.Addr {
	return e.remoteAddr
}
