{{- /* dot == render.ProtoServer */}}

{{define "server/redis/impl/github.com/redis/go-redis/newClient"}}
    client, err := {{with impl .Protocol}}{{gopkg .}}{{end}}NewClient(url)
    if err != nil {
        return nil, err
    }
    producer, consumer := client, client
{{- end}}

{{define "server/redis/impl/github.com/redis/go-redis/newProducer"}}
    producer, err := {{with impl .Protocol}}{{gopkg .}}{{end}}NewClient(url)
    if err != nil {
        return nil, err
    }
{{- end}}

{{define "server/redis/impl/github.com/redis/go-redis/newConsumer"}}
    consumer, err := {{with impl .Protocol}}{{gopkg .}}{{end}}NewClient(url)
    if err != nil {
        return nil, err
    }
{{- end}}