{{/* dot == lang.GoSimple */}}
{{define "code/lang/typeFormat/string/date-time/definition"}}
    {{- goQual "time.Time" }}
{{- end}}
{{define "code/lang/typeFormat/string/date-time/usage"}}
    {{- goQual "time.Time" }}
{{- end}}

{{define "code/lang/typeFormat/string/datetime/definition"}}
    {{- goQual "time.Time" }}
{{- end}}
{{define "code/lang/typeFormat/string/datetime/usage"}}
    {{- goQual "time.Time" }}
{{- end}}

{{define "code/lang/typeFormat/string/ipv4/definition"}}
    {{- goQual "net.IP" }}
{{- end}}
{{define "code/lang/typeFormat/string/ipv4/usage"}}
    {{- goQual "net.IP" }}
{{- end}}

{{define "code/lang/typeFormat/string/ipv6/definition"}}
    {{- goQual "net.IP" }}
{{- end}}
{{define "code/lang/typeFormat/string/ipv6/usage"}}
    {{- goQual "net.IP" }}
{{- end}}

{{define "code/lang/typeFormat/string/uuid/definition"}}
    {{- goQual "github.com/google/uuid.UUID" }}
{{- end}}
{{define "code/lang/typeFormat/string/uuid/usage"}}
    {{- goQual "github.com/google/uuid.UUID" }}
{{- end}}

{{define "code/lang/typeFormat/string/binary/definition" -}}
    []byte
{{- end}}
{{define "code/lang/typeFormat/string/binary/usage" -}}
    []byte
{{- end}}

{{define "code/lang/typeFormat/string/bytes/definition" -}}
    []byte
{{- end}}
{{define "code/lang/typeFormat/string/bytes/usage" -}}
    []byte
{{- end}}

{{define "code/lang/typeFormat/integer/int8/definition" -}}
    int8
{{- end}}
{{define "code/lang/typeFormat/integer/int8/usage" -}}
    int8
{{- end}}

{{define "code/lang/typeFormat/integer/int16/definition" -}}
    int16
{{- end}}
{{define "code/lang/typeFormat/integer/int16/usage" -}}
    int16
{{- end}}

{{define "code/lang/typeFormat/integer/int32/definition" -}}
    int32
{{- end}}
{{define "code/lang/typeFormat/integer/int32/usage" -}}
    int32
{{- end}}

{{define "code/lang/typeFormat/integer/int64/definition" -}}
    int64
{{- end}}
{{define "code/lang/typeFormat/integer/int64/usage" -}}
    int64
{{- end}}

{{define "code/lang/typeFormat/integer/uint8/definition" -}}
    uint8
{{- end}}
{{define "code/lang/typeFormat/integer/uint8/usage" -}}
    uint8
{{- end}}

{{define "code/lang/typeFormat/integer/uint16/definition" -}}
    uint16
{{- end}}
{{define "code/lang/typeFormat/integer/uint16/usage" -}}
    uint16
{{- end}}

{{define "code/lang/typeFormat/integer/uint32/definition" -}}
    uint32
{{- end}}
{{define "code/lang/typeFormat/integer/uint32/usage" -}}
    uint32
{{- end}}

{{define "code/lang/typeFormat/integer/uint64/definition" -}}
    uint64
{{- end}}
{{define "code/lang/typeFormat/integer/uint64/usage" -}}
    uint64
{{- end}}

{{define "code/lang/typeFormat/integer/uint/definition" -}}
    uint
{{- end}}
{{define "code/lang/typeFormat/integer/uint/usage" -}}
    uint
{{- end}}

{{define "code/lang/typeFormat/number/float/definition" -}}
    float32
{{- end}}
{{define "code/lang/typeFormat/number/float/usage" -}}
    float32
{{- end}}

{{define "code/lang/typeFormat/number/double/definition" -}}
    float64
{{- end}}
{{define "code/lang/typeFormat/number/double/usage" -}}
    float64
{{- end}}

{{define "code/lang/typeFormat/number/decimal/definition"}}
    {{- goQual "github.com/shopspring/decimal.Decimal" }}
{{- end}}
{{define "code/lang/typeFormat/number/decimal/usage"}}
    {{- goQual "github.com/shopspring/decimal.Decimal" }}
{{- end}}
