{{/* dot == lang.GoSimple */}}
{{define "code/lang/typeFormat/string/date-time/definition"}}
    type {{ goID . }} {{goPkgExt "time"}}Time
{{- end}}
{{define "code/lang/typeFormat/string/date-time/usage"}}
    {{- goPkgExt "time" }}Time
{{- end}}

{{define "code/lang/typeFormat/string/datetime/definition"}}
    type {{ goID . }} {{ goPkgExt "time" }}Time
{{- end}}
{{define "code/lang/typeFormat/string/datetime/usage"}}
    {{- goPkgExt "time" }}Time
{{- end}}

{{define "code/lang/typeFormat/string/ipv4/definition"}}
    type {{ goID . }} {{ goPkgExt "net" }}IP
{{- end}}
{{define "code/lang/typeFormat/string/ipv4/usage"}}
    {{- goPkgExt "net" }}IP
{{- end}}

{{define "code/lang/typeFormat/string/ipv6/definition"}}
    type {{ goID . }} {{ goPkgExt "net" }}IP
{{- end}}
{{define "code/lang/typeFormat/string/ipv6/usage"}}
    {{- goPkgExt "net" }}IP
{{- end}}

{{define "code/lang/typeFormat/string/uuid/definition"}}
    type {{ goID . }} {{ goPkgExt "github.com/google/uuid" }}UUID
{{- end}}
{{define "code/lang/typeFormat/string/uuid/usage"}}
    {{- goPkgExt "github.com/google/uuid" }}UUID
{{- end}}

{{define "code/lang/typeFormat/string/binary/definition" -}}
    type {{ goID . }} []byte
{{- end}}
{{define "code/lang/typeFormat/string/binary/usage" -}}
    []byte
{{- end}}

{{define "code/lang/typeFormat/string/bytes/definition" -}}
    type {{ goID . }} []byte
{{- end}}
{{define "code/lang/typeFormat/string/bytes/usage" -}}
    []byte
{{- end}}

{{define "code/lang/typeFormat/integer/int8/definition" -}}
    type {{ goID . }} int8
{{- end}}
{{define "code/lang/typeFormat/integer/int8/usage" -}}
    int8
{{- end}}

{{define "code/lang/typeFormat/integer/int16/definition" -}}
    type {{ goID . }} int16
{{- end}}
{{define "code/lang/typeFormat/integer/int16/usage" -}}
    int16
{{- end}}

{{define "code/lang/typeFormat/integer/int32/definition" -}}
    type {{ goID . }} int32
{{- end}}
{{define "code/lang/typeFormat/integer/int32/usage" -}}
    int32
{{- end}}

{{define "code/lang/typeFormat/integer/int64/definition" -}}
    type {{ goID . }} int64
{{- end}}
{{define "code/lang/typeFormat/integer/int64/usage" -}}
    int64
{{- end}}

{{define "code/lang/typeFormat/integer/uint8/definition" -}}
    type {{ goID . }} uint8
{{- end}}
{{define "code/lang/typeFormat/integer/uint8/usage" -}}
    uint8
{{- end}}

{{define "code/lang/typeFormat/integer/uint16/definition" -}}
    type {{ goID . }} uint16
{{- end}}
{{define "code/lang/typeFormat/integer/uint16/usage" -}}
    uint16
{{- end}}

{{define "code/lang/typeFormat/integer/uint32/definition" -}}
    type {{ goID . }} uint32
{{- end}}
{{define "code/lang/typeFormat/integer/uint32/usage" -}}
    uint32
{{- end}}

{{define "code/lang/typeFormat/integer/uint64/definition" -}}
    type {{ goID . }} uint64
{{- end}}
{{define "code/lang/typeFormat/integer/uint64/usage" -}}
    uint64
{{- end}}

{{define "code/lang/typeFormat/integer/uint/definition" -}}
    type {{ goID . }} uint
{{- end}}
{{define "code/lang/typeFormat/integer/uint/usage" -}}
    uint
{{- end}}

{{define "code/lang/typeFormat/number/float/definition" -}}
    type {{ goID . }} float32
{{- end}}
{{define "code/lang/typeFormat/number/float/usage" -}}
    float32
{{- end}}

{{define "code/lang/typeFormat/number/double/definition" -}}
    type {{ goID . }} float64
{{- end}}
{{define "code/lang/typeFormat/number/double/usage" -}}
    float64
{{- end}}

{{define "code/lang/typeFormat/number/decimal/definition"}}
    type {{ goID . }} {{ goPkgExt "github.com/shopspring/decimal" }}Decimal
{{- end}}
{{define "code/lang/typeFormat/number/decimal/usage"}}
    {{- goPkgExt "github.com/shopspring/decimal" }}Decimal
{{- end}}
