{{- /* dot == lang.GoArray */}}

{{define "code/lang/goarray/definition"}}
    {{- if .Description }}
        {{ print (goIDUpper .) "--" .Description | goComment }}
    {{- end }}
    type {{ . | goIDUpper }} [{{ with .Size }}{{.}}{{ end }}]{{ .ItemsType | goUsage }}
{{- end}}
{{define "code/lang/goarray/usage"}}
    {{- if .HasDefinition }}
        {{- if .Import }}
            {{- goQual .Import (goIDUpper .) }}
        {{- else }}
            {{- goPkg . }}{{ . | goIDUpper }}
        {{- end }}
    {{- else -}}
        [{{ with .Size }}{{.}}{{ end }}]{{ .ItemsType | goUsage }}
    {{- end }}
{{- end}}