{{- /* dot == lang.GoArray */}}

{{define "lang/goarray/definition"}}
    {{- if .Description }}
        {{ print (goid .) "--" .Description | gocomment }}
    {{- end }}
    type {{ . | goid }} [{{ if .Size }}{{ .Size }}{{ end }}]{{ .ItemsType | gousage }}
{{- end}}
{{define "lang/goarray/usage"}}
    {{- if .HasDefinition }}
        {{- if .Import }}
            {{- goqual .Import (goid .) }}
        {{- else }}
            {{- gopkg . }}{{ . | goid }}
        {{- end }}
    {{- else -}}
        [{{ if .Size }}{{ .Size }}{{ end }}]{{ .ItemsType | gousage }}
    {{- end }}
{{- end}}