{{- /* dot == lang.GoMap */}}

{{define "code/lang/gomap/definition"}}
    {{- if .Description }}
        {{ print (goID .) "--" .Description | goComment }}
    {{- end }}
    type {{ . | goID }} map[{{ .KeyType | goUsage }}]{{ .ValueType | goUsage }}
{{- end}}
{{define "code/lang/gomap/usage"}}
    {{- if .HasDefinition }}
        {{if .Import }}
            {{ goPkgExt .Import }}{{goID .}}
        {{- else }}
            {{ goPkg . }}{{ . | goID }}
        {{- end }}
    {{- else -}}
        map[{{ .KeyType | goUsage }}]{{ .ValueType | goUsage }}
    {{- end }}
{{- end}}