{{- /* dot == lang.GoMap */}}

{{define "code/lang/gomap/definition"}}
    {{- if .Description }}
        {{ print (goIDUpper .) "--" .Description | goComment }}
    {{- end }}
    type {{ . | goIDUpper }} map[{{ .KeyType | goUsage }}]{{ .ValueType | goUsage }}
{{- end}}
{{define "code/lang/gomap/usage"}}
    {{- if .HasDefinition }}
        {{if .Import }}
            {{ goQual .Import (goIDUpper .) }}
        {{- else }}
            {{ goPkg . }}{{ . | goIDUpper }}
        {{- end }}
    {{- else -}}
        map[{{ .KeyType | goUsage }}]{{ .ValueType | goUsage }}
    {{- end }}
{{- end}}