{{- /* dot == lang.GoPointer */}}

{{define "lang/gopointer/definition"}}
    {{- .Type | goDef }}
{{- end}}
{{define "lang/gopointer/usage"}}
    {{- if .Type.Addressable}}*{{end}}{{ .Type | goUsage }}
{{- end}}
