{{- /* dot == lang.GoPointer */}}

{{define "lang/gopointer/definition"}}
    {{- .Type | godef }}
{{- end}}
{{define "lang/gopointer/usage"}}
    {{- if .Type.Addressable}}*{{end}}{{ .Type | gousage }}
{{- end}}
