{{- /* dot == lang.GoSimple */}}

{{define "code/lang/gosimple/definition"}}
    {{-  .Name }}
{{- end}}
{{define "code/lang/gosimple/usage"}}
    {{- if .RuntimeImport}}
        {{- goQualR .Import .Name }}
    {{- else if .Import }}
        {{- goQual .Import .Name }}
    {{- else }}
        {{- goPkg . }}{{ .Name }}
    {{- end }}
{{- end}}