{{- /* dot == lang.GoSimple */}}

{{define "code/lang/gosimple/definition"}}
    {{- with tryTmpl (print "code/lang/typeFormat/" .OriginalType "/" .OriginalFormat "/definition") .}}
        {{- .}}
    {{- else }}
        type {{ goID . }} {{if .Import}}{{goPkgExt .Import }}{{end}}{{.TypeName}}
    {{- end}}
{{- end}}
{{define "code/lang/gosimple/usage"}}
    {{- with tryTmpl (print "code/lang/typeFormat/" .OriginalType "/" .OriginalFormat "/usage") .}}
        {{- .}}
    {{- else }}
        {{- if .Import }}
            {{- goPkgExt .Import }}{{.Name}}
        {{- else }}
            {{- goPkg . }}{{ .Name }}
        {{- end }}
    {{- end}}
{{- end}}