{{- /* dot == lang.GoSimple */}}

{{define "code/lang/gosimple/definition"}}
    {{- with tryTmpl (print "code/lang/typeFormat/" .OriginalType "/" .OriginalFormat "/definition") .}}
        {{- .}}
    {{- else}}
        {{-  .Name }}
    {{- end}}
{{- end}}
{{define "code/lang/gosimple/usage"}}
    {{- with tryTmpl (print "code/lang/typeFormat/" .OriginalType "/" .OriginalFormat "/usage") .}}
        {{- .}}
    {{- else }}
        {{- if .Import }}
            {{- goQual .Import .Name }}
        {{- else }}
            {{- goPkg . }}{{ .Name }}
        {{- end }}
    {{- end}}
{{- end}}