{{- /* dot == lang.GoStruct */}}

{{define "code/lang/gostruct/definition"}}
    {{- if .Description }}
        {{- print (goIDUpper .) "--" .Description | goComment }}
    {{- end }}
    type {{ . | goIDUpper }} struct {
        {{- range .Fields }}
            {{- if .Description }}
                {{ print .Name "--" .Description | goComment }}
            {{- end }}
            {{ .Name }} {{ .Type | goUsage }} {{.RenderTags}}
        {{- end }}
    }
{{- end}}
{{define "code/lang/gostruct/usage"}}
    {{- if .HasDefinition }}
        {{- if .Import }}
            {{- goQual .Import (goIDUpper .) }}
        {{- else }}
            {{- goPkg . }}{{ . | goIDUpper }}
        {{- end }}
    {{- else -}}
        struct {
            {{- range .Fields }}
                {{- if .Description }}
                    {{ print .Name "--" .Description | goComment }}
                {{- end }}
                {{ .Name }} {{ .Type | goUsage }} {{.RenderTags}}
            {{- end }}
        }
    {{- end }}
{{- end}}