{{- /* dot == lang.GoTypeDefinition */}}

{{define "code/lang/gotypedefinition/definition"}}
    {{- if .Description }}
        {{ print (goIDUpper .) "--" .Description | goComment }}
    {{- end }}
    type {{ . | goIDUpper }} {{ .RedefinedType | goDef }}
{{- end}}
{{define "code/lang/gotypedefinition/usage"}}
    {{- if .HasDefinition }}
        {{- if .Import }}
            {{- goPkgExt .Import }}{{goIDUpper .}}
        {{- else }}
            {{- goPkg . }}{{ . | goIDUpper }}
        {{- end }}
    {{- else }}
        {{- .RedefinedType | goUsage }}
    {{- end }}
{{- end}}