{{- /* dot == lang.GoTypeAlias */}}

{{define "lang/gotypealias/definition"}}
    {{- if .Description }}
        {{ print (goIDUpper .) "--" .Description | goComment }}
    {{- end }}
    type {{ . | goIDUpper }} {{ .AliasedType | goDef }}
{{- end}}
{{define "lang/gotypealias/usage"}}
    {{- if .HasDefinition }}
        {{- if .Import }}
            {{- goQual .Import (goIDUpper .) }}
        {{- else }}
            {{- goPkg . }}{{ . | goIDUpper }}
        {{- end }}
    {{- else }}
        {{- .AliasedType | goUsage }}
    {{- end }}
{{- end}}