{{- /* dot == lang.GoUnion */}}

{{define "lang/gounion/definition"}}
{{ .UnionStruct | goDef }}

func (u *{{ . | goIDUpper }}) UnmarshalJSON(data []byte) (err error) {
{{- range .Fields}}
    if err = {{goQual "encoding/json.Unmarshal"}}(bytes, {{if and (not .Type.IsPointer) .Type.Addressable}}&{{end}}u{{.Type.TypeName}}; err == nil {
        return
    }
{{- end}}
    return
}
{{- end}}
{{define "lang/gounion/usage"}}
    {{- template "lang/gostruct/usage" .}}
{{- end}}