{{- /* dot == lang.GoUnion */}}

{{define "code/lang/gounion/definition"}}
{{ .UnionStruct | goDef }}

func (u *{{ . | goIDUpper }}) UnmarshalJSON(data []byte) (err error) {
{{- range .Fields}}
    if err = {{goQual "encoding/json.Unmarshal"}}(data, {{if .Type.CanBeAddressed}}&{{end}}u.{{.Type.Name}}); err == nil {
        return
    }
{{- end}}
    return
}
{{- end}}
{{define "code/lang/gounion/usage"}}
    {{- template "code/lang/gostruct/usage" .}}
{{- end}}